@{
    ViewBag.Title = "Navigation";
    Layout = "~/Views/Shared/_LayoutNON.cshtml";
}
@Styles.Render("~/Themes/2013/stylesheets/StyleSheet2.css")

<div class="outline">
    <div class="title"><div><p>Navigation</p></div></div>
    <div class="navBox">
        <div class="nav sty01"><a href="#"><p>商家帳戶管理</p></a></div>
        <div class="nav sty02"><a href="#"><p>商品管理</p></a></div>
        <div class="nav sty03 active"><a href="#"><p>訂單管理</p></a>
            <div class="subox">
                <div class="tit">訂單管理</div>
                <div class="sub">
                    <div class="ss"><a href="#">顧客訂購清單</a></div>
                    <div class="ss active"><a href="#">訂單退換貨清單</a></div>
                    <div class="ss"><a href="#">其他通路訂單創建</a></div>
                </div>
            </div>
        </div>
        <div class="nav sty04"><a href="#"><p>促銷管理</p></a></div>
        <div class="nav sty05"><a href="#"><p>訊息管理</p></a></div>
        <div class="nav sty06"><a href="#"><p>商家店面管理</p></a></div>
        <div class="nav sty07"><a href="#"><p>商業報表</p></a></div>
        <div class="nav sty08"><a href="#"><p>其他報表</p></a></div>
        <div class="nav sty09"><a href="#"><p>商家維護與管理</p></a></div>
        <div class="nav sty10"><a href="#"><p>商品文案內容管理</p></a></div>
    </div>
</div>
<br /><br /><br />在div.outline上面加.thin就會縮起來~~~~<br /><br />
<div class="outline thin">
    <div class="title"><div><p>Navigation</p></div></div>
    <div class="navBox">
        <div class="nav sty01"><a href="#"><p>商家帳戶管理</p></a></div>
        <div class="nav sty02"><a href="#"><p>商品管理</p></a></div>
        <div class="nav sty03 active"><a href="#"><p>訂單管理</p></a>
            <div class="subox">
                <div class="tit">訂單管理</div>
                <div class="sub">
                    <div class="ss"><a href="#">顧客訂購清單</a></div>
                    <div class="ss active"><a href="#">訂單退換貨清單</a></div>
                    <div class="ss"><a href="#">其他通路訂單創建</a></div>
                </div>
            </div>
        </div>
        <div class="nav sty04"><a href="#"><p>促銷管理</p></a></div>
        <div class="nav sty05"><a href="#"><p>訊息管理</p></a></div>
        <div class="nav sty06"><a href="#"><p>商家店面管理</p></a></div>
        <div class="nav sty07"><a href="#"><p>商業報表</p></a></div>
        <div class="nav sty08"><a href="#"><p>其他報表</p></a></div>
        <div class="nav sty09"><a href="#"><p>商家維護與管理</p></a></div>
        <div class="nav sty10"><a href="#"><p>商品文案內容管理</p></a></div>
    </div>
</div>