@{
    ViewBag.Title = "Navigation";
}
@Styles.Render("~/Themes/2013/stylesheets/StyleSheet1.css")

<div class="Wrapper">
    <div id="Header">

    </div>

    <div class="mainArea">

    </div>

    <div id="Footer">
    	<a onclick="javascript:window.open(&#39;https://sellerportal.newegg.com/Pages/Account/PolicyAndAgreement.aspx&#39;,  &#39;newwindow&#39;, &#39;height=600,width=900, left=0,top=0,toolbar =no, menubar=no, scrollbars=no, resizable=no, location=no, status=no&#39;)" href="javascript:void(null);">Policy &amp; Agreement</a> | <a href="http://www.newegg.com/HelpInfo/PrivacySecurity.aspx">Privacy Policy</a> | © 2000-2013 Newegg Inc. All rights reserved.
    </div>
</div>