<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--Start Http / Https Connection Start-->
  <add key="IISEnableSSL" value="true" /> <!--what is iis enable ssl-->
  <add key="ECWebDomain" value="" /> <!--root domain name, ex: .newegg.com.tw-->
  <add key="ECWebHttpDomain" value="localhost" /> <!--domain name, ex: www.newegg.com.tw-->
  <add key="ECWebHttpPort" value="62608" /> <!--domain port, ex: 80-->
  <add key="ECWebHttpsDomain" value="localhost" /> <!--ssl domain name, ex: secure.newegg.com.tw-->
  <add key="ECWebHttpsPort" value="44303" /> <!--ssl domain port, ex: 443-->
  <add key="ECWebHttpImgDomain" value="https://negcdn.azureedge.net/www" /> <!--img domain name, ex: images.newegg.com.tw-->
  <add key="ECWebHttpImgPort" value="80" /> <!--img domain port, ex: 80-->
  <add key="ECWebHttpsImgDomain" value="https://negcdn.azureedge.net/www" /> <!--img ssl domain name, ex: ssl-images.newegg.com.tw-->
  <add key="ECWebHttpsImgPort" value="443" /> <!--img ssl domain port, ex: 443-->
  <add key="ECWebDeskDomain" value="http://localhost:50118" /> <!-- 桌機版的網址host, 當要跳轉到桌機版頁面時使用 -->
  <!--Start Http / Https Connection Start-->
  <!--Start Require by Framework Start-->
  <add key="ServiceApiAddressConfig" value="Configurations/ServiceApiAddress.config"/>
  <add key="MethodsConfig" value="Configurations/ServiceMethods.config"/>
  <add key="ComponentsConfig" value="Configurations/ServiceComponents.config"/>
  <add key="PublicMethodsConfig" value="Configurations/PublicMethods.config"/>
  <add key="ServiceApiCacheAppSetting" value="Configurations/ServiceApiCacheAppSettings.config"/>
  <!--End Require by Framework End-->
  <!--Start Google reCaptCha Start-->
  <add key="googlereCaptcha" value="success,true"/> <!--Google reCaptCha return success message-->
  <add key="GOOGLE_SECRET_KEY" value="6LdBUgATAAAAAJ3dFuFpoKre2fZ99J4ScwUAL50s"/> <!--Google reCaptCha Secret key-->
  <!--End Google reCaptCha End-->
  <!--Start AesAccount Key Start-->
  <add key="aesippkey" value="103ggEwT"/>
  <!--End AesAccount Key End-->

  <add key="Environment" value="DEV"/>
  <!--DEV-->
  <add key="DEV_IPP_URL" value="http://localhost:62958" />
  <add key="DEV_ECWeb_Url" value="http://10.16.131.41/"/>
  <!--Image Server IIS Root Directory-->
  <add key="DEV_ImageServerUrl" value="http://negcdn.azureedge.net/wwwtest" />
  <add key="DEV_ImageServer_1" value="http://negcdn.azureedge.net/wwwtest"/>
  <add key="DEV_ImageServer_2" value="http://negcdn.azureedge.net/wwwtest"/>

  <!--GQC-->
  <add key="GQC_IPP_URL" value="http://10.16.131.67" />
  <add key="GQC_ECWeb_Url" value="http://10.16.131.69/"/>
  <!--Image Server IIS Root Directory-->
  <add key="GQC_ImageServerUrl" value="http://10.16.131.67" />
  <add key="GQC_ImageServer_1" value="http://localhost:57332"/>
  <add key="GQC_ImageServer_2" value="http://localhost:57332"/>

  <!--PRD-->
  <add key="PRD_IPP_URL" value="http://172.22.48.131" />
  <add key="PRD_ECWeb_Url" value="https://secure.newegg.com.tw/"/>
  <!--Image Server IIS Root Directory-->
  <add key="PRD_ImageServerUrl" value="https://necdn.blob.core.windows.net" />
  <add key="PRD_ImageServer_1" value="https://necdn.blob.core.windows.net"/>
  <add key="PRD_ImageServer_2" value="https://necdn.blob.core.windows.net"/>
  
</appSettings>