<?xml version="1.0"?>
<ServiceApiAddressList>
  <ServiceApiAddress alias="e10srv" address="http://10.16.131.67:81" baseUrl="/api" apiPath="/ServiceApi/Process" latency="10000000" />
  
  <!--
  <ServiceApiAddress alias="e10srv" address="http://10.16.131.41:72" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />
  <ServiceApiAddress alias="e10srv" address="http://localhost:50278" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />
  <ServiceApiAddress alias="e10srv" address="http://10.16.131.67:81" baseUrl="/api" apiPath="/ServiceApi/Process" latency="10000000" />
  -->
</ServiceApiAddressList>
