<?xml version="1.0"?>
<ServiceMethods>
  <!--This is for request side (client side)-->
  <ServiceMethod methodName="report" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試Repository]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="report" componentID="TestService2" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試Repository]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="report2" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試Repository]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試單一回傳值]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test2" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試List回傳值]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test3" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試單一Model回傳值]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test4" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試List<Model>回傳值]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test5" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試List<Model>回傳值]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test6" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[nodata]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test7" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試List<ComplexModel>回傳值]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="report3" componentID="TestService2" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試autofac]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="report3" componentID="TestService3" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試autofac]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="report3" componentID="TestService4" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試autofac]]></methodDesc>
  </ServiceMethod>

  <!-- Category-->
  <ServiceMethod methodName="XML2Tree" componentID="Service.BaseService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[由Xml取得CategoryTree]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetCategory" componentID="Service.BaseService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[由Xml取得CategoryTree]]></methodDesc>
  </ServiceMethod>
  <!-- end of Category-->
  <!-- 2.0 ItemServices -->
  <ServiceMethod methodName="GetItemDetail" componentID="ItemDetailService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[賣場頁資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetItemDetails" componentID="ItemDetailService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得多筆賣場頁資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetItemDisplayPrice" componentID="ItemDisplayPriceService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[多個賣場價格]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetSingleItemDisplayPrice" componentID="ItemDisplayPriceService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[單個賣場價格]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetItemImagePath" componentID="ItemImageUrlService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[多個賣場圖片]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetSingleItemImagePath" componentID="ItemImageUrlService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[單個賣場圖片]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetItemInfoList" componentID="ItemInfoService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[賣場詳細資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetItemInfo" componentID="ItemInfoService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[賣場資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="SetItemDisplayPriceByIDs" componentID="ItemDisplayPriceService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[賣場資料總價化]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetItemMarketGroupByGroupId" componentID="ItemGroupService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據GroupId取得所有的ItemMarketGroup]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetRelativeItemMarketGroupByItemId" componentID="ItemGroupService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據ItemId取得與Item相關的所有ItemGroup]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetItemMarketGroupNameByItemId" componentID="ItemGroupService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據ItemId取得Item的屬性名稱]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="ItemStockService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[ItemStockService]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="ShelveService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[賣場上下架]]></methodDesc>
  </ServiceMethod>
  <!-- end of ItemServices -->
  <!-- MobileStoreServices -->
  <ServiceMethod methodName="GetMobileStoreInfo" componentID="MobileStoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得手機版分類頁面資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetMobileStoreItems" componentID="MobileStoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得手機版子分類的商品集合]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="QueryViewInfo" componentID="GroupBuyService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[賣場頁資料]]></methodDesc>
  </ServiceMethod>
  <!-- end of MobileStoreServices -->

  <!-- GroupBuy -->
  <ServiceMethod methodName="QueryViewInfo" componentID="GroupBuyService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[賣場頁資料]]></methodDesc>
  </ServiceMethod>
  <!-- end of GroupBuy -->

  <!-- Advertising-->
  <ServiceMethod methodName="GetActiveAdvEventByAdvEventTypeId" componentID="Service.AdvEventReposity" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據AdvEventType取得ActiveAdvEventItem]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetActiveAdvEventTypeListByAdvType" componentID="Service.AdvEventTypeReposity" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據AdvTypeCode取得ActiveAdvType]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetActiveAdvEventDisplayListByAdvEventTypeId" componentID="Service.AdvEventItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[GetActiveAdvEventDisplayListByAdvEventTypeId]]></methodDesc>
  </ServiceMethod>
  <!-- end of Advertising-->

  <!-- CategoryItemService -->
  <ServiceMethod methodName="GetCategoryItemsTopRows" componentID="CategoryItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得次分類商品列表的前幾筆]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetCategoryItems" componentID="CategoryItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得次分類商品]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetBreadCrumbs" componentID="CategoryItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取同一層級，加上父節點的麵包屑選單]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetCategoryBanner" componentID="CategoryItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取該分類廣告]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetCategoryAreaInfo" componentID="CategoryItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取該分類頁訊息]]></methodDesc>
  </ServiceMethod>
  <!-- end of CategoryItemService -->

  <!-- TrackServices -->
  <ServiceMethod methodName="AddToTracks" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[加入購物車]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="UpdateToTracks" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[加入購物車]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="DeleteFromTracks" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[刪除購物車]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="CleanOldAndUpdateTracks" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[掃描購物車]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetTracksStatus" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得精簡購物車資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetTracksDetial" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得詳細購物車資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAllTracksItemQty" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得全部購物車賣場數量]]></methodDesc>
  </ServiceMethod>
  <!-- end of TrackServices -->

  <!-- AccountServices -->
  <ServiceMethod methodName="*" componentID="AccountService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得會員資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="GetMemberService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得會員資料、收件人紀錄本與統一編號紀錄本資訊]]></methodDesc>
  </ServiceMethod>
  <!-- end of AccountServices -->

  <!-- RedeemService -->
  <ServiceMethod methodName="getActiveCouponListByAccount" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據會員Id取得擁有並且可使用的Coupon券列表]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="getCouponById" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據CouponId取得Coupon]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="getCouponByNumber" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據Coupon Number取得Coupon]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetCouponByAccountIdAndEventId" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得該User所有Coupon EventId為傳入參數的列表]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="addDynamicCouponByCouponMarketNumberAndUserAccount" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據coupon MarketNumber新增coupon給該會員]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="getUsedCouponListByAccount" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得這個帳號所有已使用過的coupon]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="getUsedCouponListByAccountByDate" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據日期區間取得這個帳號所有已使用過的coupon]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="getUsedCouponIn3MonthListByAccount" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得這個帳號最近三個月所有已使用過的coupon]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="getActiveCouponListByAccountAndDate" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據日期區間取得這個帳號目前有效可以使用的coupon]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="getAllCouponListByAccount" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得這個帳戶所有的Coupon(含未使用的, 但不包含系統一開始就不啟動的:Event.CouponActiveTypeOption.NotActive)]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="getWaitingActiveCouponByAccount" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得這個帳戶待生效的Coupon]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="editCoupon" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[修改coupon]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="editCouponList" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[修改一列coupon]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="getExpiredCouponListByAccount" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得已過期的Coupon]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="getActiveCouponByCouponId" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據CouponID取得Active的Coupon物件]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="addDynamicCouponByEventIdAndUserAccount" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據EventId新增Coupon至該User的帳戶]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="Service.PromotionGiftService.PromotionGiftRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[All of PromotionGift service function]]></methodDesc>
  </ServiceMethod>
  <!-- end of RedeemService-->

  <!-- SearchServices -->
  <ServiceMethod methodName="TotalSearch" componentID="Service.SearchService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得搜尋資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="TotalSearch" componentID="SolrService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得Solr搜尋資料]]></methodDesc>
  </ServiceMethod>
  <!-- end of SellerServices -->
  <!-- EventServices -->
  <ServiceMethod methodName="GetEvents" componentID="EventService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得折扣卷活動資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetSOItemByCodes" componentID="EventService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得折扣卷活動資料]]></methodDesc>
  </ServiceMethod>
  <!-- end of EventServices -->
  <!-- PromotionServices -->
  <ServiceMethod methodName="HasOverPurchaseDiscount" componentID="PromotionService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得該賣場可使用的優惠活動資訊]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="getItemPromotionGiftListInfo" componentID="PromotionService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得賣場清單可參與的優惠活動資訊]]></methodDesc>
  </ServiceMethod>
  <!-- end of PromotionServices -->
  <!-- ActivityService -->
  <ServiceMethod methodName="GetActivityByName" componentID="ActivityService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得活動資料]]></methodDesc>
  </ServiceMethod>
  <!-- end of ActivityService -->

  <!-- HotWords-->
  <ServiceMethod methodName="GetActive" componentID="HotWordsService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[關鍵字]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetById" componentID="HotWordsService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[關鍵字]]></methodDesc>
  </ServiceMethod>
  <!-- end of HotWords -->

  <!-- 依據 BSATW-177 手機改版需求增加 add by bruce 20160616-->
  <ServiceMethod methodName="*" destination="e10srv" componentID="DeviceAdSetService" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" timeOutSec="300">
    <methodDesc><![CDATA[InitData, GetShow, GetInfo, GetData, GetAll, Update, Add, Del]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" destination="e10srv" componentID="DeviceAdContentService" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" timeOutSec="300">
    <methodDesc><![CDATA[Save, GetShow, GetInfo, GetData, GetAll, Update, Add, Del, Empty]]></methodDesc>
  </ServiceMethod>
  <!-- end for 依據 BSATW-177 手機改版需求增加 add by bruce 20160616-->


  <!-- 依據BSATW-173 廢四機需求增加 癈四機賣場商品, 1=是癈四機 add by bruce 20160502-->
  <ServiceMethod methodName="*" destination="e10srv" componentID="Discard4Service" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" timeOutSec="300">
    <methodDesc><![CDATA[GetInfo, GetData, GetAll, Update, Add, Del]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" destination="e10srv" componentID="Discard4ItemService" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" timeOutSec="300">
    <methodDesc><![CDATA[GetInfo, GetData, GetAll, Update, Add, Del, InitData, Save]]></methodDesc>
  </ServiceMethod>
  <!-- end for 依據BSATW-173 廢四機需求增加 癈四機賣場商品, 1=是癈四機 add by bruce 20160502-->
  

  <!-- 登入問候語, 節日問候卡 add by bruce 20160414 WMTWNOR-3394 -->
  <ServiceMethod methodName="*" destination="e10srv" componentID="HolidayGreetingWordsService" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" timeOutSec="300">
    <methodDesc><![CDATA[GetSingle, GetInfo, GetData, GetAll, GetShow, Update, Add, Del, Save]]></methodDesc>
  </ServiceMethod>
  <!-- HR -->
  <ServiceMethod methodName="*" destination="e10srv" componentID="HomeGreetingWordsService" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" timeOutSec="300">
    <methodDesc><![CDATA[GetSingle, GetInfo, GetData, GetAll, GetShow, Update, Add, Del, Save]]></methodDesc>
  </ServiceMethod>
  <!-- end for 登入問候語, 節日問候卡 add by bruce 20160414 -->
  
  <!--Start ShoppingCart Start-->
  <ServiceMethod methodName="GetCartAllList" componentID="ShoppingCartService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[購物車清單]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="CartTempServices.CartTempService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[購物車暫存]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetIncreasePurchaseItemList" componentID="ShoppingCartService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得加價購商品清單]]></methodDesc>
  </ServiceMethod>
  <!--End ShoppingCart End-->

  <!-- StoreServices -->
  <ServiceMethod methodName="GetStoreInfo" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取第一次進入Store頁面的所有必要資訊]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetShopWindows" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取某個Store底下的指定ShopWindow資料集合]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetOptionStoreInfo" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取任選館的頁面全部資訊]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetOptionStoreListZone" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取任選館的商品列表顯示區]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetOptionStoreItems" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取任選館指定的特定Item集合]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetBanner" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取廣告資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAllBanner" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取全部廣告資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetHomeStoreInfo" componentID="HomeStoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取首頁包含櫥窗的所有資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetHomeShopWindows" componentID="HomeStoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取首頁櫥窗資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="IsChooseAny" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[是否為任選館]]></methodDesc>
  </ServiceMethod>
  <!-- end of StoreServices -->


  <!-- Category layer3 AD-->
  <ServiceMethod methodName="GetCategoryByCategoryID" componentID="CategoryNewServices" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[副標題]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAllParentCategoriesByCIDs" componentID="CategoryNewServices" destination="e10srv" destMethod="TWNESrv" cacheTime="43200" cacheName="{1}" source="RemoteService">
    <methodDesc><![CDATA[查詢分類的所有父分類]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAllParentCategoriesByItemIDs" componentID="CategoryNewServices" destination="e10srv" destMethod="TWNESrv" cacheTime="43200" cacheName="{1}" source="RemoteService">
    <methodDesc><![CDATA[查詢賣場的所有分類與父分類]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAdLayer3List" componentID="AdLayer3Services" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[查詢第三層分類廣告bannerAndItems]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAvailableAndVisibleItemID" componentID="AdLayer3Services" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[查詢有效的ItemIDs]]></methodDesc>
  </ServiceMethod>
  <!-- Category layer3 AD -->

  <!-- CategoryTop10Item  -->
  <ServiceMethod methodName="GetCategoryTopItem" componentID="CategoryTopItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得次分類TOP10商品]]></methodDesc>
  </ServiceMethod>
  <!-- end of CategoryTop10Item -->

</ServiceMethods>
