<?xml version="1.0"?>
<PublicMethods>
  <!--START  COMPONENT ID Service.GroupBuyService  START-->
  <PublicMethod methodName="QueryViewInfo" componentID="Service.GroupBuyService">
    <methodDesc><![CDATA[取得團購商品]]></methodDesc>
    <methodArgs>
      <type><![CDATA[TWNewEgg.GroupBuyService.Models.GroupBuyQueryCondition]]></type>
      <desc><![CDATA[搜尋條件model]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<TWNewEgg.GroupBuyService.Models.GroupBuyViewInfo>]]></returnType>
  </PublicMethod>
  <!--END  COMPONENT ID Service.GroupBuyService  END-->
  <PublicMethod methodName="Draw" componentID="Type1Lottery">
    <methodDesc><![CDATA[抽獎]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[會員ID]]></desc>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[抽獎ID]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<TWNewEgg.Models.DBModels.TWSQLDB.LotteryAward>]]></returnType>
  </PublicMethod>
</PublicMethods>
