<?xml version="1.0"?>
<ServiceApiAddressList>
  <!--START  E10WEB  START-->
  <ServiceApiAddress alias="e10web06" address="http://localhost:57035/" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />
  <!--<ServiceApiAddress alias="e10web07" address="http://127.0.0.1:71/" baseUrl="/api" apiPath="/ServiceApi/Process" latency="100000" />
  <ServiceApiAddress alias="e10web08" address="http://127.0.0.1:98/" baseUrl="/api" apiPath="/ServiceApi/Process" latency="100000" />-->
  <!--END  E10WEB  END-->
</ServiceApiAddressList>
