<?xml version="1.0"?>
<ServiceComponents>
  <!--START  NAMESPACE TWNewEgg.GroupBuyService  START--><!--
  <ServiceComponent componentID="UserService" nameSpace="TWNewEgg.API.Service" autofacInterface=""  baseUrl="" apiPath="">
    <componentDesc><![CDATA[FindUser]]></componentDesc>
  </ServiceComponent>
  --><!--END  NAMESPACE TWNewEgg.GroupBuyService  END-->
</ServiceComponents>
