@{
    ViewBag.Title = "隱私權條款" + "-新蛋全球生活網";
}

@section addToFloatAccount {

}

@Styles.Render("~/content/css/ElementLibrary_Layout")
@Styles.Render("~/content/css/ElementLibrary")
@Styles.Render("~/content/css/Policies")

<div class="bread">
    <a href="/">首頁</a>>
    <span>新蛋全球生活網隱私權政策</span>
</div>
<div class="clear"></div>

<div>

<h4 class="Boldtext"><i class="icon Privacy"></i>新蛋全球生活網隱私權政策</h4>
<div class="Provision">
    <p>新蛋全球生活網（以下稱新蛋）是由新蛋集團（包含美國新蛋、新蛋全球生活網、新蛋信息技術有限公司）所合作建立，為承諾保護及尊重您的個人隱私。我們的營運活動均遵循保護個人隱私及個人資料安全之法令要求。新蛋隱私權政策(下稱「本政策」)將幫助您了解，我們可能蒐集之個人資料、我們如何利用、保護個人資料以及我們告知個人資料的對象。若您將個人資料提供予我們，將被視為您接受本政策。</p>
    <ul>
        <li>個人資料的蒐集、處理、利用
            <ul>
                <li>1.1 新蛋為了履行法定或合約義務、保護當事人及相關利害關係人之權益，依照各該服務之性質，可能蒐集您的姓名、連絡方式（包括但不限於電話、E-MAIL及地址等）、ＩＰ位址、及其他得以直接或間接識別使用者身分之個人資料。新蛋所蒐集的足以識別使用者身分的個人資料，都僅供新蛋或新蛋集團、協力廠商、宅配或貨運業者等依照上述之目的進行處理和利用，且我們會確保新蛋或新蛋集團、協力廠商、宅配或貨運等業者嚴格遵守本政策。</li>
                <li>1.2 除為配合法令、主管機關或司法單位之要求、或為保全法律上的請求、或抗辯或為防止詐騙或其他不法行為所必要以外，我們不會在與蒐集目的無關的範圍內使用或移轉您的個人資料予第三人。</li>
                <li>1.3	政策上，我們絕不會將與您有關的個人資料出租、出售、任意洩漏或提供予第三人。</li>
                <li>1.4 當蒐集該個人資料之特定目的消失時，新蛋會停止利用您的個人資料。</li>
            </ul>
        </li>
        <li>跨境傳輸
            <ul>
                <li>當您提供個人資料予新蛋時，您了解並同意該個人資料可能須在新蛋集團及（或）我們之協力廠商間作跨境之傳輸，且位處世界各地的新蛋集團及（或）我們之協力廠商皆可能儲存、處理您的個人資料。所有跨境之個人資料傳輸、儲存及利用您個人資料之行為皆應遵守本政策。</li>
            </ul>
        </li>
        <li>資料安全
            <ul>
                <li>3.1 為保障會員的隱私及安全，新蛋集團將盡力運用時下普遍之技術及程序，保障所有會員個人資料之安全。</li>
                <li>3.2 然而，我們無法保證網路安全完全無虞。我們建議您在使用網路時，以混合字母及數字方式建立帳號及密碼，並定期更換您的密碼。除此之外，您應隨時更新您的防毒軟體及使用病毒/間諜掃描程式。</li>
            </ul>
        </li>
        <li>個人資料查詢或更正方式
            <ul>
                <li>4.1 員對於其個人資料，有查詢及閱覽、製給複製本、補充或更正、停止電腦處理及利用、刪除等需求時，可以利用客服信箱及客服電話與新蛋聯繫。</li>
                <li>4.2 1.2.	若您不同意接受新蛋各行銷或活動訊息之傳送及利用，您可直接聯繫客服信箱及客服電話告知需求，新蛋即不再對您為任何行銷或活動訊息之傳送及利用。</li>
            </ul>
        </li>
        <li>Cookie
            <ul>
                <li>「Cookies」是指儲存於您電腦中，使您能登入本服務以及協助您個人化上網體驗的技術。新蛋會使用cookie技術，以便於提供會員所需要的服務；cookie是網站伺服器用來和會員瀏覽器進行網頁資料互動的一種技術，它可能在會員的電腦中隨機儲存字串，用以辨識區別使用者，若會員關閉cookie有可能導致無法順利登入網站或無法使用購物車等狀況。</li>
            </ul>
        </li>
        <li>隱私權保護條款修訂
            <ul>
                <li>我們有權，且為了因應社會環境及法令規定的變遷與科技的進步，新蛋將不定時依據法令及各類需求進行合理修改。會員如果對於此隱私權條款或與個人資料有關之相關事項有任何疑問，可以利用客服信箱及客服電話與新蛋聯繫。</li>
            </ul>
        </li>
    </ul>
</div>

</div>