@{
    ViewBag.Title = "退款流程與說明" + "-新蛋全球生活網";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section addToFloatAccount {

}

@Styles.Render("~/content/css/ElementLibrary_Layout")
@Styles.Render("~/content/css/ElementLibrary")
@Styles.Render("~/content/css/Policies")

<div class="pathLink">
    <a href="/">首頁</a>
    <span>></span>
    <a href="/Service/FAQ">服務說明</a>
    <span>></span>
    <span>退款流程與說明</span>
</div>

<div>

<h4 class="Boldtext"><i class="icon Clause"></i>退款流程與說明</h4>
<div class="Provision">

    <p>1. 退款程序說明:<br/>
        ※下述退款/退點時間皆為工作天8:30~17:30且未含假日(遇國定假日將順延)，如有造成您的不便，還請見諒！</p>
    <table>
        <tr>
            <th style="width:120px;">付款方式</th>
            <th style="width:100px;">退款方式</th>
            <th style="width:130px;">退款確認</th>
            <th style="width:210px;">退款時程</th>
            <th>備註</th>
        </tr>
        <tr>
            <td>信用卡</td>
            <td>原信用卡</td>
            <td rowspan="2">
                1. 商品經物流(供應商)端確定回收並檢測完成<br/>
                2. 「銷貨折讓單」簽回相關事宜，<span class="red">請參閱下方:銷貨折讓單簽回方式</span>。
            </td>
            <td>1. 商品退回確認無誤後3-5個工作天內<br/>
                2. 實際入帳依發卡銀行帳務時間為準<br/>
                3. 可與刷卡銀行端確認刷退事宜
            </td>
            <td>如一筆訂單中包含多項商品，辦理部分商品退貨者，僅提供帳戶匯款轉入退款方式，請您在填寫取消/退貨申請單時，提供訂單購買人的退款帳號資料銀行。</td>
        </tr>
        <tr>
            <td>實體ATM<br/>網路ATM<br/>宅配貨到付款<br/>超商取貨付款</td>
            <td>退至該用戶帳戶</td>
            <td>商品退回確認無誤後7-10個工作天內</td>
            <td>請於申請退貨單時，填寫下列資訊：<br />
                1.銀行 (如第一銀行)： <br/>
                2.銀行分行(如忠孝分行)： <br/>
                3.帳 號： <br/>
                4.戶 名：
            </td>
        </tr>
    </table>
    <br/>

    <p>2. 銷貨折讓單簽回方式:</p>
    <table>
        <tr>
            <th colspan="2">作業方式</th>
        </tr>
        <tr>
            <td style="width:70px;">個人發票</td>
            <td>請於發票背面之「銷貨折讓單」紅色框線欄位內簽名後寄回。</td>
        </tr>
        <tr>
            <td>法人發票</td>
            <td>請填妥完整之「制式銷退四聯單」及「加蓋發票章」，並寄回一、二聯，發票可請客戶自行留存，無需寄回。(客戶亦可向本司申請索取銷退四聯單)</td>
        </tr>
        <tr>
            <td>銷折單</td>
            <td>本司寄送予客戶的銷折單區分為「銷折單郵簡」及「銷退四聯單」二種：<br/>
                1. 銷折單郵簡：請於銷折單郵簡背面之紅色框線欄位內簽名或蓋章後寄回。<br/>
                2.「銷退四聯單」：請於銷退四聯單原買受人名稱處簽名或蓋章後，將白聯(第一聯)及紅聯(第二聯)寄回。
            </td>
        </tr>
    </table>

</div>

</div>