@{
}

@section addToFloatAccount {

}

@Styles.Render("~/content/css/ElementLibrary_Layout")
@Styles.Render("~/content/css/ElementLibrary")
@Styles.Render("~/content/css/Info_AboutUs")


<img src="/Themes/img/AboutTWNewEgg/AboutTWNewEgg_01.jpg" style="width:100%;">
@*↓↓↓↓↓↓↓↓↓↓固定外框值↓↓↓↓↓↓↓↓↓↓*@
<div class="Info">
    @*↓↓↓↓↓↓↓↓↓↓ 內容圖片 ↓↓↓↓↓↓↓↓↓↓*@
    <div class="AboutUs clear">
        <p class="Main">新蛋全球生活網 （Newegg.com.tw）是個分享全球風尚的跨境線上百貨，
            不只單純把商品上架，更是一個有文化、有溫度的商場。
            我們匯集世界各國美好的商品，將美好生活的概念與服務介紹給消費者，
            期許帶給顧客一個嶄新面貌的線上百貨。</p>
        <p class="Tit blue Boldtext">我們不只賣商品  我們還分享美好生活</p>
        <p class="List">
            <span class="Boldtext">分享：</span>以好東西與好朋友分享的理念選品，主題式的生活提案，分享全球美好生活的人事物。<br/>
            <span class="Boldtext">全球：</span>親赴世界各地，精選具有人文風情及城市特色的商品。<br/>
            <span class="Boldtext">風尚：</span>掌握全球潮流，創造屬於自己的風格，定義屬於自己的時尚。<br/>
            <span class="Boldtext">跨境：</span>美國新蛋網百萬件商品直購、台灣商品中國新蛋網上架。<br/>
            <span class="Boldtext">百貨：</span>重視生活品質，傳遞價值經濟美學。<br/>
        </p>
    </div>
    <img src="/Themes/img/AboutTWNewEgg/AboutTWNewEgg_03.jpg">
    @*↑↑↑↑↑↑↑↑↑ 內容圖片 ↑↑↑↑↑↑↑↑↑*@

</div>