@{
    ViewBag.Title = "新蛋集團" + "-新蛋全球生活網";
}

@section addToFloatAccount {

}

@Styles.Render("~/content/css/ElementLibrary_Layout")
@Styles.Render("~/content/css/ElementLibrary")
@Styles.Render("~/content/css/Info")

@*↓↓↓↓↓↓↓↓↓↓固定外框值↓↓↓↓↓↓↓↓↓↓*@
<div class="Info"">

    <img src="/Themes/img/AboutNewEgg/AboutNewEgg_01.jpg">

    <p>2001年新蛋集團（Newegg Inc.）成立於美國加州工業城，
        集團所經營的新蛋網（Newegg.com）以科技及消費性電子商品為主要銷售核心，
        發展至今已成為全球性的電子商務平台，也是北美最大的線上電子零售商，
        並締造營業額僅次於Amazon的佳績。新蛋網起初為B2C直銷零售商，如今採用多元商業模式，
        結合商城(Marketplace)、直接銷售（Direct Sales）、B2C、B2B、跨境（Cross-border）的營運模式，
        朝向全球性的跨境電子商務發展。</p>

    <p>新蛋集團在全球積極拓展，已於加拿大、中國、台灣地區設立分公司，
        據點分布在加州、密希沙加、上海、北京、西安、成都、台北、台中、高雄等9個城市。
        新蛋獨家的供應商配銷平台，隨時提供最新、最快的電腦硬體及消費性電子產品，
        並擁有詳細的產品說明，提供消費者透明且精緻的購物體驗。</p>

    <div class="Achievement clear">
        <img src="/Themes/img/AboutNewEgg/NewEggOffice.jpg">
        <h4 class="Tit Boldtext orange">獎項與認證</h4>
        <p>2012年《American Customer Satisfaction Index》美國電子零售商客戶滿意度排名第2名</p>
        <p>2012年《Dealerscope》零售卓越獎</p>
        <p>2012年《TWICE》百大零售商第11名</p>
        <p>2012年《Internet Retailer》前五百大網路零售商第13名</p>
        <p>2012年《Forbes》美國最大私人企業第170名</p>
    </div>

    <table>
        <tr>
            <td><img src="/Themes/img/AboutNewEgg/1209Hot100LeadInSeal.gif"></td>
            <td><img src="/Themes/img/AboutNewEgg/bizrate2003.gif"></td>
            <td><img src="/Themes/img/AboutNewEgg/BOW_gold_2010.jpg"></td>
            <td><img src="/Themes/img/AboutNewEgg/NFBgoldnodate_03.gif"></td>
            <td><img src="/Themes/img/AboutNewEgg/PGGold10K.gif"></td>

            <td><img src="~/Themes/img/AboutNewEgg/ForbesBOW120112.gif"></td>
            <td><img src="~/Themes/img/AboutNewEgg/Inc_5000.gif"></td>
            <td><img src="~/Themes/img/AboutNewEgg/28697_medal.gif"></td>
            <td><img src="~/Themes/img/AboutNewEgg/shopperchoice_logo_2011.jpg"></td>
        </tr>
        <tr>
            <td><img src="~/Themes/img/AboutNewEgg/shopperchoice_logo_2010.jpg"></td>
            <td><img src="/Themes/img/AboutNewEgg/certified_logo_lg.gif"></td>
            <td><img src="/Themes/img/AboutNewEgg/epinions_sdc_189.gif"></td>
            <td><img src="/Themes/img/AboutNewEgg/logo_dealtime.gif"></td>
            <td><img src="/Themes/img/AboutNewEgg/mscsp_lg.gif"></td>
            <td><img src="/Themes/img/AboutNewEgg/WBR.jpg"></td>

            <td><img src="/Themes/img/AboutNewEgg/rr-elite-badge.gif"></td>
            <td><img src="/Themes/img/AboutNewEgg/shopping.gif"></td>
            <td></td>

        </tr>
    </table>

</div>
