@{
    ViewBag.Title = "會員服務條款-新蛋全球生活網";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
<div class="main">
    <div class="row">
        <div class="col-xs-12">
            <div class="topper">
                <div class="title"><div class="tool"><i class="listi2"></i><div class="text">新蛋全球生活網會員服務條款</div></div></div>
                <div class="line graybg"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <p>親愛的客戶您好！</p>
        <p>歡迎您加入成為新蛋全球生活網(以下稱新蛋)會員，新蛋是由「台灣新蛋網股份有限公司」(以下稱本公司)所建置之的購物平台，為盡可能保護客戶的權益，同時確認本公司與會員間之契約關係，所有申請新蛋全球生活網服務之使用者，都應該詳細閱讀下列服務條款：</p>
        <ul>
            <li>認知與接受條款
                <ul class="list-unstyled">
                    <li>1.1 當會員完成新蛋之會員註冊手續、或開始使用新蛋相關功能時，即表示已閱讀、瞭解並同意接受本服務條款之所有內容，並完全接受本服務現有與未來衍生的服務項目及內容。</li>
                    <li>1.2 本公司有權於任何時間修改或變更本服務條款之內容，修改後的服務條款內容將公佈網站上，本公司將不會個別通知會員，建議會員隨時注意該等修改或變更。</li>
                    <li>1.3 本公司及會員雙方同意使用新蛋之所有內容包括意思表示等，以電子文件作為意思表示方法。</li>
                    <li>1.4 會員於任何修改或變更後繼續使用新蛋時，視為會員已閱讀、瞭解並同意接受本服務條款之修改或變更。</li>
                    <li>1.5 若不同意上述的服務條款修訂或更新方式，或不接受本服務條款的其中任一約定，會員應立即停止使新蛋一部或全部功能。</li>
                </ul>
            </li>
            <li>會員註冊義務
                <ul class="list-unstyled">
                    <li>2.1 會員承諾同意提供會員本人正確、最新的資料，且不得以第三人之名義註冊為會員。每位會員僅能註冊登錄一個帳號，不可重覆註冊登錄。</li>
                    <li>2.2 會員同意資料如有異動，自行更新並保持資料之正確，以獲取最佳新蛋相關服務。</li>
                    <li>2.3 若會員提供任何錯誤或不實的資料、或未按指示提供資料、或欠缺必要之資料、或有重覆註冊帳號等情事時，本公司有權不經事先通知，逕行暫停或終止會員的帳號，並拒絕會員使用新蛋之全部或一部。</li>
                </ul>
            </li>
            <li>隱私權政策
                <ul class="list-unstyled">
                    <li>有關會員註冊以及其他特定資料依「新蛋全球生活網會員隱私權條款」受到保護及規範。</li>
                </ul>
            </li>
            <li>會員帳號密碼及安全
                <ul class="list-unstyled">
                    <li>4.1 由會員自行設定一組E-mail和密碼 (初次設定密碼時,需要輸入兩次密碼以示確認)做為登入新蛋全球生活網的會員帳號和密碼。無論是否由會員本人親自輸入，均將視為為會員本人所使用，利用該密碼及帳號所進行的一切行動，會員本人應負完全責任。</li>
                    <li>4.2 會員同意當密碼或帳號遭到盜用或有其他任何安全問題發生時，會員將立即通知本公司。</li>
                    <li>4.3 會員的帳號、密碼及會員權益均僅供會員個人使用及享有，不得轉借、轉讓他人或與他人合用。</li>
                    <li>4.4 帳號及密碼遭盜用、不當使用或其他無法辯識是否為會員親自使用之情況時，對此所致之損害，除證明係因可歸責於新蛋之事由所致，本公司將不負任何責任。</li>
                    <li>4.5 會員同意每次使用新蛋時，均會將會員的帳號登出。</li>
                </ul>
            </li>
            <li>兒童及青少年保護
                <ul class="list-unstyled">
                    <li>為確保兒童及青少年使用網路的安全，並避免隱私權受到侵犯，家長（監護人）應盡到下列義務： 未滿十二歲之兒童於使用新蛋時，應全程在旁陪伴與指導，並予說明，十二歲以上未滿十八歲之青少年於使用新蛋前亦應斟酌是否給予同意。</li>
                </ul>
            </li>
            <li>使用者守法義務及承諾
                <ul class="list-unstyled">
                    <p>會員承諾絕不為任何非法目的或以任何非法方式使用新蛋，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。會員若係中華民國以外之使用者，並同意遵守所屬國家或所在地之法令。會員同意並保證不得利用新蛋從事侵害他人權益或違法之行為，包括但不限於：</p>
                    <li>6.1 公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案。</li>
                    <li>6.2 侵害或毀損本公司或他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利。</li>
                    <li>6.3 違反依法律或契約所應負之保密義務。</li>
                    <li>6.4 冒用他人名義使用本服務 。</li>
                    <li>6.5 傳輸或散佈電腦病毒。</li>
                    <li>6.6 從事未經本公司事前授權的商業行為。</li>
                    <li>6.7 刊載、傳輸、發送垃圾郵件、連鎖信、違法或未經本公司許可之多層次傳銷訊息及廣告等；或儲存任何侵害他人智慧財產權或違反法令之資料。</li>
                    <li>6.8 對新蛋其他用戶或第三人產生困擾、不悅或違反一般網路禮節致生反感之行為。</li>
                    <li>6.9 其他不符新蛋所提供的使用目的之行為或本公司有正當理由認為不適當之行為。</li>
                </ul>
            </li>
            <li>服務內容變換與電子報、EDM發送
                <ul class="list-unstyled">
                    <li>7.1 會員同意於新蛋所提供之相關範圍，本公司均得視需要及實際情形，增減、變更或終止相關服務的項目或內容，且無需個別通知會員。</li>
                    <li>7.2 會員同意新蛋得依實際執行情形，增加、修改或終止相關活動，並選擇最適方式告知會員。</li>
                    <li>7.3 會員同意新蛋得不定期發送電子報或商品訊息(EDM)至會員所登錄的電子信箱帳號。當會員收到訊息後表示拒絕接受行銷時，新蛋將停止繼續發送行銷訊息。</li>
                </ul>
            </li>
            <li>服務之停止與中斷
                <ul class="list-unstyled">
                    <p>本公司將依一般合理之技術及方式，維持新蛋之正常運作。但於以下各項情況時，本公司有權可以停止、中斷提供相關服務：</p>
                    <li>8.1 新蛋網站設備進行必要之保養及施工時。</li>
                    <li>8.2 由於天災等不可抗力之因素或其他不可歸責於本公司致使新蛋無法提供服務時。</li>
                    <li>8.3 新蛋申請之電子通信服務被停止，無法提供服務時。</li>
                </ul>
            </li>
            <li>交易行為
                <ul class="list-unstyled">
                    <li>9.1 會員於新蛋進行交易時，應依據新蛋所提供之商品數量及價格機制進行。</li>
                    <li>9.2 會員同意於新蛋選購產品時，於本公司通知確認交易成立前，本公司仍保有不接受訂單或取消出貨之權利。會員向本公司發出訂購通知後，系統將自動發出接受通知，但此通知並非訂單確認通知，關於交易成立與否新蛋全球生活網將另行告知。若因訂單內容之標的商品或服務，其交易條件(包括但不限於規格、內容說明、圖片、)有誤時，本公司仍得於下單後二工作日內拒絕該筆訂單。</li>
                    <li>9.3 如會員於新蛋訂購產品後任意退換貨、取消訂單、或有任何其他非正當理由而造成本公司作業上之困擾或損害之行為，本公司有權採取拒絕交易、暫停取消，或永久取消會員資格。</li>
                    <li>9.4 會員於新蛋進行交易時，得依照消費者保護法之規定行使權利。因會員之交易行為而對本服務條款產生疑義時，應為有利於消費者之解釋。</li>
                    <li>9.5 為確保網路交易安全，您同意本公司得就上述資料向發卡銀行及持卡人查證是否屬實。如有冒用他人信用卡或其他個人資料而僞刷卡交易者，經查獲必移送法辦。</li>
                </ul>
            </li>
            <li>消費優惠權利說明
                <ul class="list-unstyled">
                    <li>會員享有各項專屬的會員優惠服務或最新資訊；如折扣、滿額折、折價券、回饋金、抽獎、贈獎等專案活動及優惠方案（上述所有優惠不可合併同時使用。故會員若同時擁有二種優惠時，只能擇其一種方式進行折抵（如該活動已有滿額折，則折價券／回饋金皆無法使用）。</li>
                    <li>關於各項行銷活動與會員專屬活動將不定期舉辦，詳細活動辦法請詳閱各活動網頁說明。我們將保留隨時變更、修改與解釋或終止活動之權利，若有異動及修改內容將在本網站上公佈，恕不另外個別通知。</li>
                </ul>
            </li>
            <li>責任之限制與排除
                <ul class="list-unstyled">
                    <li>10.1 本公司對新蛋所提供之各項功能、速度、完整性、可靠性、安全性、正確性等，皆不負擔任何明示或默示之擔保責任。</li>
                    <li>10.2 本公司並不保證本服務之網頁、伺服器、網域等所傳送的電子郵件或其內容不會含有電腦病毒等有害物；亦不保證郵件、檔案或資料之傳輸儲存均正確無誤不會斷線和出錯等，因各該郵件、檔案或資料傳送或儲存失敗、遺失或錯誤等所致之損害，新蛋全球生活網不負賠償責任。</li>
                </ul>
            </li>
            <li>智慧財產權保護
                <ul class="list-unstyled">
                    <li>11.1 本公司所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由本公司或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。若會員欲引用或轉載前述軟體、程式或網站內容，必須依法取得本公司或其他權利人的事前書面同意。如有違反，會員及使用者應對本公司負損害賠償責任（包括但不限於訴訟費用及律師費用等）。</li>
                    <li>11.2 會員及使用者同意在使用本公司之服務時，不作侵害他人智慧財產權之行為。</li>
                    <li>11.3 若會員有涉及侵權之情事，本公司可暫停全部或部份之服務，或逕自以取消會員帳號之方式處理。</li>
                </ul>
            </li>
            <li>會員及使用者之授權
                <ul class="list-unstyled">
                    <li>對於會員上載、傳送、輸入或提供之資料，會員同意本公司得於合理之範圍內蒐集、處理、保存、傳遞及使用該等資料，以提供使用者其他資訊或服務、或作成會員統計資料、或進行關於網路行為之調查或研究，或為任何之合法使用。 若會員無合法權利得授權他人使用、修改、重製、公開播送、改作、散布、發行、公開發表某資料，並將前述權利轉授權第三人，請勿擅自將該資料上載、傳送、輸入或提供至本公司。任何資料一經會員上載、傳送、輸入或提供至本公司時，視為會員已允許本公司無條件使用、修改、重製、公開播送、改作、散布、發行、公開發表該等資料，並得將前述權利轉授權他人，會員對此絕無異議。會員並應保證本公司使用、修改、重製、公開播送、改作、散布、發行、公開發表、轉授權該等資料，不致侵害任何第三人之智慧財產權，否則應對本公司負損害賠償責任（包括但不限於訴訟費用及律師費用等）。</li>
                </ul>
            </li>
            <li>特別授權事項
                <ul class="list-unstyled">
                    <li>本公司為完成網路交易或相關活動，可能須透過宅配或貨運業者始能完成貨品(或贈品等)之配送或取回，因此，會員同意並授權本公司得視該次網路交易或活動之需求及目的，將由會員所提供且為配送所必要之個人資料(如收件人姓名、配送地址、連絡電話等)，提供予宅配貨運業者及相關配合之廠商，以利完成該次貨品(或贈品等)之配送、取回。</li>
                </ul>
            </li>
            <li>拒絕或終止條款
                <ul class="list-unstyled">
                    <li>會員同意本公司得基於維護交易安全之考量，因任何理由，包含但不限於缺乏使用，或違反本服務條款的明文規定及精神，終止會員的密碼、帳號（或其任何部分）或本服務（或其任何部分）之使用，或將本服務內任何「會員內容」加以移除並刪除。此外，會員同意若本服務（或其任何部分）之使用被終止，本公司對會員或任何第三人均不承擔責任。</li>
                </ul>
            </li>
            <li>準據法與管轄法院
                <ul class="list-unstyled">
                    <li>本服務條款之解釋與適用，以及與本服務條款有關或會員與新蛋全球生活網間因交易行為而產生之爭議或糾紛，應依照中華民國法律予以處理，並以台灣台北地方法院為第一審管轄法院，但若法律對於管轄法院另有強制規定者，仍應依其規定。</li>
                </ul>
            </li>
        </ul>
    </div>
</div><!-- /.main -->
</div><!-- /.wrapper -->

@section styleSheets {
    @Styles.Render("~/Themes/css/bootstrap.css")
    @Styles.Render("~/Themes/css/mStyle.css")
    @Styles.Render("~/Themes/css/font-awesome/css/font-awesome.css")
}

@section scripts{
    <script src="/Scripts/jquery.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
}