@charset "UTF-8";
.clear, .wrapper, .serviceContentBox, .serviceContentBox .sTit, .serviceContentBox .service_contentTable {
  clear: both;
}

/*Main Width*/
.wrapper {
  margin: 0 auto;
  /*width:$wrapperWidth;*/
}
.wrapper:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}

/*.mainPadding {
	@extend .clear;
	@include clearAfter;
	padding:$mainContentPadding;
	width:$mainContentWidth;
}*/
/*水平線*/
hr {
  border: 0;
  border-top-width: 1px;
  border-style: solid;
}
hr.verticalDir {
  display: inline-block;
  position: relative;
  top: -1px;
  border-left: 1px solid;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

/*ICON*/
i.icon {
  /*display:inline-block;
  vertical-align:middle;*/
}

/*輸入框*/
input, input[type="text"], input[type="password"], input[type="tel"], textarea {
  /*padding:5px 10px;
  border-width:1px;
  border-style:solid;
  vertical-align:middle;
  font-family:$mainFontStyle;*/
}

input + input, input + .btn, .selector + input, .selector + .btn, input[type="button"] + input, input[type="button"] + .btn, .btn + input, .btn + .btn {
  margin-left: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

input[type="button"], input[type="submit"], .btn {
  margin: 5px 0;
  padding: 10px 0;
  border: 0;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
input[type="button"]:hover, input[type="submit"]:hover, .btn:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

/*麵包屑*/
.pathLink {
  font-size: 15px;
}
.pathLink span {
  margin: 0 3px;
}

/*頁碼*/
.btmPageArea {
  position: relative;
  text-align: center;
}
.btmPageArea:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.btmPageArea a {
  display: inline-block;
  /*float:left;*/
  padding: 5px;
  vertical-align: middle;
  background: #fff;
  color: #777;
}
.btmPageArea a:hover {
  background: #f78d51;
  color: #fff;
}
.btmPageArea .arrow {
  position: relative;
  padding: 0;
  width: 30px;
  height: 30px;
  background: #f78d51;
}
.btmPageArea .arrow:hover {
  background: #f56d20;
  color: #fff;
}
.btmPageArea .arrLeft {
  left: -25px;
}
.btmPageArea .arrRight {
  right: -25px;
}

/*自製select*/
.selector {
  position: relative;
  cursor: pointer;
}
.selector:active ul, .selector:focus ul, .selector.active ul {
  z-index: 1;
  background: #fff;
}
.selector:active ul li, .selector:focus ul li, .selector.active ul li {
  display: block;
}
.selector .default {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  *width: 90%;
  position: relative;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
}
.selector .default .icon-arrow {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 33px;
  height: 100%;
  background: url(/Themes/img/Icon/SelectImg.png) no-repeat center;
  border-width: 1px;
  border-style: solid;
}
.selector ul {
  position: absolute;
  top: 28px;
  z-index: 0;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  max-height: 90px;
  border-width: 1px;
  border-style: solid;
}
.selector ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  *width: 90%;
  position: relative;
  padding: 5px;
  border-style: solid;
  display: none;
  margin-top: -1px;
}

.selector-birth {
  /*position:relative; 
  .icon-arrow {
  	display:block;
  	position:absolute;
  	top:0;
  	right:0;
  	width:26px;
  	height:29px;*/
  /*}*/
}
.selector-birth input {
  background-image: url("/Themes/img/Icon/DateFarToNearImg.png");
  background-repeat: no-repeat;
  background-position: right;
}

/*頁籤樣式:我的回饋金.我的折價券.我的訂單.我的最愛清單.我的帳戶*/
/*頁籤Width*/
/*頁籤maxWidth*/
/*頁籤Height*/
/*頁籤Padding*/
/*頁籤innerHeight*/
.serviceTabArea {
  width: 100%;
}
.serviceTabArea:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.serviceTabArea .tab {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  float: left;
  padding: 3px 35px;
  max-width: 130px;
  height: 42px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  line-height: 42px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.serviceTabArea .tab + .tab {
  margin-left: -1px;
}
.serviceTabArea .tab:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.serviceTabArea .tab:hover i.icon {
  background-position: -10px 0;
}
.serviceTabArea .tab.active {
  background-repeat: no-repeat;
  background-position: right;
}
.serviceTabArea .tab i.icon {
  margin-right: 10px;
  /*background-image:url(/Themes/img/header-icon.png);*/
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*頁籤內容*/
.serviceContentBox {
  margin-top: -1px;
  padding: 20px 40px;
  padding: 20px 0;
  overflow: hidden;
  border: 1px solid #d5d5d5;
  border-top: 0;
  font-size: 16px;
}
.serviceContentBox .mainTit .icon {
  margin-right: 5px;
  width: 35px;
  height: 35px;
}
.serviceContentBox .sTit {
  padding: 10px 6px;
  font-size: 15px;
  font-weight: bold;
}
.serviceContentBox .sTit:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.serviceContentBox .sTit .tt {
  float: left;
}
.serviceContentBox .sTit .add {
  float: right;
}
.serviceContentBox .service_contentForm {
  margin: 40px 40px 40px 91px;
}
.serviceContentBox .service_contentForm .service_contentList {
  margin-bottom: 15px;
  min-height: 35px;
  line-height: 35px;
}
.serviceContentBox .service_contentForm .service_contentList:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.serviceContentBox .service_contentForm .service_contentList .tit {
  float: left;
  margin-right: 30px;
  width: 140px;
  min-height: 35px;
  line-height: 35px;
  font-weight: bold;
}
.serviceContentBox .service_contentForm .service_contentList .txt {
  float: left;
}
.serviceContentBox .service_contentForm .service_contentList .txt input {
  /*margin-right:15px;*/
  height: 20px;
}
.serviceContentBox .service_contentTable {
  width: 100%;
  color: #666;
  word-wrap: break-word;
  word-break: break-all;
}
.serviceContentBox .service_contentTable table {
  border-collapse: collapse;
  width: 100%;
}
.serviceContentBox .service_contentTable th,
.serviceContentBox .service_contentTable td {
  padding: 5px;
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  border-color: #d5d5d5;
  line-height: 1.2em;
  text-align: center;
}
.serviceContentBox .service_contentTable th {
  background: #f0f0f0;
  border-left: 0;
  border-right: 0;
}
.serviceContentBox .service_contentTable td {
  border-left: 0;
  font-size: 15px;
  height: 18px;
}
.serviceContentBox .service_contentTable td[colspan="6"] {
  padding: 30px 0;
  text-align: center;
}
.serviceContentBox .service_contentTable .icon-shop {
  width: 35px;
  height: 35px;
}
.serviceContentBox .service_contentTable .icon-shop img {
  max-width: 35px;
  max-height: 35px;
  vertical-align: text-bottom;
}
.serviceContentBox .service_contentTable .highline {
  color: #f72;
}
.serviceContentBox .btmBtnArea {
  text-align: center;
  margin: 20px 0;
}
.serviceContentBox .btmBtnArea .btn + .btn {
  margin-left: 50px;
}

/*登入註冊區塊*/
.fillFormArea {
  border-width: 1px;
  border-style: solid;
  /*填表區高&行高*/
}
.fillFormArea:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.fillFormArea .mainTitBar {
  padding: 0 30px;
  height: 48px;
  line-height: 50px;
  font-size: 20px;
}
.fillFormArea .mainTitBar .icon {
  display: block;
  float: left;
  margin-right: 25px;
}
.fillFormArea .mainTitBar img {
  vertical-align: text-bottom;
}
.fillFormArea .fillFormBox .fillForm_contentList:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.fillFormArea .fillFormBox .fillForm_contentList .tit {
  float: left;
  margin-bottom: 20px;
  overflow: hidden;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
}
.fillFormArea .fillFormBox .fillForm_contentList .txt {
  float: left;
  margin-bottom: 20px;
  height: 100%;
}
.fillFormArea .fillFormBox input[type="checkbox"] {
  margin-right: 3px;
  width: 16px;
  height: 16px;
  border-color: #666;
}

/*所有顏色統一管理*/
/*全站背景色*/
/*深色按鈕文字*/
/*a & a:visited*/
/*a:hover*/
/*a:active*/
/*麵包屑顏色*/
/*表單文字顏色*/
/*表單框框顏色*/
/*禁止使用的灰灰字*/
/*淺灰色*/
/*深灰色*/
/*杏黃色*/
/*淺橘色*/
/*杏橘色*/
/*藍靛色*/
/*淺藍色*/
/*天藍*/
/*鋼青色*/
/*紅色*/
/*頁籤樣式*/
/*tab框線*/
/*tab文字*/
/*tab背景色*/
/*tabHover背景色*/
/*tabHover文字*/
/*tabHover框線*/
/*tabActive背景色*/
/*tabActive文字*/
/*tabActive框線*/
/*tabActive框線*/
/*tabActive框線*/
/*登入註冊區塊*/
/*區塊外框*/
.clear, .wrapper, .serviceContentBox, .serviceContentBox .sTit, .serviceContentBox .service_contentTable {
  clear: both;
}

/*Main Width*/
.wrapper {
  margin: 0 auto;
  /*width:$wrapperWidth;*/
}
.wrapper:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}

/*.mainPadding {
	@extend .clear;
	@include clearAfter;
	padding:$mainContentPadding;
	width:$mainContentWidth;
}*/
/*水平線*/
hr {
  border: 0;
  border-top-width: 1px;
  border-style: solid;
}
hr.verticalDir {
  display: inline-block;
  position: relative;
  top: -1px;
  border-left: 1px solid;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

/*ICON*/
i.icon {
  /*display:inline-block;
  vertical-align:middle;*/
}

/*輸入框*/
input, input[type="text"], input[type="password"], input[type="tel"], textarea {
  /*padding:5px 10px;
  border-width:1px;
  border-style:solid;
  vertical-align:middle;
  font-family:$mainFontStyle;*/
}

input + input, input + .btn, .selector + input, .selector + .btn, input[type="button"] + input, input[type="button"] + .btn, .btn + input, .btn + .btn {
  margin-left: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

input[type="button"], input[type="submit"], .btn {
  margin: 5px 0;
  padding: 10px 0;
  border: 0;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
input[type="button"]:hover, input[type="submit"]:hover, .btn:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

/*麵包屑*/
.pathLink {
  font-size: 15px;
}
.pathLink span {
  margin: 0 3px;
}

/*頁碼*/
.btmPageArea {
  position: relative;
  text-align: center;
}
.btmPageArea:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.btmPageArea a {
  display: inline-block;
  /*float:left;*/
  padding: 5px;
  vertical-align: middle;
  background: #fff;
  color: #777;
}
.btmPageArea a:hover {
  background: #f78d51;
  color: #fff;
}
.btmPageArea .arrow {
  position: relative;
  padding: 0;
  width: 30px;
  height: 30px;
  background: #f78d51;
}
.btmPageArea .arrow:hover {
  background: #f56d20;
  color: #fff;
}
.btmPageArea .arrLeft {
  left: -25px;
}
.btmPageArea .arrRight {
  right: -25px;
}

/*自製select*/
.selector {
  position: relative;
  cursor: pointer;
}
.selector:active ul, .selector:focus ul, .selector.active ul {
  z-index: 1;
  background: #fff;
}
.selector:active ul li, .selector:focus ul li, .selector.active ul li {
  display: block;
}
.selector .default {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  *width: 90%;
  position: relative;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
}
.selector .default .icon-arrow {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 33px;
  height: 100%;
  background: url(/Themes/img/Icon/SelectImg.png) no-repeat center;
  border-width: 1px;
  border-style: solid;
}
.selector ul {
  position: absolute;
  top: 28px;
  z-index: 0;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  max-height: 90px;
  border-width: 1px;
  border-style: solid;
}
.selector ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  *width: 90%;
  position: relative;
  padding: 5px;
  border-style: solid;
  display: none;
  margin-top: -1px;
}

.selector-birth {
  /*position:relative; 
  .icon-arrow {
  	display:block;
  	position:absolute;
  	top:0;
  	right:0;
  	width:26px;
  	height:29px;*/
  /*}*/
}
.selector-birth input {
  background-image: url("/Themes/img/Icon/DateFarToNearImg.png");
  background-repeat: no-repeat;
  background-position: right;
}

/*頁籤樣式:我的回饋金.我的折價券.我的訂單.我的最愛清單.我的帳戶*/
/*頁籤Width*/
/*頁籤maxWidth*/
/*頁籤Height*/
/*頁籤Padding*/
/*頁籤innerHeight*/
.serviceTabArea {
  width: 100%;
}
.serviceTabArea:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.serviceTabArea .tab {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  float: left;
  padding: 3px 35px;
  max-width: 130px;
  height: 42px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  line-height: 42px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.serviceTabArea .tab + .tab {
  margin-left: -1px;
}
.serviceTabArea .tab:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.serviceTabArea .tab:hover i.icon {
  background-position: -10px 0;
}
.serviceTabArea .tab.active {
  background-repeat: no-repeat;
  background-position: right;
}
.serviceTabArea .tab i.icon {
  margin-right: 10px;
  /*background-image:url(/Themes/img/header-icon.png);*/
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*頁籤內容*/
.serviceContentBox {
  margin-top: -1px;
  padding: 20px 40px;
  padding: 20px 0;
  overflow: hidden;
  border: 1px solid #d5d5d5;
  border-top: 0;
  font-size: 16px;
}
.serviceContentBox .mainTit .icon {
  margin-right: 5px;
  width: 35px;
  height: 35px;
}
.serviceContentBox .sTit {
  padding: 10px 6px;
  font-size: 15px;
  font-weight: bold;
}
.serviceContentBox .sTit:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.serviceContentBox .sTit .tt {
  float: left;
}
.serviceContentBox .sTit .add {
  float: right;
}
.serviceContentBox .service_contentForm {
  margin: 40px 40px 40px 91px;
}
.serviceContentBox .service_contentForm .service_contentList {
  margin-bottom: 15px;
  min-height: 35px;
  line-height: 35px;
}
.serviceContentBox .service_contentForm .service_contentList:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.serviceContentBox .service_contentForm .service_contentList .tit {
  float: left;
  margin-right: 30px;
  width: 140px;
  min-height: 35px;
  line-height: 35px;
  font-weight: bold;
}
.serviceContentBox .service_contentForm .service_contentList .txt {
  float: left;
}
.serviceContentBox .service_contentForm .service_contentList .txt input {
  /*margin-right:15px;*/
  height: 20px;
}
.serviceContentBox .service_contentTable {
  width: 100%;
  color: #666;
  word-wrap: break-word;
  word-break: break-all;
}
.serviceContentBox .service_contentTable table {
  border-collapse: collapse;
  width: 100%;
}
.serviceContentBox .service_contentTable th,
.serviceContentBox .service_contentTable td {
  padding: 5px;
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  border-color: #d5d5d5;
  line-height: 1.2em;
  text-align: center;
}
.serviceContentBox .service_contentTable th {
  background: #f0f0f0;
  border-left: 0;
  border-right: 0;
}
.serviceContentBox .service_contentTable td {
  border-left: 0;
  font-size: 15px;
  height: 18px;
}
.serviceContentBox .service_contentTable td[colspan="6"] {
  padding: 30px 0;
  text-align: center;
}
.serviceContentBox .service_contentTable .icon-shop {
  width: 35px;
  height: 35px;
}
.serviceContentBox .service_contentTable .icon-shop img {
  max-width: 35px;
  max-height: 35px;
  vertical-align: text-bottom;
}
.serviceContentBox .service_contentTable .highline {
  color: #f72;
}
.serviceContentBox .btmBtnArea {
  text-align: center;
  margin: 20px 0;
}
.serviceContentBox .btmBtnArea .btn + .btn {
  margin-left: 50px;
}

/*登入註冊區塊*/
.fillFormArea {
  border-width: 1px;
  border-style: solid;
  /*填表區高&行高*/
}
.fillFormArea:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.fillFormArea .mainTitBar {
  padding: 0 30px;
  height: 48px;
  line-height: 50px;
  font-size: 20px;
}
.fillFormArea .mainTitBar .icon {
  display: block;
  float: left;
  margin-right: 25px;
}
.fillFormArea .mainTitBar img {
  vertical-align: text-bottom;
}
.fillFormArea .fillFormBox .fillForm_contentList:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.fillFormArea .fillFormBox .fillForm_contentList .tit {
  float: left;
  margin-bottom: 20px;
  overflow: hidden;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
}
.fillFormArea .fillFormBox .fillForm_contentList .txt {
  float: left;
  margin-bottom: 20px;
  height: 100%;
}
.fillFormArea .fillFormBox input[type="checkbox"] {
  margin-right: 3px;
  width: 16px;
  height: 16px;
  border-color: #666;
}

.clear, .wrapper, .serviceContentBox, .serviceContentBox .sTit, .serviceContentBox .service_contentTable {
  clear: both;
}

/*Main Width*/
.wrapper {
  margin: 0 auto;
  /*width:$wrapperWidth;*/
}
.wrapper:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}

/*.mainPadding {
	@extend .clear;
	@include clearAfter;
	padding:$mainContentPadding;
	width:$mainContentWidth;
}*/
/*水平線*/
hr {
  border: 0;
  border-top-width: 1px;
  border-style: solid;
}
hr.verticalDir {
  display: inline-block;
  position: relative;
  top: -1px;
  border-left: 1px solid;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

/*ICON*/
i.icon {
  /*display:inline-block;
  vertical-align:middle;*/
}

/*輸入框*/
input, input[type="text"], input[type="password"], input[type="tel"], textarea {
  /*padding:5px 10px;
  border-width:1px;
  border-style:solid;
  vertical-align:middle;
  font-family:$mainFontStyle;*/
}

input + input, input + .btn, .selector + input, .selector + .btn, input[type="button"] + input, input[type="button"] + .btn, .btn + input, .btn + .btn {
  margin-left: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

input[type="button"], input[type="submit"], .btn {
  margin: 5px 0;
  padding: 10px 0;
  border: 0;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
input[type="button"]:hover, input[type="submit"]:hover, .btn:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

/*麵包屑*/
.pathLink {
  font-size: 15px;
}
.pathLink span {
  margin: 0 3px;
}

/*頁碼*/
.btmPageArea {
  position: relative;
  text-align: center;
}
.btmPageArea:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.btmPageArea a {
  display: inline-block;
  /*float:left;*/
  padding: 5px;
  vertical-align: middle;
  background: #fff;
  color: #777;
}
.btmPageArea a:hover {
  background: #f78d51;
  color: #fff;
}
.btmPageArea .arrow {
  position: relative;
  padding: 0;
  width: 30px;
  height: 30px;
  background: #f78d51;
}
.btmPageArea .arrow:hover {
  background: #f56d20;
  color: #fff;
}
.btmPageArea .arrLeft {
  left: -25px;
}
.btmPageArea .arrRight {
  right: -25px;
}

/*自製select*/
.selector {
  position: relative;
  cursor: pointer;
}
.selector:active ul, .selector:focus ul, .selector.active ul {
  z-index: 1;
  background: #fff;
}
.selector:active ul li, .selector:focus ul li, .selector.active ul li {
  display: block;
}
.selector .default {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  *width: 90%;
  position: relative;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
}
.selector .default .icon-arrow {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 33px;
  height: 100%;
  background: url(/Themes/img/Icon/SelectImg.png) no-repeat center;
  border-width: 1px;
  border-style: solid;
}
.selector ul {
  position: absolute;
  top: 28px;
  z-index: 0;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  max-height: 90px;
  border-width: 1px;
  border-style: solid;
}
.selector ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  *width: 90%;
  position: relative;
  padding: 5px;
  border-style: solid;
  display: none;
  margin-top: -1px;
}

.selector-birth {
  /*position:relative; 
  .icon-arrow {
  	display:block;
  	position:absolute;
  	top:0;
  	right:0;
  	width:26px;
  	height:29px;*/
  /*}*/
}
.selector-birth input {
  background-image: url("/Themes/img/Icon/DateFarToNearImg.png");
  background-repeat: no-repeat;
  background-position: right;
}

/*頁籤樣式:我的回饋金.我的折價券.我的訂單.我的最愛清單.我的帳戶*/
/*頁籤Width*/
/*頁籤maxWidth*/
/*頁籤Height*/
/*頁籤Padding*/
/*頁籤innerHeight*/
.serviceTabArea {
  width: 100%;
}
.serviceTabArea:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.serviceTabArea .tab {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  float: left;
  padding: 3px 35px;
  max-width: 130px;
  height: 42px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  line-height: 42px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.serviceTabArea .tab + .tab {
  margin-left: -1px;
}
.serviceTabArea .tab:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.serviceTabArea .tab:hover i.icon {
  background-position: -10px 0;
}
.serviceTabArea .tab.active {
  background-repeat: no-repeat;
  background-position: right;
}
.serviceTabArea .tab i.icon {
  margin-right: 10px;
  /*background-image:url(/Themes/img/header-icon.png);*/
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*頁籤內容*/
.serviceContentBox {
  margin-top: -1px;
  padding: 20px 40px;
  padding: 20px 0;
  overflow: hidden;
  border: 1px solid #d5d5d5;
  border-top: 0;
  font-size: 16px;
}
.serviceContentBox .mainTit .icon {
  margin-right: 5px;
  width: 35px;
  height: 35px;
}
.serviceContentBox .sTit {
  padding: 10px 6px;
  font-size: 15px;
  font-weight: bold;
}
.serviceContentBox .sTit:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.serviceContentBox .sTit .tt {
  float: left;
}
.serviceContentBox .sTit .add {
  float: right;
}
.serviceContentBox .service_contentForm {
  margin: 40px 40px 40px 91px;
}
.serviceContentBox .service_contentForm .service_contentList {
  margin-bottom: 15px;
  min-height: 35px;
  line-height: 35px;
}
.serviceContentBox .service_contentForm .service_contentList:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.serviceContentBox .service_contentForm .service_contentList .tit {
  float: left;
  margin-right: 30px;
  width: 140px;
  min-height: 35px;
  line-height: 35px;
  font-weight: bold;
}
.serviceContentBox .service_contentForm .service_contentList .txt {
  float: left;
}
.serviceContentBox .service_contentForm .service_contentList .txt input {
  /*margin-right:15px;*/
  height: 20px;
}
.serviceContentBox .service_contentTable {
  width: 100%;
  color: #666;
  word-wrap: break-word;
  word-break: break-all;
}
.serviceContentBox .service_contentTable table {
  border-collapse: collapse;
  width: 100%;
}
.serviceContentBox .service_contentTable th,
.serviceContentBox .service_contentTable td {
  padding: 5px;
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  border-color: #d5d5d5;
  line-height: 1.2em;
  text-align: center;
}
.serviceContentBox .service_contentTable th {
  background: #f0f0f0;
  border-left: 0;
  border-right: 0;
}
.serviceContentBox .service_contentTable td {
  border-left: 0;
  font-size: 15px;
  height: 18px;
}
.serviceContentBox .service_contentTable td[colspan="6"] {
  padding: 30px 0;
  text-align: center;
}
.serviceContentBox .service_contentTable .icon-shop {
  width: 35px;
  height: 35px;
}
.serviceContentBox .service_contentTable .icon-shop img {
  max-width: 35px;
  max-height: 35px;
  vertical-align: text-bottom;
}
.serviceContentBox .service_contentTable .highline {
  color: #f72;
}
.serviceContentBox .btmBtnArea {
  text-align: center;
  margin: 20px 0;
}
.serviceContentBox .btmBtnArea .btn + .btn {
  margin-left: 50px;
}

/*登入註冊區塊*/
.fillFormArea {
  border-width: 1px;
  border-style: solid;
  /*填表區高&行高*/
}
.fillFormArea:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.fillFormArea .mainTitBar {
  padding: 0 30px;
  height: 48px;
  line-height: 50px;
  font-size: 20px;
}
.fillFormArea .mainTitBar .icon {
  display: block;
  float: left;
  margin-right: 25px;
}
.fillFormArea .mainTitBar img {
  vertical-align: text-bottom;
}
.fillFormArea .fillFormBox .fillForm_contentList:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.fillFormArea .fillFormBox .fillForm_contentList .tit {
  float: left;
  margin-bottom: 20px;
  overflow: hidden;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
}
.fillFormArea .fillFormBox .fillForm_contentList .txt {
  float: left;
  margin-bottom: 20px;
  height: 100%;
}
.fillFormArea .fillFormBox input[type="checkbox"] {
  margin-right: 3px;
  width: 16px;
  height: 16px;
  border-color: #666;
}

/*所有顏色統一管理*/
/*全站背景色*/
/*深色按鈕文字*/
/*a & a:visited*/
/*a:hover*/
/*a:active*/
/*麵包屑顏色*/
/*表單文字顏色*/
/*表單框框顏色*/
/*禁止使用的灰灰字*/
/*淺灰色*/
/*深灰色*/
/*杏黃色*/
/*淺橘色*/
/*杏橘色*/
/*藍靛色*/
/*淺藍色*/
/*天藍*/
/*鋼青色*/
/*紅色*/
/*頁籤樣式*/
/*tab框線*/
/*tab文字*/
/*tab背景色*/
/*tabHover背景色*/
/*tabHover文字*/
/*tabHover框線*/
/*tabActive背景色*/
/*tabActive文字*/
/*tabActive框線*/
/*tabActive框線*/
/*tabActive框線*/
/*登入註冊區塊*/
/*區塊外框*/
/*基本框架*/
body {
  background: white;
  color: #666;
}

/*水平線*/
hr {
  border-color: #cccccc;
}

/*ICON*/
/*輸入框*/
input, input[type="text"], input[type="password"], textarea {
  border-color: gray;
  color: black;
}

input[type="button"], input[type="submit"], .btn {
  background: #ec8b54;
  color: white;
}
input[type="button"]:hover, input[type="submit"]:hover, .btn:hover {
  background: #e97b3d;
}
input[type="button"].gray, input[type="submit"].gray, .btn.gray {
  background: #ccc;
  cursor: default;
}

/*超連結*/
/*a, a:visited {
	color:$alinkColor;
	&:hover {
		color:$alinkHover;
	}
	&:active {
		color:$alinkActive;
	}
}*/
/*常用樣式*/
.red {
  color: red;
}

.bold {
  font-weight: bold;
}

/*麵包屑*/
/*.pathLink {
	a, a:visited {
		color:$pathLinlStyle;
		&:hover {
			color:darken($pathLinlStyle, 30%);
		}
		&:active {
			color:lighten($pathLinlStyle, 10%);
		}
	}
	span {
		color:$pathLinlStyle;
	}
}*/
/*頁籤樣式:我的回饋金.我的折價券.我的訂單.我的最愛清單.我的帳戶*/
.serviceTabArea .tab {
  background: white;
  border-color: #d5d5d5;
  color: #bfbfbf;
}
.serviceTabArea .tab:hover {
  background: #ec8b54;
  border-color: #ec8b54;
  color: white;
}
.serviceTabArea .tab.active {
  background-color: #ec8b54;
  border-color: #ec8b54;
  color: white;
}

/*頁籤內容*/
.serviceContentBox {
  color: #666666;
}
.serviceContentBox .mainTit {
  color: #666666;
}

/*登入註冊區塊*/
.fillFormArea {
  border-color: #d5d5d5;
}
.fillFormArea .mainTitBar {
  background: #ec8b54;
  color: #fff;
}
.fillFormArea .fillFormBox .fillForm_contentList:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.fillFormArea .fillFormBox .fillForm_contentList .tit {
  color: #666666;
}
.fillFormArea .selector .default, .fillFormArea .selector li {
  background: #fff;
  border-color: gray;
  /*&.active {
  	background:#fff;
  }*/
}
.fillFormArea .selector .default .icon-arrow, .fillFormArea .selector li .icon-arrow {
  border-color: gray;
}
.fillFormArea .selector:hover ul li:hover {
  background: #999;
}

.clear, .wrapper, .serviceContentBox, .serviceContentBox .sTit, .serviceContentBox .service_contentTable {
  clear: both;
}

.serviceContentBox {
  padding: 0;
}
.serviceContentBox .defaultPage {
  position: relative;
  min-height: 400px;
}
.serviceContentBox .egg {
  position: absolute;
  background-repeat: no-repeat;
  top: 185px;
  left: 265px;
  width: 204px;
  height: 210px;
  background-image: url(/Themes/img/MyAccount/defaultEgg.jpg);
}
.serviceContentBox .pop {
  position: absolute;
  background-repeat: no-repeat;
  top: 70px;
  left: 430px;
  width: 300px;
  height: 176px;
  background-image: url(/Themes/img/MyAccount/defaultPop.jpg);
}
.serviceContentBox .pop p {
  margin: 40px 0 0 40px;
  line-height: 1.2em;
  font-size: 22px;
  color: #aeaeae;
  font-weight: bolder;
}
.serviceContentBox .recordsTit {
  margin: 30px 0 10px;
  height: 1em;
  line-height: 1em;
}
.serviceContentBox .service_contentTable td .UnderLine {
  display: inline-block;
  cursor: pointer;
}
.serviceContentBox .service_contentTable .csReplyBox {
  background: #fae8dc;
}
.serviceContentBox .service_contentTable .csReplyBox td .tit {
  float: left;
  margin-left: 10px;
}
.serviceContentBox .service_contentTable .csReplyBox td .txt {
  float: left;
  width: 80%;
  text-align: left;
}
.serviceContentBox .service_contentTable .cuQuesBox {
  border-bottom: 1px solid #fff;
}
.serviceContentBox .service_contentTable .cuQuesBox td {
  padding: 15px;
  text-align: left;
}
.serviceContentBox .service_contentTable .cuQuesBox td .tit {
  float: left;
}
.serviceContentBox .service_contentTable .cuQuesBox td .txt {
  float: left;
  width: 87%;
}
.serviceContentBox .service_contentTable .myOrderArea table {
  margin: 20px 0px;
}
.serviceContentBox .service_contentTable .myOrderArea table th {
  border-width: 0px;
  background: #FFFFFF;
  text-align: right;
  padding: 0 10px;
  border: 0;
  line-height: 1.5;
}
.serviceContentBox .service_contentTable .myOrderArea table td {
  border-width: 0px;
  background: #FFFFFF;
  text-align: left;
  padding: 0 10px;
  border: 0;
  line-height: 1.5;
}
.serviceContentBox .service_contentTable .myOrderArea .TopArrow {
  width: 30px;
  height: 30px;
  background: url(/Themes/img/MyAccount/TopArrow.png) no-repeat;
  float: right;
  cursor: pointer;
  margin: 20px;
}
.serviceContentBox .btmBtnArea input[type="button"], .serviceContentBox .btmBtnArea input[type="submit"], .serviceContentBox .btmBtnArea input.btn {
  padding: 2px 10px;
}

.editAccount {
  width: 700px;
  height: 260px;
}

.showInvoice {
  width: 700px;
  height: 520px;
}
.showInvoice .MsgContent {
  margin: 50px auto;
  width: 540px;
}
.showInvoice .MsgContent:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.showInvoice .MsgContent .invoiceBox {
  position: relative;
  float: left;
  margin-bottom: 50px;
  padding: 10px;
  width: 230px;
  height: 320px;
  border: 1px solid #000;
  line-height: 2em;
  text-align: left;
  font-size: 13px;
  color: #000;
}
.showInvoice .MsgContent .invoiceBox + .invoiceBox {
  float: right;
}
.showInvoice .MsgContent .invoiceBox .invoiceTit {
  margin: 5px 0;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.showInvoice .MsgContent .invoiceBox .invoiceMon {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
.showInvoice .MsgContent .invoiceBox .invoiceNum {
  margin: 3px 0 10px 0;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
.showInvoice .MsgContent .invoiceBox .totalPrice {
  /*margin:20px 0;*/
}
.showInvoice .MsgContent .invoiceBox .invoiceWar {
  position: absolute;
  bottom: 0;
  width: 90%;
  text-align: center;
  font-size: 14px;
}
.showInvoice .MsgContent .invoiceBox .invoiceDetial .detialDate {
  font-size: 12px;
}
.showInvoice .MsgContent .invoiceBox .invoiceDetial .detialName {
  line-height: 1.2em;
}
.showInvoice .MsgContent .invoiceBox .invoiceWar.detialTTprice {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.showOrder {
  width: 700px;
  height: 440px;
}
.showOrder .closeWindowBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url(/Themes/img/Icon/closeIcon.png) no-repeat;
  cursor: pointer;
}

.selector-question {
  /*float:right;*/
}

.questionTipsArea {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.5em;
}

.DeliveryInformation {
  /*border-top: 1px solid #d5d5d5;
  padding:10px;*/
}
.DeliveryInformation:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.DeliveryInformation .DeliveryText {
  float: left;
  line-height: 70px;
  margin-right: 10px;
}
.DeliveryInformation .deliverState {
  float: left;
  width: 700px;
}
.DeliveryInformation .deliverState ul:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}
.DeliveryInformation .deliverState ul li {
  float: left;
  width: 60px;
  text-align: center;
  font-size: 12px;
  color: #d8d8d8;
  font-weight: bold;
}
.DeliveryInformation .deliverState ul li + li {
  padding-left: 20px;
  background: url(/Themes/img/MyAccount/orderArr.jpg) no-repeat center left;
}
.DeliveryInformation .deliverState ul li img {
  margin-bottom: 5px;
  width: 60px;
  height: 50px;
  background-image: url(/Themes/img/MyAccount/orderIcon.jpg);
  background-repeat: no-repeat;
}
.DeliveryInformation .deliverState ul li img.step01 {
  background-position: 0 0;
}
.DeliveryInformation .deliverState ul li img.step02 {
  background-position: 0 -50px;
}
.DeliveryInformation .deliverState ul li img.step03 {
  background-position: 0 -101px;
}
.DeliveryInformation .deliverState ul li img.step04 {
  background-position: 0 -151px;
}
.DeliveryInformation .deliverState ul li img.step05 {
  background-position: 0 -200px;
}
.DeliveryInformation .deliverState ul li img.step06 {
  background-position: 0 -250px;
}
.DeliveryInformation .deliverState ul li img.step07 {
  background-position: 0 -300px;
}
.DeliveryInformation .deliverState ul li img.step08 {
  background-position: 0 -350px;
}
.DeliveryInformation .deliverState ul li.active {
  color: #f47226;
}
.DeliveryInformation .deliverState ul li.active img.step01 {
  background-position: -60px 0;
}
.DeliveryInformation .deliverState ul li.active img.step02 {
  background-position: -60px -50px;
}
.DeliveryInformation .deliverState ul li.active img.step03 {
  background-position: -60px -101px;
}
.DeliveryInformation .deliverState ul li.active img.step04 {
  background-position: -60px -151px;
}
.DeliveryInformation .deliverState ul li.active img.step05 {
  background-position: -60px -200px;
}
.DeliveryInformation .deliverState ul li.active img.step06 {
  background-position: -60px -250px;
}
.DeliveryInformation .deliverState ul li.active img.step07 {
  background-position: -60px -300px;
}
.DeliveryInformation .deliverState ul li.active img.step08 {
  background-position: -60px -350px;
}
.DeliveryInformation .ShippingInformation {
  float: left;
  margin: 10px 0 0 0;
  width: 150px;
  text-align: left;
  line-height: 1.2em;
}

.orderTipsArea {
  margin: 50px 0 0 0;
  line-height: 1.3em;
}
.orderTipsArea ul {
  list-style-type: square;
}

/*密碼強度*/
.serviceContentBox .service_contentList.pswBar {
  position: relative;
  /*密碼規則*/
}
.serviceContentBox .service_contentList.pswBar.focus .pswRuleBox {
  display: block;
}
.serviceContentBox .service_contentList.pswBar .pswSecure {
  position: absolute;
  top: 30px;
  left: 190px;
  width: 33%;
}
.serviceContentBox .service_contentList.pswBar .pswSecure p {
  width: 0;
  height: 2px;
  background: #f00;
  text-indent: -9999px;
  letter-spacing: -999px;
  font-size: 0;
  color: #fff;
}
.serviceContentBox .service_contentList.pswBar .pswSecure.step1 p {
  width: 33%;
}
.serviceContentBox .service_contentList.pswBar .pswSecure.step2 p {
  width: 66%;
}
.serviceContentBox .service_contentList.pswBar .pswSecure.step3 p {
  width: 100%; 
  background: green;
}

/*ForgetPassword*/
.ForgetPassword .ForgetPasswordTit {
  margin: 30px;
}
.ForgetPassword .ForgetPasswordTit img {
  float: left;
}
.ForgetPassword .ForgetPasswordTit p {
  float: left;
  font-weight: bold;
  font-size: 37px;
  line-height: 47px;
  margin-left: 20px;
}
.ForgetPassword .ForgetPasswordContent {
  border: 1px solid #D5D5D5;
  height: 560px;
}
.ForgetPassword .ForgetPasswordContent .fillForm_contentList {
  width: 500px;
  margin: 50px auto 0 auto;
}
.ForgetPassword .ForgetPasswordContent .fillForm_contentList .tit {
  padding: 0 5px;
  width: 50px;
  float: left;
  overflow: hidden;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  color: #666666;
}
.ForgetPassword .ForgetPasswordContent .fillForm_contentList .txt {
  padding: 0 10px;
  width: 258px;
  float: left;
  height: 100%;
}
.ForgetPassword .ForgetPasswordContent .fillForm_contentList input {
  width: 345px;
}
.ForgetPassword .RedText {
  color: #510000;
  width: 250px;
  margin: 0 330px;
}
.ForgetPassword .ForgetPasswordBtn {
  margin: 50px auto 0 auto;
  width: 205px;
}
.ForgetPassword .ForgetPasswordBtn .OrgBtn {
  width: 80px;
  height: 32px;
  padding: 0;
  margin: 10px;
}

/*ResetPassword*/
.ResetPassword .ResetPasswordTit {
  margin: 30px;
}
.ResetPassword .ResetPasswordTit img {
  float: left;
}
.ResetPassword .ResetPasswordTit p {
  float: left;
  font-weight: bold;
  font-size: 37px;
  line-height: 47px;
  margin-left: 20px;
}
.ResetPassword .ResetPasswordContent {
  border: 1px solid #D5D5D5;
  height: 560px;
}
.ResetPassword .ResetPasswordContent .fillForm_contentList {
  width: 500px;
  margin: 50px auto 0 auto;
}
.ResetPassword .ResetPasswordContent .fillForm_contentList .passwordinput {
  margin: 20px 0;
}
.ResetPassword .ResetPasswordContent .fillForm_contentList .passwordinput .tit {
  padding: 0 5px;
  width: 100px;
  float: left;
  overflow: hidden;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  color: #666666;
}
.ResetPassword .ResetPasswordContent .fillForm_contentList .passwordinput .txt {
  padding: 0 10px;
  width: 258px;
  float: left;
  height: 100%;
}
.ResetPassword .ResetPasswordContent .fillForm_contentList .passwordinput .newpassword {
  position: relative;
}
.ResetPassword .ResetPasswordContent .fillForm_contentList .passwordinput .newpassword input[type="button"] {
  width: 80px;
  position: absolute;
  top: -3px;
  height: 25px;
  font-size: 10px;
  left: 300px;
  line-height: 0;
  background: rgba(105, 142, 184, 0.9);
}
.ResetPassword .ResetPasswordContent .fillForm_contentList .passwordinput .newpassword input[type="button"]:hover {
  background: #698EB8;
}
.ResetPassword .ResetPasswordContent .fillForm_contentList .passwordinput input {
  width: 345px;
}
.ResetPassword .ResetPasswordContent .fillForm_contentList .passwordremid {
  width: 345px;
  margin: -15px 125px;
  font-size: 14px;
  border: 1px solid #D5D5D5;
}
.ResetPassword .ResetPasswordContent .fillForm_contentList .passwordremid .passwordremidtext {
  background: #698EB8;
  color: #FFFFFF;
  padding: 10px;
}
.ResetPassword .ResetPasswordContent .fillForm_contentList .passwordremid .passwordremidcheckbox {
  line-height: 2em;
}
.ResetPassword .ResetPasswordBtn {
  margin: 50px auto 0 auto;
  width: 205px;
}
.ResetPassword .ResetPasswordBtn .OrgBtn {
  width: 80px;
  height: 32px;
  padding: 0;
  margin: 10px;
}
