@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutNON.cshtml";
}

@Styles.Render("~/Themes/2013/stylesheets/StyleSheet1.css")

<script type="text/javascript">
    var emailRule = /^([\w-\.\+\-\_]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4})$/;
    $(function () {
        $("#DataSubmit").bind("click", function () {
            var UserMail = $("#UserEmail").val();
            var CheckMail = true;

            if (UserMail == null || UserMail == "")
            {
                $("#Mail_rules").text("");
                $("#Mail_rules").text("Email不可為空，請重新輸入");
                CheckMail = false;
            }

            if (UserMail.search(emailRule) < 0)
            {
                $("#Mail_rules").text("");
                $("#Mail_rules").text("請輸入正確Email格式");
                CheckMail = false;
            }

            if (!CheckMail)
            {
                return false;
            }
        });
    });
</script>

<div class="Wrapper">
    <h1 id="Header"><a href="https://sellerportal.newegg.com.tw/" class="logo" title="Back landing page">Back landing page</a></h1>
    <div class="content">
        <div class="ResetAccount">
            <h2>Password Assistance</h2>
            <p>Enter the Email Address you use as your Newegg ID and click Submit. You will be emailed a link that will allow you to reset your password.</p>
            <form name="loginForm" action="/Account/ResetPassword" method="post">
               <div>
                   <strong class="icon iconID">Login ID</strong>
                   <span class="exampleEmail">(example: JohnDoe@Newegg.com)</span>
               </div>
                <div>
                    <span class="circleL"></span><span class="circleR"></span>
                    <input type="text" class="input" value="" name="UserEmail" id="UserEmail" style="width:300px">
                </div>
                <div>
                    <div class="Mail_rulesbox"><span id="Mail_rules" style="font-size:small;text-align:center;color:red"></span></div>
                </div>
                <br />
                <div>
                    <input type="submit" name="submit" id="DataSubmit" value="發送"  style="text-indent: 0px" class="k-button"/>
                </div>
                @*<ul>
                    <li class="caption">
                        <strong class="icon iconID">Login ID</strong>
                        <span class="exampleEmail">(example: JohnDoe@Newegg.com)</span>
                    </li>
                    <li class="form">
                        <div class="boxInputA">
                            <span class="circleL"></span><span class="circleR"></span>
                            <input type="text" class="input" value="" name="UserEmail" id="UserEmail">
                        </div>
                    </li>
                    <li>
                        <div class="Mail_rulesbox"><span id="Mail_rules" style="font-size:small;text-align:center;color:red"></span></div>
                    </li>
                </ul>
                <div class="buttonBar">
                    <input type="submit" name="submit" id="DataSubmit" value="發送"  style="text-indent: 0px" class="k-button"/>
                </div>*@

            </form>
        </div>

        <div class="login Help">
            <h2>Log In Help</h2>
            <div>
                <p>If you are having problems logging in, try the following:</p>
                <p>
                    1. Enable Cookies.<br>
                    2. Enable Javascript.<br>
                    3. Refresh the page.
                </p>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div id="Footer">
        <a onclick="javascript:window.open(&#39;https://sellerportal.newegg.com/Pages/Account/PolicyAndAgreement.aspx&#39;,  &#39;newwindow&#39;, &#39;height=600,width=900, left=0,top=0,toolbar =no, menubar=no, scrollbars=no, resizable=no, location=no, status=no&#39;)" href="javascript:void(null);">Policy &amp; Agreement</a> | <a href="http://www.newegg.com/HelpInfo/PrivacySecurity.aspx">Privacy Policy</a> | © 2013 Newegg Inc. All rights reserved.
   
    </div>
</div>
