USE [TWBACKENDDB]
GO
/****** Object:  Table [dbo].[supplier]    Script Date: 2016/08/18 14:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[supplier](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [int] NULL,
	[Time] [int] NULL,
	[Telphone] [varchar](30) NULL,
	[Fax] [varchar](30) NULL,
	[Sales] [nvarchar](50) NULL,
	[SalesTEL] [varchar](30) NULL,
	[SalesFax] [varchar](30) NULL,
	[SalesEmail] [varchar](256) NULL,
	[SalesLocation] [nvarchar](10) NULL,
	[SalesZipCode] [varchar](5) NULL,
	[SalesADDR] [nvarchar](150) NULL,
	[Location] [nvarchar](10) NULL,
	[ZipCode] [varchar](5) NULL,
	[Address] [nvarchar](150) NULL,
	[ProductLine] [int] NULL,
	[Substation] [nvarchar](50) NULL,
	[MDYPurher] [nvarchar](50) NULL,
	[MDYAccnt] [nvarchar](50) NULL,
	[Code] [nvarchar](50) NULL,
	[InvoiceNO] [nvarchar](50) NULL,
	[InvoiceLocation] [nvarchar](10) NULL,
	[InvoiceZipCode] [varchar](5) NULL,
	[InvoiceADDR] [nvarchar](150) NULL,
	[PurhType] [nvarchar](50) NULL,
	[PayType] [nvarchar](50) NULL,
	[PayTerm] [nvarchar](50) NULL,
	[PayNote] [nvarchar](50) NULL,
	[InputName] [nvarchar](50) NULL,
	[InputDate] [datetime] NULL,
	[Chief] [nvarchar](50) NULL,
	[ChiefidNO] [nvarchar](50) NULL,
	[SupplierOrder] [nvarchar](50) NULL,
	[Ordertel] [nvarchar](50) NULL,
	[OrderFax] [nvarchar](50) NULL,
	[OrderEmail] [nvarchar](50) NULL,
	[OrderLocation] [int] NULL,
	[OrderZipCode] [nvarchar](50) NULL,
	[OrderADDR] [nvarchar](50) NULL,
	[RepairType] [int] NULL,
	[Repair] [nvarchar](50) NULL,
	[Repair2] [nvarchar](50) NULL,
	[Repairtel] [nvarchar](50) NULL,
	[Repairfax] [nvarchar](50) NULL,
	[RepairEmail] [nvarchar](50) NULL,
	[RepairLocation] [int] NULL,
	[RepairZipCode] [nvarchar](50) NULL,
	[RepairADDR] [nvarchar](50) NULL,
	[RetgoodType] [int] NULL,
	[Retgood] [nvarchar](50) NULL,
	[Retgood2] [nvarchar](50) NULL,
	[Retgoodtel] [nvarchar](50) NULL,
	[RetgoodFax] [nvarchar](50) NULL,
	[RetgoodEmail] [nvarchar](50) NULL,
	[RetgoodLocation] [int] NULL,
	[RetgoodZipCode] [nvarchar](50) NULL,
	[RetgoodADDR] [nvarchar](50) NULL,
	[CHGDType] [int] NULL,
	[CHGD] [nvarchar](50) NULL,
	[CHGD2] [nvarchar](50) NULL,
	[CHGDTel] [nvarchar](20) NULL,
	[CHGDFax] [nvarchar](20) NULL,
	[CHGDEmail] [nvarchar](256) NULL,
	[CHGDLocation] [int] NULL,
	[CHGDZipCode] [nvarchar](5) NULL,
	[CHGDADDR] [nvarchar](150) NULL,
	[ACCNT] [nvarchar](50) NULL,
	[ACCNTtel] [varchar](30) NULL,
	[ACCNTFax] [varchar](30) NULL,
	[ACCNTEmail] [varchar](256) NULL,
	[ACCNTLocation] [nvarchar](10) NULL,
	[ACCNTZipcode] [varchar](5) NULL,
	[ACCNTADDR] [nvarchar](150) NULL,
	[UniqueNO] [varchar](50) NULL,
	[Enable] [int] NULL,
	[Integret] [int] NULL,
	[BankID] [nvarchar](50) NULL,
	[BankACCNTNO] [nvarchar](50) NULL,
	[BankACCNTname] [nvarchar](50) NULL,
	[BankNoticeType] [int] NULL,
	[BankNoticeID] [nvarchar](50) NULL,
	[SCMEnabled] [int] NULL,
	[SCMEmail] [varchar](256) NULL,
	[SCMFuncs] [nvarchar](50) NULL,
	[Note] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[Updated] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_supplier_id] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
