USE [TWBACKENDDB]
GO
/****** Object:  Table [dbo].[cHI_MRGA_MAIN_DC]    Script Date: 2016/08/18 14:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cHI_MRGA_MAIN_DC](
	[PreID] [varchar](10) NOT NULL,
	[GoodStoreID] [varchar](4) NOT NULL,
	[Stock] [decimal](10, 0) NULL,
	[InUserID] [int] NULL,
	[InDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_cHI_MRGA_MAIN_DC] PRIMARY KEY CLUSTERED 
(
	[PreID] ASC,
	[GoodStoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[cHI_MRGA_MAIN_DC] ADD  CONSTRAINT [DF_cHI_MRGA_MAIN_DC_Indate]  DEFAULT (getdate()) FOR [InDate]
GO
ALTER TABLE [dbo].[cHI_MRGA_MAIN_DC] ADD  CONSTRAINT [DF_cHI_MRGA_MAIN_DC_Updatedate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
