USE [TWBACKENDDB]
GO
/****** Object:  Table [dbo].[process]    Script Date: 2016/08/18 14:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[process](
	[ID] [varchar](15) NOT NULL,
	[ProductID] [int] NULL,
	[ProductlistID] [int] NULL,
	[StoreID] [int] NULL,
	[ACTID] [nvarchar](50) NULL,
	[ActtkOut] [int] NULL,
	[CartID] [varchar](15) NULL,
	[ItemlistID] [int] NULL,
	[OrderItemCode] [varchar](15) NULL,
	[DealType] [int] NULL,
	[DealID] [int] NULL,
	[Title] [nvarchar](200) NULL,
	[Attribs] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[Priceinst] [decimal](10, 2) NULL,
	[Pricecoupon] [decimal](10, 2) NULL,
	[RedmtkOut] [int] NULL,
	[RedmBLN] [int] NULL,
	[Redmfdbck] [int] NULL,
	[WftkOut] [int] NULL,
	[WfBLN] [int] NULL,
	[TaxType] [int] NULL,
	[Cost] [decimal](10, 2) NULL,
	[Qty] [int] NULL,
	[InvoTitle] [nvarchar](50) NULL,
	[InvoTitleUser] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[StatusNote] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[CreateDate] [datetime] NULL,
	[STDELVCount] [int] NULL,
	[STDSTExportDate] [datetime] NULL,
	[StarvlDate] [datetime] NULL,
	[StarvDateReal] [datetime] NULL,
	[STCFMDate] [datetime] NULL,
	[STKYCLRDate] [datetime] NULL,
	[STSPCLRDate] [datetime] NULL,
	[ProcOrder] [datetime] NULL,
	[ProcIn] [datetime] NULL,
	[WillShipping] [datetime] NULL,
	[ProcOut] [datetime] NULL,
	[Received] [datetime] NULL,
	[OrderNote] [nvarchar](50) NULL,
	[InNote] [nvarchar](50) NULL,
	[OutNote] [nvarchar](50) NULL,
	[ReceivedNote] [nvarchar](50) NULL,
	[SPID] [int] NULL,
	[SPNO] [nvarchar](50) NULL,
	[ShipperID] [int] NULL,
	[ADJPrice] [int] NULL,
	[Priveinst] [int] NULL,
	[ApplySheet] [datetime] NULL,
	[ApplySheetNote] [nvarchar](50) NULL,
	[PurhItemID] [int] NULL,
	[CheckInItemID] [int] NULL,
	[RetgoodID] [int] NULL,
	[Refund2cID] [int] NULL,
	[DeliveryCheck] [int] NULL,
	[PROCUser] [nvarchar](50) NULL,
	[Parent] [int] NULL,
	[ScmenaBled] [int] NULL,
	[QtyProccncl] [int] NULL,
	[QtyPurh] [int] NULL,
	[QtySPOut] [int] NULL,
	[QtyCheckIn] [int] NULL,
	[QtyStckresv] [int] NULL,
	[Qtypkt] [int] NULL,
	[QtyDelivery] [int] NULL,
	[QtyRETGood] [int] NULL,
	[QtyCHGood] [int] NULL,
	[AmutRefund2c] [int] NULL,
	[WorkHource] [datetime] NULL,
	[StatusDate] [datetime] NULL,
	[DelivNO] [nvarchar](50) NULL,
	[SN] [varchar](50) NULL,
	[Updated] [int] NULL,
	[UpdateUser] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[ShippingExpense] [decimal](10, 2) NULL CONSTRAINT [DF_process_proc_shippingexpense]  DEFAULT ((0.00)),
	[XDDocNumber] [char](10) NULL,
	[XDDocNumber_RMA] [char](10) NULL,
	[XQDocNumber] [char](10) NULL,
	[XQDocNumber_RMA] [char](10) NULL,
	[XIDocNumber] [char](10) NULL,
	[XIDocNumber_RMA] [char](10) NULL,
	[UpdateSapStatus] [int] NULL,
	[SettlementID] [varchar](15) NULL,
	[Deliver] [int] NULL,
	[ServiceExpense] [decimal](10, 2) NULL,
	[Tax] [decimal](10, 2) NULL,
	[WarehouseID] [int] NULL,
	[XVInDocNumber] [char](10) NULL,
	[XVDocNumber] [char](10) NULL,
	[XVDocNumber_RMA] [char](10) NULL,
	[Coupons] [nvarchar](20) NULL,
	[ItemPriceSum] [decimal](10, 2) NULL,
	[DisplayPrice] [decimal](10, 2) NULL,
	[DiscountPrice] [decimal](10, 2) NULL,
	[InstallmentFee] [decimal](10, 2) NOT NULL DEFAULT ((0)),
	[IsNew] [char](1) NULL,
	[ApportionedAmount] [decimal](10, 2) NOT NULL DEFAULT ((0)),
	[SupplyShippingCharge] [decimal](10, 2) NULL,
	[itemCategory] [int] NULL,
 CONSTRAINT [PK_process_id] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
