USE [TWBACKENDDB]
GO
/****** Object:  Table [dbo].[retgood]    Script Date: 2016/08/18 14:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[retgood](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[SupplierID] [int] NULL,
	[ProductID] [int] NULL,
	[CreatedFRM] [int] NULL,
	[RetgoodType] [int] NULL,
	[Date] [datetime] NULL,
	[RetgoodUser] [nvarchar](50) NULL,
	[FinalDate] [datetime] NULL,
	[Status] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Qty] [int] NULL,
	[RECVGoodDate] [datetime] NULL,
	[RecvinvoDate] [datetime] NULL,
	[InvocFmrslt] [int] NULL,
	[InvocFMDate] [datetime] NULL,
	[InvocFMUser] [nvarchar](50) NULL,
	[UpdateUser] [nvarchar](50) NULL,
	[Cause] [int] NULL,
	[CauseNote] [nvarchar](500) NULL,
	[DealWith] [int] NULL,
	[DealFinaldate] [datetime] NULL,
	[CheckinItemID] [int] NULL,
	[StockOutItemID] [int] NULL,
	[Target] [int] NULL,
	[DealNote] [nvarchar](50) NULL,
	[PostAge] [int] NULL,
	[BankName] [nvarchar](50) NULL,
	[BankBranch] [nvarchar](50) NULL,
	[AccountNO] [nvarchar](20) NULL,
	[AccountName] [nvarchar](50) NULL,
	[ProcessID] [varchar](50) NULL,
	[AmntRefund2c] [int] NULL,
	[OutFileName] [nvarchar](50) NULL,
	[ATTS] [nvarchar](50) NULL,
	[FrmName] [nvarchar](50) NULL,
	[FrmLocation] [nvarchar](10) NULL,
	[FrmZipcode] [char](5) NULL,
	[FrmADDR] [nvarchar](150) NULL,
	[FrmPhone] [varchar](30) NULL,
	[FrmPhone2] [varchar](30) NULL,
	[FrmMobile] [varchar](30) NULL,
	[FrmEmail] [varchar](256) NULL,
	[FrmTime] [int] NULL,
	[FrmNote] [nvarchar](50) NULL,
	[ToCompany] [nvarchar](50) NULL,
	[ToName] [nvarchar](50) NULL,
	[ToLocation] [nvarchar](10) NULL,
	[ToZipcode] [char](5) NULL,
	[ToADDR] [nvarchar](150) NULL,
	[ToPhone] [varchar](30) NULL,
	[ScmenaBled] [int] NULL,
	[ScmNote] [nvarchar](50) NULL,
	[ShpCode] [nvarchar](50) NULL,
	[ShpEXPFile] [nvarchar](50) NULL,
	[StckDate] [datetime] NULL,
	[StckUser] [nvarchar](50) NULL,
	[EraseDate] [datetime] NULL,
	[EraseCause] [int] NULL,
	[EraseCauseNote] [nvarchar](50) NULL,
	[SysDate] [datetime] NULL,
	[Updated] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [nvarchar](50) NULL,
	[OnReturnDate] [datetime] NULL,
	[FinReturnDate] [datetime] NULL,
	[ABNReturndate] [datetime] NULL,
	[CancelReturnDate] [datetime] NULL,
	[Note] [nvarchar](500) NULL,
	[Declined] [int] NULL,
	[FreightalLocation] [decimal](10, 2) NULL,
	[REShipping] [decimal](10, 2) NULL,
	[TaxCost] [decimal](10, 2) NULL,
	[ASNNumber] [int] NULL,
	[SendStatus] [char](1) NULL,
	[SendDate] [datetime] NULL,
	[InventoryStatus] [int] NULL,
	[InventoryStatusDate] [datetime] NULL,
	[InventoryStatusUser] [nvarchar](50) NULL,
	[UpdateNote] [nvarchar](1500) NULL,
	[SettlementID] [varchar](15) NULL,
	[ProductStatus] [int] NULL,
	[ToSAP] [int] NULL,
	[ABNReturnReason] [nvarchar](500) NULL,
	[CreateUser] [nchar](50) NULL,
	[CartID] [varchar](50) NULL,
	[ChangeSalesOrderCode] [varchar](20) NULL,
 CONSTRAINT [PK_retgood_id] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
