USE [TWBACKENDDB]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 2016/08/18 14:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cart](
	[ID] [varchar](15) NOT NULL,
	[UserID] [varchar](50) NULL,
	[IDNo] [varchar](20) NULL,
	[Price] [decimal](10, 2) NULL,
	[Qty] [int] NULL,
	[Zipcode] [char](5) NULL,
	[ADDR] [nvarchar](150) NULL,
	[Phone] [varchar](30) NULL,
	[Phone2] [varchar](30) NULL,
	[Mobile] [varchar](30) NULL,
	[Email] [varchar](256) NULL,
	[Receiver] [nvarchar](50) NULL,
	[IinvoiceTitle] [nvarchar](50) NULL,
	[InvoiceNO] [char](10) NULL,
	[Note] [nvarchar](4000) NULL,
	[CardType] [char](10) NULL,
	[CardNO] [varchar](64) NULL,
	[CardExpire] [char](10) NULL,
	[CardHolder] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[CardADDR] [nvarchar](150) NULL,
	[CardBank] [nvarchar](50) NULL,
	[StoreID] [int] NULL,
	[PayType] [int] NULL,
	[UsrIP] [char](15) NULL,
	[Date] [datetime] NULL,
	[CardCheck] [char](4) NULL,
	[Device] [int] NULL,
	[CardPhone] [varchar](30) NULL,
	[CardPhone2] [varchar](30) NULL,
	[CardMobile] [varchar](30) NULL,
	[PaySelect] [int] NULL,
	[Username] [nvarchar](50) NULL,
	[ShipType] [int] NULL,
	[ShipPrice] [int] NULL,
	[Status] [int] NULL,
	[Location] [nvarchar](10) NULL,
	[CardLocation] [nvarchar](10) NULL,
	[CardZipcode] [char](5) NULL,
	[ServerName] [varchar](50) NULL,
	[CoserverName] [varchar](50) NULL,
	[HpType] [int] NULL,
	[InvoLocation] [nvarchar](10) NULL,
	[InvoZipcode] [char](5) NULL,
	[InvoADDR] [nvarchar](150) NULL,
	[InvoReceiver] [nvarchar](50) NULL,
	[FrmCode] [nvarchar](50) NULL,
	[UsrLOC] [nvarchar](10) NULL,
	[UserZipcode] [char](5) NULL,
	[UsrADDR] [nvarchar](150) NULL,
	[CMPName] [nvarchar](50) NULL,
	[CMPLOC] [nvarchar](10) NULL,
	[CMOZipcode] [char](5) NULL,
	[CMPADDR] [nvarchar](150) NULL,
	[CntName] [nvarchar](50) NULL,
	[CnRelation] [nvarchar](20) NULL,
	[CntTelCMP] [varchar](30) NULL,
	[CntTelHome] [varchar](30) NULL,
	[CntMobile] [varchar](30) NULL,
	[StID] [nvarchar](10) NULL,
	[StName] [nvarchar](30) NULL,
	[StPhone] [varchar](30) NULL,
	[StADDR] [nvarchar](150) NULL,
	[StatusDate] [datetime] NULL,
	[CreateDate] [datetime] NULL,
	[Updated] [int] NULL,
	[UpdateUser] [nvarchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[TelDay] [varchar](30) NULL,
	[TelNight] [varchar](30) NULL,
	[RecvMobile] [varchar](30) NULL,
	[DelivData] [nvarchar](50) NULL,
	[DelivHitNote] [nvarchar](100) NULL,
	[AuthDate] [datetime] NULL,
	[AuthCode] [varchar](20) NULL,
	[AuthNote] [nvarchar](50) NULL,
	[ActCode] [varchar](50) NULL,
	[StatusNote] [nvarchar](50) NULL,
	[SalesorderGroupID] [int] NULL,
	[RecvENGName] [varchar](50) NULL,
	[DelivENGADDR] [varchar](150) NULL,
	[DelivNO] [varchar](50) NULL,
	[DelvStatus] [int] NULL,
	[DelvStatusDate] [datetime] NULL,
	[RefSONumber] [int] NOT NULL CONSTRAINT [DF_cart_cart_RefSONumber]  DEFAULT ((0)),
	[Forwarder] [int] NOT NULL CONSTRAINT [DF_cart_cart_DeliveryCompanyID]  DEFAULT ((0)),
	[InventoryStatus] [int] NULL,
	[InventoryStatusDate] [datetime] NULL,
	[IinventorystatusUser] [nvarchar](50) NULL,
	[UpdateNote] [nvarchar](1500) NULL,
	[WarehouseID] [int] NULL,
	[CheckCustomsDoc] [nchar](10) NULL,
	[PayTypeID] [int] NULL,
	[UserNote] [nvarchar](1500) NULL,
	[Deliv4NO] [varchar](50) NULL,
	[O2OShopDeliveryDate] [datetime] NULL,
	[O2ORMAfalg] [varchar](50) NULL CONSTRAINT [DF__cart__O2ORMAfalg__7814D14C]  DEFAULT ('f'),
	[O2OForwarder] [int] NULL,
	[O2ODeliveryDate] [datetime] NULL,
	[invoiceCarrierType] [varchar](20) NULL,
	[invoiceCarrierId1] [varchar](100) NULL,
	[invoiceCarrierId2] [varchar](100) NULL,
	[invoiceDonateCode] [varchar](20) NULL,
 CONSTRAINT [PK_cart_id] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
