USE [TWBACKENDDB]
GO
/****** Object:  Table [dbo].[SMSMessageSample]    Script Date: 2016/08/18 14:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSMessageSample](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MessageTypeName] [nvarchar](50) NOT NULL,
	[MessageContent] [nvarchar](700) NOT NULL,
 CONSTRAINT [PK_SMSMessageSample] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
