USE [TWBACKENDDB]
GO
/****** Object:  Table [dbo].[cHI_MRGA_TAKEDAY]    Script Date: 2016/08/18 14:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cHI_MRGA_TAKEDAY](
	[PreID] [varchar](10) NOT NULL,
	[TakeStartDate] [varchar](8) NOT NULL,
	[TakeEndDate] [varchar](8) NULL,
	[InUserID] [int] NULL,
	[InDate] [datetime] NULL,
	[UpdateUserID] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_cHI_MRGA_TAKEDAY] PRIMARY KEY CLUSTERED 
(
	[PreID] ASC,
	[TakeStartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[cHI_MRGA_TAKEDAY] ADD  CONSTRAINT [DF_cHI_MRGA_TAKEDAY_Indate]  DEFAULT (getdate()) FOR [InDate]
GO
ALTER TABLE [dbo].[cHI_MRGA_TAKEDAY] ADD  CONSTRAINT [DF_cHI_MRGA_TAKEDAY_Updatedate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
