<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!--Start Require by Framework Start-->
  <add key="ServiceApiAddressConfig" value="Configurations/ServiceApiAddress.config"/>
  <add key="MethodsConfig" value="Configurations/ServiceMethods.config"/>
  <add key="ComponentsConfig" value="Configurations/ServiceComponents.config"/>
  <add key="PublicMethodsConfig" value="Configurations/PublicMethods.config"/>
  <add key="ServiceApiCacheAppSetting" value="Configurations/ServiceApiCacheAppSettings.config"/>
  <!--End Require by Framework End-->
  
  <!--Local******************************************-->
  <add key="APIHost" value="http://localhost:57035"/>
  <!--<add key="TWSPHost" value="http://sellerportal.newegg.com.tw"/>-->
  <!--Dev********************************************-->
  <!--<add key="APIHost" value="http://localhost:71"/>-->
  <!--<add key="TWSPHost" value="http://sellerportal.newegg.com.tw"/>-->
  <!--GQC*********************************************-->
  <!--<add key="APIHost" value="http://localhost:98"/>-->
  <!--<add key="TWSPHost" value="http://sellerportal.newegg.com.tw"/>-->
  <!--PP**********************************************-->
  <!--<add key="APIHost" value="http://localhost:98"/>-->
  <!--<add key="TWSPHost" value="http://sellerportal.newegg.com.tw"/>-->
  <!--PRD**********************************************-->
  <!--<add key="APIHost" value="http://localhost:71"/>-->
  <add key="TWSPHost" value="http://sellerportal.newegg.com.tw"/>
</appSettings>
