<?xml version="1.0"?>
<ServiceMethods>
  <!--START  COMPONENT ID Service.GroupBuyService  START-->
  <ServiceMethod methodName="GetSellerUserID" componentID="Controllers.UserController" destination="e10web" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得團購商品]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="VendoeSellerCheck" componentID="UserService" destination="e10web" destMethod="TWNESrv" cacheTime="600" cacheName="{1}checkemail_{0}" source="RemoteService">
    <methodDesc><![CDATA[取得團購商品]]></methodDesc>
  </ServiceMethod>
  <!--END  COMPONENT ID Service.GroupBuyService  END-->

  <ServiceMethod methodName="EditDetailTemp" componentID="Controllers.ItemTempController" destination="e10web" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得團購商品]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="Search" componentID="Controllers.ItemTempController" destination="e10web" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得團購商品]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetSeller_BasicInfos" componentID="Controllers.SellerRelationshipManageController" destination="e10web" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得SellerSearchAutoComplete資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="AuthTokenService" destination="e10web" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得token]]></methodDesc>
  </ServiceMethod>
</ServiceMethods>
