<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\TWNewEgg.Components\TWNewEgg.DB\packages.config" />
  <repository path="..\TWNewEgg.Components\TWNewEgg.NeweggRequestServices\packages.config" />
  <repository path="..\TWNewEgg.Components\TWNewEgg.Redeem\packages.config" />
  <repository path="..\TWNewEgg.Components\TWNewEgg.StorageServices\packages.config" />
  <repository path="..\TWNewEgg.ECOPC\TWNewEgg.ECOPC.Tests\packages.config" />
  <repository path="..\TWNewEgg.ECOPC\TWNewEgg.ECOPC\packages.config" />
  <repository path="..\TWNewEgg.ECPayment\TWNewEgg.ECPayment.Tests\packages.config" />
  <repository path="..\TWNewEgg.ECPayment\TWNewEgg.ECPayment\packages.config" />
  <repository path="..\TWNewEgg.ECService\TWNewEgg.ECService.Tests\packages.config" />
  <repository path="..\TWNewEgg.ECService\TWNewEgg.ECService\packages.config" />
  <repository path="..\TWNewEgg.ECWeb\TWNewEgg.ECWeb.Tests\packages.config" />
  <repository path="..\TWNewEgg.ECWeb\TWNewEgg.ECWeb\packages.config" />
  <repository path="..\TWNewEgg.ECWeb_Mobile\TWNewEgg.ECWeb_Mobile.Tests\packages.config" />
  <repository path="..\TWNewEgg.ECWeb_Mobile\TWNewEgg.ECWeb_Mobile\packages.config" />
  <repository path="..\TWNewEgg.PublicAPI\TWNewEgg.PublicAPI\packages.config" />
</repositories>