@charset "UTF-8";
/* line 4, ../sass/allModel.scss */
.titleBar {
  padding: 0 5px;
  height: 25px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dedede), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(#dedede, #e3e3e3);
  background: -moz-linear-gradient(#dedede, #e3e3e3);
  background: -o-linear-gradient(#dedede, #e3e3e3);
  background: linear-gradient(#dedede, #e3e3e3);
}
/* line 8, ../sass/allModel.scss */
.titleBar .title {
  float: left;
  padding-top: 5px;
  font-size: 1.3em;
  font-weight: bold;
}
/* line 13, ../sass/allModel.scss */
.titleBar .title span {
  font-size: 0.9em;
}
/* line 17, ../sass/allModel.scss */
.titleBar .path {
  float: right;
  padding-top: 7px;
}
/* line 20, ../sass/allModel.scss */
.titleBar .path a {
  margin: 0 2px;
}
/* line 23, ../sass/allModel.scss */
.titleBar .path span {
  margin: 0 2px;
}

/* line 29, ../sass/allModel.scss */
.tip {
  margin-right: 5px;
  padding-right: 20px;
  min-width: 14px;
  min-height: 14px;
  background: url("../img/tip.gif") no-repeat right;
}

/* line 36, ../sass/allModel.scss */
.gray_line {
  clear: both;
  border-top: 1px solid #dadada;
}

/* line 40, ../sass/allModel.scss */
.deepBlue {
  color: #2752a0;
}

/* line 43, ../sass/allModel.scss */
.gray {
  color: #8c8986;
}

/* line 46, ../sass/allModel.scss */
.green {
  color: #659900;
}

/* line 49, ../sass/allModel.scss */
.pen {
  min-width: 18px;
  min-height: 15px;
  background: url("../img/icon/icon12.gif") no-repeat;
}

/* line 55, ../sass/allModel.scss */
input[type="button"].btn, input[type="reset"].btn {
  background: url("../img/nav_bg_hover.gif") repeat-x;
  border: 1px solid #88b3e1;
  border-top: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #27539c;
  text-indent: 0;
}

/* line 64, ../sass/allModel.scss */
.content {
  padding: 10px 15px 30px 15px;
  background: #FFF;
  border-top: 1px solid #ccc;
}
/* line 68, ../sass/allModel.scss */
.content .searchBar {
  margin-bottom: 20px;
  font-size: 1.1em;
}
/* line 71, ../sass/allModel.scss */
.content .searchBar .tit {
  float: left;
  margin-right: 8px;
  line-height: 1.7em;
}
/* line 76, ../sass/allModel.scss */
.content .searchBar input[type="text"] {
  width: 190px;
}
/* line 79, ../sass/allModel.scss */
.content .searchBar a {
  margin: 0 3px;
}
/* line 81, ../sass/allModel.scss */
.content .searchBar a:hover {
  color: #e47a1b;
}
/* line 86, ../sass/allModel.scss */
.content .tabBox {
  border-bottom: 2px solid #264a80;
}
/* line 88, ../sass/allModel.scss */
.content .tabBox .nav {
  float: left;
  padding: 5px 20px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ececec), color-stop(100%, #e4e4e4));
  background: -webkit-linear-gradient(#ececec, #e4e4e4);
  background: -moz-linear-gradient(#ececec, #e4e4e4);
  background: -o-linear-gradient(#ececec, #e4e4e4);
  background: linear-gradient(#ececec, #e4e4e4);
  border: 1px solid #ccc;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color: #132b57;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}
/* line 98, ../sass/allModel.scss */
.content .tabBox .nav + .nav {
  margin-left: 5px;
}
/* line 101, ../sass/allModel.scss */
.content .tabBox .nav:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(#fefefe, #ebebeb);
  background: -moz-linear-gradient(#fefefe, #ebebeb);
  background: -o-linear-gradient(#fefefe, #ebebeb);
  background: linear-gradient(#fefefe, #ebebeb);
}
/* line 104, ../sass/allModel.scss */
.content .tabBox .nav.active {
  background: #264a80;
  background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5e8ccf), color-stop(100%, #264a80));
  background: -webkit-linear-gradient(#5e8ccf, #264a80);
  background: -moz-linear-gradient(#5e8ccf, #264a80);
  background: -o-linear-gradient(#5e8ccf, #264a80);
  background: linear-gradient(#5e8ccf, #264a80);
  border: 1px solid #264a80;
  color: #fff;
  background: #264a80;
}
/* line 110, ../sass/allModel.scss */
.content .tabBox .SecondNav {
  float: left;
  padding: 5px 20px;
  /*@include background(rgb(233, 233, 233);*/
  border: 1px solid #e7e7e7;
  color: #132b57;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
}
/* line 120, ../sass/allModel.scss */
.content .tabBox .SecondNav + .SecondNav {
  margin: 0px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
}
/* line 125, ../sass/allModel.scss */
.content .tabBox .SecondNav:hover {
  background: #fefefe, #ebebeb;
}
/* line 128, ../sass/allModel.scss */
.content .tabBox .SecondNav.active {
  background: #7fb4ff;
  border: 1px solid #7fb4ff;
  border-radius: 0;
  color: #fff;
}
/* line 136, ../sass/allModel.scss */
.content .nav_content {
  margin-top: 25px;
  /*帳戶設定*/
  /*商家資訊*/
  /*退換貨條款及資訊*/
  /*商品子類別參考*/
  /*生產廠商*/
  /*商家維護與管理*/
}
/* line 138, ../sass/allModel.scss */
.content .nav_content .nav_sub {
  position: relative;
  background: url("../img/nav_sub_bg.gif") repeat-x;
}
/* line 141, ../sass/allModel.scss */
.content .nav_content .nav_sub .sub {
  float: left;
  padding: 8px 0;
  width: 78px;
  height: 22px;
  font-weight: bold;
  text-align: center;
  color: #406498;
  cursor: pointer;
  z-index: 9;
}
/* line 151, ../sass/allModel.scss */
.content .nav_content .nav_sub .sub:hover, .content .nav_content .nav_sub .sub.active {
  color: #000;
}
/* line 154, ../sass/allModel.scss */
.content .nav_content .nav_sub .sub.active {
  background: url("../img/arr06.gif") no-repeat;
}
/* line 159, ../sass/allModel.scss */
.content .nav_content .editBtn {
  float: right;
  margin: 0 0 12px 21px;
  padding: 3px 0 0 18px;
}
/* line 163, ../sass/allModel.scss */
.content .nav_content .editBtn.edit {
  min-width: 18px;
  min-height: 15px;
  background: url("../img/icon/icon12.gif") no-repeat;
}
/* line 168, ../sass/allModel.scss */
.content .nav_content .editBtn.addadr {
  min-width: 15px;
  min-height: 16px;
  background: url("../img/icon/icon14.gif") no-repeat;
}
/* line 174, ../sass/allModel.scss */
.content .nav_content .addAccount {
  width: 116px;
  height: 22px;
  background: url("../img/add_account.gif") no-repeat;
}
/* line 179, ../sass/allModel.scss */
.content .nav_content input[type="text"] {
  width: 385px;
}
/* line 182, ../sass/allModel.scss */
.content .nav_content .showBox {
  display: block;
  min-width: 700px;
}
/* line 186, ../sass/allModel.scss */
.content .nav_content .editBox {
  display: none;
}
/* line 189, ../sass/allModel.scss */
.content .nav_content .newBox {
  display: none;
}
/* line 192, ../sass/allModel.scss */
.content .nav_content .outbox {
  margin: 10px 0;
  font-size: 1.1em;
}
/* line 196, ../sass/allModel.scss */
.content .nav_content .box {
  margin-bottom: 15px;
  border: 1px solid #dadada;
  font-size: 1.1em;
}
/* line 200, ../sass/allModel.scss */
.content .nav_content .box .tit {
  display: inline-block;
  position: relative;
  top: -0.5em;
  margin-left: 8px;
  padding: 0 5px;
  background: #fff;
  font-weight: bold;
  font-family: "新細明體";
}
/* line 211, ../sass/allModel.scss */
.content .nav_content .box.option .txt {
  padding: 5px 8px;
}
/* line 214, ../sass/allModel.scss */
.content .nav_content .box.option .noticeOpt, .content .nav_content .box.option .mailOpt {
  margin-top: 5px;
}
/* line 216, ../sass/allModel.scss */
.content .nav_content .box.option .noticeOpt .tt, .content .nav_content .box.option .mailOpt .tt {
  margin-top: 3px;
}
/* line 218, ../sass/allModel.scss */
.content .nav_content .box.option .noticeOpt .tt span, .content .nav_content .box.option .mailOpt .tt span {
  color: #f00;
  margin-right: 3px;
  font-weight: bold;
}
/* line 224, ../sass/allModel.scss */
.content .nav_content .box.option .noticeOpt div, .content .nav_content .box.option .mailOpt div {
  float: left;
}
/* line 228, ../sass/allModel.scss */
.content .nav_content .box.option .noticeOpt {
  margin-left: 10px;
}
/* line 230, ../sass/allModel.scss */
.content .nav_content .box.option .noticeOpt .tt {
  width: 35px;
}
/* line 234, ../sass/allModel.scss */
.content .nav_content .box.option .mailOpt {
  margin-left: 4px;
}
/* line 236, ../sass/allModel.scss */
.content .nav_content .box.option .mailOpt .tit {
  width: 43px;
}
/* line 239, ../sass/allModel.scss */
.content .nav_content .box.option .mailOpt input[type="text"] {
  margin: 0 0 7px 5px;
}
/* line 245, ../sass/allModel.scss */
.content .nav_content .add_out_box {
  float: left;
  width: 48%;
}
/* line 248, ../sass/allModel.scss */
.content .nav_content .add_out_box .add_box {
  margin-right: 10px;
  border: 1px solid #e8e8e8;
}
/* line 251, ../sass/allModel.scss */
.content .nav_content .add_out_box .add_box:hover, .content .nav_content .add_out_box .add_box.active {
  border: 1px solid #89b4e0;
}
/* line 253, ../sass/allModel.scss */
.content .nav_content .add_out_box .add_box:hover.add, .content .nav_content .add_out_box .add_box.active.add {
  border: 4px solid #fcebcf;
}
/* line 257, ../sass/allModel.scss */
.content .nav_content .add_out_box .add_box .add {
  padding: 3px;
  border: 4px solid #fcebcf;
}
/* line 261, ../sass/allModel.scss */
.content .nav_content .add_out_box .add_box .tit {
  /*display:inline-block;
  position:relative;
  top:-0.5em;
  margin-left:8px;
  padding:0 5px;
  background:#fff;
  font-weight:bold;
  font-family:"新細明體";*/
  font-size: 1.1em;
  line-height: 28px;
}
/* line 272, ../sass/allModel.scss */
.content .nav_content .add_out_box .add_box .tit .No, .content .nav_content .add_out_box .add_box .tit .tt, .content .nav_content .add_out_box .add_box .tit .txt {
  float: left;
}
/* line 275, ../sass/allModel.scss */
.content .nav_content .add_out_box .add_box .tit .No {
  margin-right: 7px;
  padding-left: 10px;
  width: 23px;
  height: 26px;
  background: url("../img/No_bg.gif") no-repeat;
  color: #fff;
}
/* line 284, ../sass/allModel.scss */
.content .nav_content .add_out_box .add_box .tit .tt {
  display: none;
}
/* line 287, ../sass/allModel.scss */
.content .nav_content .add_out_box .add_box .tit .txt {
  font-weight: bold;
}
/* line 293, ../sass/allModel.scss */
.content .nav_content .add_out_box .add_box table th {
  width: 90px;
}
/* line 298, ../sass/allModel.scss */
.content .nav_content .add_out_box .controlBox {
  height: 32px;
  overflow: hidden;
}
/* line 301, ../sass/allModel.scss */
.content .nav_content .add_out_box .controlBox .control {
  visibility: hidden;
  margin: 10px 0;
  color: #ccc;
  text-align: center;
}
/* line 307, ../sass/allModel.scss */
.content .nav_content .add_out_box .controlBox .control a:hover {
  color: #e47a1b;
}
/* line 312, ../sass/allModel.scss */
.content .nav_content .add_out_box .controlBox .btmBtn {
  display: none;
  margin-top: 10px;
}
/* line 318, ../sass/allModel.scss */
.content .nav_content .add_out_box:hover .control {
  visibility: VISIBLE;
}
/* line 324, ../sass/allModel.scss */
.content .nav_content table th {
  width: 220px;
  height: 30px;
  text-align: right;
}
/* line 328, ../sass/allModel.scss */
.content .nav_content table th span {
  margin-right: 3px;
  color: #f00;
  font-weight: bold;
}
/* line 334, ../sass/allModel.scss */
.content .nav_content table td {
  font-family: "Arial";
  font-weight: bold;
}
/* line 338, ../sass/allModel.scss */
.content .nav_content table .sample {
  margin-left: 5px;
  color: #000;
  font-weight: normal;
  font-family: "微軟正黑體";
}
/* line 344, ../sass/allModel.scss */
.content .nav_content table .telCode, .content .nav_content table .telExt, .content .nav_content table .telPhone {
  margin: 0 5px;
  width: 70px;
}
/* line 348, ../sass/allModel.scss */
.content .nav_content table .telPhone {
  width: 160px;
}
/* line 351, ../sass/allModel.scss */
.content .nav_content table select {
  padding-left: 4px;
  width: 400px;
  height: 24px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 360, ../sass/allModel.scss */
.content .nav_content .accountSettingBox {
  border-top: 2px solid #f9c241;
}
/* line 363, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox td {
  font-weight: normal;
}
/* line 366, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .titBar {
  padding: 6px 0 0 23px;
  background: url("../img/arr01-2.gif") no-repeat 0 17px;
  border-bottom: 1px solid #dadada;
  box-shadow: 0 2px 0 #f2f2f2;
}
/* line 371, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .titBar.active {
  background: url("../img/arr01-3.gif") no-repeat 0 17px;
}
/* line 374, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .titBar label {
  color: #999;
}
/* line 377, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .titBar .tit {
  padding-left: 20px;
  min-width: 15px;
  min-height: 15px;
  background: url("../img/icon/icon16.gif") no-repeat 0 7px;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 386, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .titBar .icon.state01 {
  margin-left: 2px;
  padding-left: 20px;
  background: url("../img/icon/state01.gif") no-repeat;
}
/* line 391, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .titBar .icon.state02 {
  margin-left: 2px;
  padding-left: 20px;
  background: url("../img/icon/state02.gif") no-repeat;
}
/* line 396, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .titBar .icon.state03 {
  margin-left: 2px;
  padding-left: 20px;
  background: url("../img/icon/state03.gif") no-repeat;
}
/* line 401, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .titBar .icon.mark01 {
  margin-left: 2px;
  padding-left: 20px;
  background: url("../img/icon/icon17.gif") no-repeat;
}
/* line 406, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .titBar .icon.mark02 {
  margin-left: 2px;
  padding-left: 20px;
  background: url("../img/icon/icon18.gif") no-repeat;
}
/* line 411, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .titBar .icon.mark03 {
  margin-left: 2px;
  padding-left: 20px;
  background: url("../img/icon/icon19.gif") no-repeat;
}
/* line 416, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .titBar .icon.edit {
  margin-left: 2px;
  padding-left: 20px;
  background: url("../img/icon/icon12.gif") no-repeat;
}
/* line 422, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .settingTable {
  margin-left: 42px;
}
/* line 424, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .settingTable .tt {
  margin: 10px 0;
  font-weight: bold;
}
/* line 429, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .settingTable label + label {
  margin-left: 40px;
}
/* line 433, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .settingTable table {
  margin-left: 53px;
}
/* line 435, ../sass/allModel.scss */
.content .nav_content .accountSettingBox .settingBox .settingTable table td {
  height: 2em;
}
/* line 443, ../sass/allModel.scss */
.content .nav_content .uploadBar {
  margin-left: 10px;
}
/* line 445, ../sass/allModel.scss */
.content .nav_content .uploadBar .tit {
  float: left;
  line-height: 1.7em;
  font-weight: bold;
}
/* line 450, ../sass/allModel.scss */
.content .nav_content .uploadBar .pic {
  float: left;
  margin: 0 10px;
}
/* line 453, ../sass/allModel.scss */
.content .nav_content .uploadBar .pic img {
  max-height: 1.7em;
  vertical-align: middle;
}
/* line 458, ../sass/allModel.scss */
.content .nav_content .uploadBar input {
  float: left;
  margin-right: 15px;
}
/* line 462, ../sass/allModel.scss */
.content .nav_content .uploadBar p {
  margin: 10px 0;
  color: #ae530d;
}
/* line 467, ../sass/allModel.scss */
.content .nav_content .accountSettingBox.infoTxt {
  padding: 10px;
}
/* line 469, ../sass/allModel.scss */
.content .nav_content .accountSettingBox.infoTxt .tit {
  margin: 0 0 5px 5px;
  font-weight: bold;
}
/* line 473, ../sass/allModel.scss */
.content .nav_content .accountSettingBox.infoTxt textarea {
  margin-bottom: 5px;
  width: 80%;
  min-height: 200px;
}
/* line 479, ../sass/allModel.scss */
.content .nav_content .save3 {
  float: right;
  margin-top: 10px;
  width: 116px;
  height: 22px;
  background: url("../img/save3.gif") no-repeat;
  border: 0;
}
/* line 489, ../sass/allModel.scss */
.content .nav_content .returnInfoBox p {
  margin-bottom: 8px;
}
/* line 492, ../sass/allModel.scss */
.content .nav_content .returnInfoBox .returnInfoTable {
  margin-top: 20px;
  line-height: 3em;
}
/* line 495, ../sass/allModel.scss */
.content .nav_content .returnInfoBox .returnInfoTable td {
  font-weight: normal;
}
/* line 497, ../sass/allModel.scss */
.content .nav_content .returnInfoBox .returnInfoTable td .txt {
  line-height: 1em;
}
/* line 498, ../sass/allModel.scss */
.content .nav_content .returnInfoBox .returnInfoTable td .txt textarea {
  margin-bottom: 3px;
  width: 550px;
  height: 100px;
}
/* line 508, ../sass/allModel.scss */
.content .nav_content .returnInfoBox .settingByItem .title {
  margin-bottom: 5px;
  padding: 6px 0 8px 23px;
  background: url("../img/arr01-2.gif") no-repeat 0 11px;
  border-bottom: 1px solid #dadada;
  box-shadow: 0 2px 0 #f2f2f2;
  font-weight: bold;
}
/* line 514, ../sass/allModel.scss */
.content .nav_content .returnInfoBox .settingByItem .title.active {
  background: url("../img/arr01-3.gif") no-repeat 0 11px;
}
/* line 518, ../sass/allModel.scss */
.content .nav_content .returnInfoBox .settingByItem .title span.warning {
  font-weight: normal;
}
/* line 522, ../sass/allModel.scss */
.content .nav_content .returnInfoBox .settingByItem .openDetial {
  width: 10px;
  height: 10px;
  background: url("../img/arr07.gif") no-repeat;
  /*&.active {
  	background:url("../img/arr08.gif") no-repeat;
  }*/
}
/* line 531, ../sass/allModel.scss */
.content .nav_content .returnInfoBox .settingByItem tr.active td {
  background: #f5e9d3;
}
/* line 533, ../sass/allModel.scss */
.content .nav_content .returnInfoBox .settingByItem tr.active td .openDetial {
  background: url("../img/arr10.gif") no-repeat;
}
/* line 538, ../sass/allModel.scss */
.content .nav_content .returnInfoBox .settingByItem .box {
  margin: 0;
  padding: 5px 10px 0 5px;
  background: #fff;
  border: 0;
  font-weight: normal;
}
/* line 544, ../sass/allModel.scss */
.content .nav_content .returnInfoBox .settingByItem .box > div {
  float: left;
  margin: 0 0 10px 5px;
  width: 12%;
  height: 2em;
  overflow: hidden;
}
/* line 552, ../sass/allModel.scss */
.content .nav_content .returnInfoBox .settingByItem .box a:hover {
  color: #f70;
}
/* line 560, ../sass/allModel.scss */
.content .nav_content .productReference {
  margin-top: 50px;
}
/* line 562, ../sass/allModel.scss */
.content .nav_content .productReference .left, .content .nav_content .productReference .right {
  float: left;
  margin-right: 100px;
  width: 250px;
  height: 500px;
  border: 1px solid #555;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* line 574, ../sass/allModel.scss */
.content .nav_content .stateSearch {
  margin: 15px 0;
}
/* line 576, ../sass/allModel.scss */
.content .nav_content .stateSearch .tit {
  float: left;
  margin-left: 10px;
  line-height: 2em;
}
/* line 581, ../sass/allModel.scss */
.content .nav_content .stateSearch select {
  float: left;
  margin-left: 10px;
}
/* line 585, ../sass/allModel.scss */
.content .nav_content .stateSearch input {
  float: left;
  margin-left: 10px;
}
/* line 588, ../sass/allModel.scss */
.content .nav_content .stateSearch input.searchTxt {
  padding-left: 21px;
  width: 600px;
  background: url("../img/searchTxt_bg.gif") no-repeat 5px 4px;
}
/* line 593, ../sass/allModel.scss */
.content .nav_content .stateSearch input.search {
  width: 90px;
  height: 22px;
  background: url("../img/search_bg.gif") no-repeat;
}
/* line 598, ../sass/allModel.scss */
.content .nav_content .stateSearch input.creat {
  float: right;
  width: 160px;
  height: 22px;
  background: url("../img/creatManufacturer_bg.gif") no-repeat;
}
/* line 605, ../sass/allModel.scss */
.content .nav_content .stateSearch .advancedSearch {
  display: block;
  float: left;
  padding: 5px 10px 0 5px;
  background: url("../img/arr09.gif") no-repeat center right;
}
/* line 611, ../sass/allModel.scss */
.content .nav_content .stateSearch .go {
  padding: 0 15px;
  height: 22px;
}
/* line 616, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox {
  border: 1px solid #dadada;
}
/* line 620, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox.manufacturerList tr td {
  line-height: 1.5em;
}
/* line 625, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox.manufacturerList tr:nth-child(odd) td {
  background: #e6e6e6;
}
/* line 630, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox.manufacturerList tr::nth-child(even) td {
  background: #fff;
}
/* line 635, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox.manufacturerList tr:hover td {
  background: #eef4fb;
}
/* line 642, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .manufacturerTable tr.active td {
  background: #f3e4c7;
}
/* line 645, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .manufacturerTable tr.active .openDetial {
  background: url("../img/arr08.gif") no-repeat;
}
/* line 650, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .manufacturerTable td .openDetial {
  width: 10px;
  height: 10px;
  background: url("../img/arr07.gif") no-repeat;
  /*&.active {
  	background:url("../img/arr08.gif") no-repeat;
  }*/
}
/* line 658, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .manufacturerTable td .success, .content .nav_content .manufacturerTableBox .manufacturerTable td .forbid {
  padding-top: 20px;
  text-align: center;
}
/* line 662, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .manufacturerTable td .forbid {
  background: url("../img/forbid.gif") no-repeat top center;
  color: #808080;
}
/* line 666, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .manufacturerTable td .success {
  background: url("../img/success.gif") no-repeat top center;
  color: #659900;
}
/* line 672, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .manufacturerTable .box {
  margin: -5px -3px;
  padding: 10px;
  background: #f7f6f2;
  border: 1px solid #ffa500;
}
/* line 678, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .manufacturerTable .box table th, .content .nav_content .manufacturerTableBox .manufacturerTable .box table td {
  background: none;
  border: 0;
  color: #000;
}
/* line 683, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .manufacturerTable .box table th {
  width: 120px;
}
/* line 686, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .manufacturerTable .box table td {
  width: 200px;
}
/* line 690, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .manufacturerTable .box .search {
  margin-top: 10px;
}
/* line 692, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .manufacturerTable .box .search input[type="button"], .content .nav_content .manufacturerTableBox .manufacturerTable .box .search input[type="reset"] {
  padding: 0 25px;
  height: 22px;
}
/* line 697, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .manufacturerTable .box .textBox {
  margin-top: 10px;
  padding: 7px;
  min-height: 150px;
  border: 1px solid #999;
}
/* line 705, ../sass/allModel.scss */
.content .nav_content .manufacturerTableBox .delete {
  margin-left: 10px;
}
/* line 710, ../sass/allModel.scss */
.content .nav_content .titTab {
  float: left;
  padding: 5px 20px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5e8ccf), color-stop(100%, #264a80));
  background: -webkit-linear-gradient(#5e8ccf, #264a80);
  background: -moz-linear-gradient(#5e8ccf, #264a80);
  background: -o-linear-gradient(#5e8ccf, #264a80);
  background: linear-gradient(#5e8ccf, #264a80);
  border: 1px solid #264a80;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}
/* line 722, ../sass/allModel.scss */
.content .nav_content .sellerTypeTable th {
  padding: 3px;
  height: 23px;
  background: url("../img/nav_title_bg.gif") repeat-x #24457a;
  border: 1px solid #333;
  color: #fff;
  text-align: left;
}
/* line 730, ../sass/allModel.scss */
.content .nav_content .sellerTypeTable td {
  background: #f3e4c7;
}
/* line 733, ../sass/allModel.scss */
.content .nav_content .sellerTypeTable select {
  width: auto;
}
/* line 738, ../sass/allModel.scss */
.content .warning {
  margin: 15px 0 15px 12px;
  padding-left: 18px;
  min-height: 16px;
  background: url("../img/icon/icon13.gif") no-repeat;
  font-size: 0.9em;
  line-height: 1.3em;
}
/* line 746, ../sass/allModel.scss */
.content .hide {
  display: none;
}
/* line 749, ../sass/allModel.scss */
.content .btn {
  margin-right: 15px;
  height: 22px;
  /*&+.btn {
  	margin-left:15px;
  }*/
}
/* line 755, ../sass/allModel.scss */
.content .btn.upload {
  width: 69px;
  background: url("../img/upload.gif") no-repeat;
}
/* line 758, ../sass/allModel.scss */
.content .btn.upload:hover {
  background: url("../img/upload2.gif") no-repeat;
}
/* line 762, ../sass/allModel.scss */
.content .btn.sub {
  width: 69px;
  background: url("../img/sub.gif") no-repeat;
}
/* line 765, ../sass/allModel.scss */
.content .btn.sub:hover {
  background: url("../img/sub2.gif") no-repeat;
}
/* line 770, ../sass/allModel.scss */
.content .btn.orange {
  margin-bottom: 2px;
  background: #f7c882;
  border: 1px solid #d2880d;
  color: #ae520d;
}
/* line 776, ../sass/allModel.scss */
.content .btmBtn {
  margin-top: 15px;
  text-align: center;
}
/* line 779, ../sass/allModel.scss */
.content .btmBtn .btn {
  height: 22px;
  border: 0;
  cursor: pointer;
}
/* line 783, ../sass/allModel.scss */
.content .btmBtn .btn + .btn {
  margin-left: 15px;
}
/* line 787, ../sass/allModel.scss */
.content .btmBtn .save {
  width: 64px;
  background: url("../img/save.gif") no-repeat;
}
/* line 791, ../sass/allModel.scss */
.content .btmBtn .save2 {
  width: 64px;
  background: url("../img/save2.gif") no-repeat;
}
/* line 795, ../sass/allModel.scss */
.content .btmBtn .cancel {
  width: 44px;
  background: url("../img/cancel.gif") no-repeat;
}

/* line 801, ../sass/allModel.scss */
.btnExport {
  margin-top: 50px;
  padding: 5px;
  background: #f4f5f6;
  border-top: 1px solid #dadada;
  color: #555;
}
/* line 807, ../sass/allModel.scss */
.btnExport .tit {
  float: left;
  padding: 3px 0 0 20px;
  min-height: 16px;
  background: url("../img/icon15.gif") no-repeat;
}
/* line 813, ../sass/allModel.scss */
.btnExport .page {
  float: right;
}
/* line 815, ../sass/allModel.scss */
.btnExport .page a {
  padding: 0 5px;
  border: 1px solid #dadada;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #000;
  cursor: defult;
  text-decoration: none;
}
/* line 822, ../sass/allModel.scss */
.btnExport .page a.active {
  background: #fcebcf;
  border: 1px solid #f2a426;
}

/* line 830, ../sass/allModel.scss */
.deleteBox {
  text-align: right;
}
/* line 832, ../sass/allModel.scss */
.deleteBox input {
  margin-left: 10px;
}
/* line 835, ../sass/allModel.scss */
.deleteBox .btn01 {
  width: 80px;
  height: 22px;
  background: url("../img/icon/btn01.gif") no-repeat;
}
/* line 840, ../sass/allModel.scss */
.deleteBox .btn02 {
  width: 100px;
  height: 22px;
  background: url("../img/icon/btn02.gif") no-repeat;
}
/* line 845, ../sass/allModel.scss */
.deleteBox .btn03 {
  width: 90px;
  height: 22px;
  background: url("../img/icon/btn03.gif") no-repeat;
}

/* line 853, ../sass/allModel.scss */
.tr2c tr:nth-child(odd) td {
  background: #e6e6e6;
}
/* line 858, ../sass/allModel.scss */
.tr2c tr::nth-child(even) td {
  background: #fff;
}
/* line 862, ../sass/allModel.scss */
.tr2c th {
  padding: 3px;
  height: 23px;
  border: 1px solid #333;
  background: url("../img/nav_title_bg.gif") repeat-x #24457a;
  color: #fff;
  text-align: left;
}
/* line 870, ../sass/allModel.scss */
.tr2c td {
  padding: 5px 3px;
  background: #f5f5f5;
  border: 1px solid #ccc;
  text-align: left;
  font-weight: normal;
  /*&.active {
  	background:#f3e4c7;
  }*/
}

/* line 883, ../sass/allModel.scss */
.trhc tr:hover td {
  background: #eef4fb;
}
