@charset "UTF-8";
.clear {
  clear: both;
}

.topper .searchbar .input {
  background: #fff;
}

section a, section a:hover, section a:visited {
  border-bottom: 0;
}

.toperHeaderBG {
  position: absolute;
  top: 0;
  z-index: -2;
  margin-left: -50px;
  width: 100%;
  height: 195px;
  background-color: #f2f0f1;
}
@media screen and (max-width: 1024px) {
  .toperHeaderBG {
    width: 1004px;
  }
}

.mainPadding .bread {
  margin-left: 0;
}

.pullDownUS .pullDownList li i {
  background-position: 0 -428px;
}

.banner-ad {
  position: absolute;
  top: 150px;
  right: 150px;
  z-index: 2;
  width: 180px;
  height: 180px;
  overflow: hidden;
  background-color: #fff;
  border: 15px solid #fff;
}

.banner-title {
  width: 900px;
}
@media screen and (max-width: 1280px) {
  .banner-title {
    width: 748px;
  }
}

.banner {
  width: 900px;
}
@media screen and (max-width: 1280px) {
  .banner {
    width: 748px;
  }
}
@media screen and (max-width: 1280px) {
  .banner .banner-img {
    width: 748px;
  }
}
.banner .tab {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
.banner .tab ul li {
  position: relative;
  float: left;
  padding: 5px 9px;
  width: 18%;
  height: 26px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 1280px) {
  .banner .tab ul li {
    width: 17.5%;
  }
}
.banner .tab ul li:hover, .banner .tab ul li.selected {
  background-color: #000;
  background-color: black;
}
.banner .tab ul li:hover .arrow, .banner .tab ul li.selected .arrow {
  display: block;
}
.banner .tab ul li a, .banner .tab ul li a:hover {
  border-bottom: 0;
  color: #fff;
}
.banner .tab ul li .arrow {
  display: none;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #000 transparent;
  line-height: 0px;
  _border-color: #000000 #000000 #000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

div.section-bg {
  display: none;
  margin-bottom: -65px;
}

section.section, section.section3 {
  margin-bottom: 0;
}

section.section3 {
  margin-left: 80px;
}

div.section-divider {
  border: 0;
}

.group2 {
  margin-top: 65px;
}

.group2 .box11 {
  height: auto;
}

/*.group2 .caption4 { 12/14原group2下的產品名稱
    font-size: 16px;
    height: 54px;
    padding: 0;
    width: 160px;
    float: right;
    margin-right: 5px;
    line-height: 18px;
}*/
/*.group2 .price { 12/14原group2下的價格
    font-size: 16px;
    height: 22px;
    padding: 0;
    margin-top: 10px;
    width: 160px;
    float: right;
    margin-right: 5px;
    line-height: 18px;
}*/
div.box-category3 ul li {
  margin: 0;
}

div.box-category3 ul li + li {
  margin-top: 20px;
}

.box13 img {
  max-width: 280px;
  max-height: 310px;
}

.box16 + .box16 {
  border-left: 1px solid;
}

div.box16 .divider {
  display: none;
}

.elevator a {
  color: #fff;
}

.box11 > .box12, .box16 > .box12 {
  position: relative;
  float: none;
  width: 222px;
  margin: 5px auto;
  height: 309px;
  left: 0;
}
.box11 > .box12 .pic, .box16 > .box12 .pic {
  width: 222px;
  height: 222px;
}
.box11 > .box12 .pic img, .box16 > .box12 .pic img {
  max-width: 222px;
  max-height: 222px;
}
.box11 > .box12 .caption, .box16 > .box12 .caption {
  -webkit-line-clamp: 2;
  height: 37px;
  width: 222px;
  padding: 0;
  margin: 10px 0 7px 0;
}

.box14 {
  width: 100%;
  height: 33.3%;
}
.box14 .caption {
  -webkit-line-clamp: 2;
  height: 32px;
  width: 160px;
  margin: 0 auto;
}
.box14 .price {
  width: 160px;
  margin: 0 auto;
}

.section3 {
  position: relative;
  margin-top: 40px;
  *zoom: 1;
}
.section3:after {
  content: "";
  display: table;
  clear: both;
}
.section3 .section-bg {
  display: none;
}
.section3 .group2 {
  margin-top: 0;
}
.section3 .group2,
.section3 .group2 + .group3 {
  height: 640px;
  overflow: hidden;
}
.section3 .group2 .box11 {
  width: 273px;
  height: 319px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
}
.section3 .group2 .box11 + .box11 {
  border-width: 1px;
  border-style: solid;
  height: 317px;
}
.section3 .group2 + .group3 {
  width: 491px;
  *zoom: 1;
}
.section3 .group2 + .group3:after {
  content: "";
  display: table;
  clear: both;
}
.section3 .group2 + .group3 .box13 {
  width: 346px;
  height: 319px;
  border-top: 1px solid;
  border-bottom: 0;
}
.section3 .group2 + .group3 .box13 a {
  display: block;
}
.section3 .group2 + .group3 .box13 img,
.section3 .group2 + .group3 .box13 a,
.section3 .group2 + .group3 .box13 a img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.section3 .group2 + .group3 .box15 {
  margin-left: 0;
  width: 145px;
  height: 319.5px;
}
.section3 .group2 + .group3 .box15 .title {
  margin: 0;
  width: 100%;
  height: 56px;
  font-size: 30px;
  line-height: 56px;
  letter-spacing: 1px;
  font-weight: lighter;
  color: #fff;
}
.section3 .group2 + .group3 .box15 .box-category3 {
  width: 100%;
  padding: 0;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background: transparent;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg1 li:nth-child(odd) {
  background: #524e4e;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg2 li:nth-child(odd) {
  background: #c78942;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg3 li:nth-child(odd) {
  background: #e28691;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg4 li:nth-child(odd) {
  background: #839143;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg5 li:nth-child(odd) {
  background: #c75353;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg6 li:nth-child(odd) {
  background: #95c489;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg7 li:nth-child(odd) {
  background: #389778;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg8 li:nth-child(odd) {
  background: #e69e18;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg9 li:nth-child(odd) {
  background: #74bab8;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg10 li:nth-child(odd) {
  background: #4ba9d5;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg11 li:nth-child(odd) {
  background: #2068ac;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg12 li:nth-child(odd) {
  background: #2e4291;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg13 li:nth-child(odd) {
  background: #eb6e4a;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg14 li:nth-child(odd) {
  background: #f5637b;
}
.section3 .group2 + .group3 .box15 .box-category3.catcolorbg15 li:nth-child(odd) {
  background: #ad4ea8;
}
.section3 .group2 + .group3 .box15 .box-category3 ul {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}
.section3 .group2 + .group3 .box15 .box-category3 ul li {
  display: block;
  width: 100%;
  height: 33px;
  margin-top: 0px;
}
.section3 .group2 + .group3 .box15 .box-category3 ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 33px;
}
.section3 .group2 + .group3 .box16 {
  float: left;
  width: 243.5px;
  height: 317px;
  border-bottom: 1px solid;
}
.section3 .img11 {
  width: 135px;
  height: 135px;
  max-width: 135px;
  max-height: 135px;
}
.section3 > div.divider {
  border-top: 0;
}
.section3 .section-divider {
  display: none;
}
.section3 .carousel4 {
  position: absolute;
  top: 0px;
  right: 15px;
  height: 638px;
  background: #fff;
}
.section3 .carousel4 .listcontent {
  width: 199px;
  height: 99.8%;
  border-width: 1px 1px 1px 0;
  border-style: solid;
}
.section3 .carousel4 .listcontent > div {
  height: 100%;
}
.section3 .carousel4 .divider {
  width: 100%;
  height: 0;
}
.section3 .carousel4 .pagination {
  position: absolute;
  right: -10px;
  margin-top: 220px;
  z-index: 3;
}
.section3 .carousel4.catcolorleft1 .more a:hover, .section3 .carousel4.catcolorleft1 .more a:visited {
  color: #3e3a39;
}
.section3 .carousel4.catcolorleft1 li {
  background: #b2b0b0;
}
.section3 .carousel4.catcolorleft2 .more a:hover, .section3 .carousel4.catcolorleft2 .more a:visited {
  color: #c07d2e;
}
.section3 .carousel4.catcolorleft2 li {
  background: #e6cbab;
}
.section3 .carousel4.catcolorleft3 .more a:hover, .section3 .carousel4.catcolorleft3 .more a:visited {
  color: #de7884;
}
.section3 .carousel4.catcolorleft3 li {
  background: #f2c9ce;
}
.section3 .carousel4.catcolorleft4 .more a:hover, .section3 .carousel4.catcolorleft4 .more a:visited {
  color: #75852e;
}
.section3 .carousel4.catcolorleft4 li {
  background: #c8ceab;
}
.section3 .carousel4.catcolorleft5 .more a:hover, .section3 .carousel4.catcolorleft5 .more a:visited {
  color: #c03f40;
}
.section3 .carousel4.catcolorleft5 li {
  background: #e6b2b3;
}
.section3 .carousel4.catcolorleft6 .more a:hover, .section3 .carousel4.catcolorleft6 .more a:visited {
  color: #80b870;
}
.section3 .carousel4.catcolorleft6 li {
  background: #cde3c1;
}
.section3 .carousel4.catcolorleft7 .more a:hover, .section3 .carousel4.catcolorleft7 .more a:visited {
  color: #248c6a;
}
.section3 .carousel4.catcolorleft7 li {
  background: #a7d1c3;
}
.section3 .carousel4.catcolorleft8 .more a:hover, .section3 .carousel4.catcolorleft8 .more a:visited {
  color: #e39300;
}
.section3 .carousel4.catcolorleft8 li {
  background: #f4d499;
}
.section3 .carousel4.catcolorleft9 .more a:hover, .section3 .carousel4.catcolorleft9 .more a:visited {
  color: #63b2af;
}
.section3 .carousel4.catcolorleft9 li {
  background: #c1e0df;
}
.section3 .carousel4.catcolorleft10 .more a:hover, .section3 .carousel4.catcolorleft10 .more a:visited {
  color: #339ecf;
}
.section3 .carousel4.catcolorleft10 li {
  background: #add8ec;
}
.section3 .carousel4.catcolorleft11 .more a:hover, .section3 .carousel4.catcolorleft11 .more a:visited {
  color: #0757a2;
}
.section3 .carousel4.catcolorleft11 li {
  background: #9cbcda;
}
.section3 .carousel4.catcolorleft12 .more a:hover, .section3 .carousel4.catcolorleft12 .more a:visited {
  color: #162c84;
}
.section3 .carousel4.catcolorleft12 li {
  background: #a2abce;
}
.section3 .carousel4.catcolorleft13 .more a:hover, .section3 .carousel4.catcolorleft13 .more a:visited {
  color: #e95b32;
}
.section3 .carousel4.catcolorleft13 li {
  background: #f6bdad;
}
.section3 .carousel4.catcolorleft14 .more a:hover, .section3 .carousel4.catcolorleft14 .more a:visited {
  color: #f44d69;
}
.section3 .carousel4.catcolorleft14 li {
  background: #fbb8c3;
}
.section3 .carousel4.catcolorleft15 .more a:hover, .section3 .carousel4.catcolorleft15 .more a:visited {
  color: #A43A9D;
}
.section3 .carousel4.catcolorleft15 li {
  background: #d598d1;
}

.carousel-logo-cates {
  float: left;
  position: relative;
  z-index: 3;
  bottom: 3px;
  width: 882px;
  height: 84px;
}
.carousel-logo-cates li {
  width: 146.5px;
  height: 65px;
  margin: 10px 0;
}

.section3.section_US {
  margin-left: 140px;
  margin-right: 140px;
}
.section3.section_US .group2,
.section3.section_US .group2 + .group3 {
  height: 639px;
}
.section3.section_US .group2 + .group3 .box13 {
  border-top: 1px solid #e95b32;
}
.section3.section_US .box14 {
  border: 0px;
}
.section3.section_US .box15 {
  background-color: #e95b32;
  overflow: hidden;
}
.section3.section_US .box15 li:nth-child(odd) {
  background: rgba(255, 255, 255, 0.1);
}
.section3.section_US .box16.catcolorbottom {
  border-bottom: 1px solid #e95b32;
}
.section3.section_US .carousel4 .divider {
  float: left;
  border-top: 1px solid;
}
.section3.section_US .carousel4 {
  float: left;
  width: 221px;
  height: 638.5px;
  border-left: 1px solid;
}
.section3.section_US .carousel4 .pagination {
  float: right;
  position: absolute;
  right: -10px;
  width: 20px;
  margin-top: 220px;
  z-index: 3;
}
.section3.section_US .carousel4 .pagination li {
  display: block;
  width: 20px;
  height: 20px;
  margin: 10px 0;
  background-color: #f6bdad;
}
.section3.section_US .carousel4 .pagination li a {
  display: block;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  float: right;
}
.section3.section_US .carousel4 .pagination li a.catcolorbg {
  background-color: #e95b32;
}
.section3.section_US .carousel4 .pagination .more a {
  display: block;
  width: 100%;
  text-align: center;
}
.section3.section_US .carousel4 .pagination .more a, .section3.section_US .carousel4 .pagination .more a:hover, .section3.section_US .carousel4 .pagination .more a:visited {
  color: #e95b32;
}
.section3.section_US .carousel4 .listcontent > div {
  width: 100%;
  height: 100%;
}
.section3.section_US .box11,
.section3.section_US .box16,
.section3.section_US .carousel4,
.section3.section_US .carousel4 .listcontent,
.section3.section_US .carousel4 .divider,
.section3.section_US .carousel-logo-wall {
  border-color: #e95b32;
}
.section3.section_US .carousel-logo-cates .prev,
.section3.section_US .carousel-logo-cates .next {
  background-color: #e95b32;
}

@media screen and (max-width: 1280px) {
  .bg .section2,
  .section3.section_US,
  section.section3 {
    margin-left: 0;
  }
}
