<style>
    #ItemImgTable {
        overflow: hidden;
        width: 100%;
        text-align: center;
    }

    #ItemImgTable img {
        max-width:150px;
        width:100%;
        height:60%;
        vertical-align: middle;
        cursor: move;
    }

    #ItemImgTable div {
        float:left;
    }

    #ItemImgTable .imgDiv {
        margin:0 5px;
        min-width:150px;
        width:13.5%;
        height:170px;
    }

    .tooltip {
        opacity: 0.6;
    }

    .placeholder {
        display: inline-block;
        width: 150px;
        height: 115px;
        border: 1px dashed #ddd;
        background-color: #f3f5f7;
        margin: 10px;
        font-size: 1.3em;
        font-weight: bold;
        line-height: 125px;
        vertical-align: middle;
        color: #777;
    }

    #updatewindow { text-align: center; background-color:white; color:white;}
</style>
<div class="demo-section" style="margin:20px 0; width:100%;">
    <div id="ItemImgTable">
        <div class="imgDivdisabled" style="min-width:150px; width:13.5%; display:none;">
            <img src="" style="width:150px; height:102px;" id="ItemCreationImg_spec_" /><br />
                @(Html.Kendo()
                    .Button()
                    .Name("DeleteItemImg_spec_")
                    .HtmlAttributes(new { @name = "DeleteItemImg_spec_", onClick="DeleteImgSrc('ItemCreationImg_spec_')"})
                    .SpriteCssClass("k-icon k-i-close")
                    .Content("刪除")
                )
                @(Html.Kendo()
                    .Button()
                    .Name("ShowItemImg_spec_")
                    .HtmlAttributes(new { @name = "ShowItemImg_spec_",  onClick="ShowImg('ItemCreationImg_spec_')"})
                    .SpriteCssClass("k-icon k-i-search")
                    .Content("查看")
                )
        </div>
    </div>
</div>
<div id="updatewindow" style="display:none"><img src="" id="showImgID" /></div>
@(Html.Kendo().Sortable()
    .For("#ItemImgTable")
    .ContainerSelector("#ItemImgTable")
    .Axis(SortableAxis.None)
    .Cursor("move")
    .Placeholder("<div class='placeholder'>Drop Here!</div>")
    .HintHandler("hint")
)
<script type="text/javascript">
    function ShowImg(ShowImgID) {
        var getShowImgSrc = $("#" + ShowImgID).attr("src");
        if (getShowImgSrc != "") {
            $("#showImgID").attr("src", getShowImgSrc);
            var updateWindow = $("#updatewindow").kendoWindow({
                title: "圖片顯示",
                actions: ["Close"], // "Close", "Refresh","Minimize", "Maximize"
                modal: true,
                resizable: false,
            });
            updateWindow.data("kendoWindow").center().open();
        }
    }

    function hint(element) {
        return element.clone().addClass("tooltip");
    }

    function DeleteImgSrc(deleteImgId) {
        var totalimg = $("#imgNumber").val();
        totalimg--;
        $("#imgNumber").val(totalimg);
        $("#" + deleteImgId).closest("div").remove();
    }
</script>