<?xml version="1.0"?>
<PublicMethods>
  <PublicMethod methodName="report" componentID="TestService">
    <methodDesc><![CDATA[撈取測試DB指定數量的product]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[數量]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<ProductDetailDM>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="report" componentID="TestService2">
    <methodDesc><![CDATA[撈取測試DB指定數量的product]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[數量]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<ProductDetailDM>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="test" componentID="TestService">
    <methodDesc><![CDATA[測試單一回傳值]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[變數1]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[string]]></type>
      <desc><![CDATA[變數2]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[List<int>]]></type>
      <desc><![CDATA[變數3]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[ProductDetailDM]]></type>
      <desc><![CDATA[變數4]]></desc>
    </methodArgs>
    <returnType><![CDATA[string]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="test2" componentID="TestService">
    <methodDesc><![CDATA[測試無傳入參數]]></methodDesc>
    <returnType><![CDATA[List<string>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="test3" componentID="TestService">
    <methodDesc><![CDATA[測試單一Model回傳值]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[變數1]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[string]]></type>
      <desc><![CDATA[變數2]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[List<int>]]></type>
      <desc><![CDATA[變數3]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[ProductDetailDM]]></type>
      <desc><![CDATA[變數4]]></desc>
    </methodArgs>
    <returnType><![CDATA[ProductDetailDM]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="test4" componentID="TestService">
    <methodDesc><![CDATA[測試List<Model>回傳值]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[變數1]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[string]]></type>
      <desc><![CDATA[變數2]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[List<int>]]></type>
      <desc><![CDATA[變數3]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[ProductDetailDM]]></type>
      <desc><![CDATA[變數4]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<ProductDetailDM>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="test5" componentID="TestService">
    <methodDesc><![CDATA[測試List<Model>回傳值]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[變數1]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[string]]></type>
      <desc><![CDATA[變數2]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[List<int>]]></type>
      <desc><![CDATA[變數3]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[ProductDetailDM]]></type>
      <desc><![CDATA[變數4]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<ProductDetailDM>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="test6" componentID="TestService">
    <methodDesc><![CDATA[測試無回傳值]]></methodDesc>
    <returnType><![CDATA[null]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="test7" componentID="TestService">
    <methodDesc><![CDATA[測試List<Model>回傳值]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[變數1]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[string]]></type>
      <desc><![CDATA[變數2]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[List<int>]]></type>
      <desc><![CDATA[變數3]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[ComplexProduntDM]]></type>
      <desc><![CDATA[變數4]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<ComplexProduntDM>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="report3" componentID="TestService2">
    <methodDesc><![CDATA[autofac test]]></methodDesc>
    <returnType><![CDATA[String]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="report3" componentID="TestService3">
    <methodDesc><![CDATA[autofac test]]></methodDesc>
    <returnType><![CDATA[String]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="report3" componentID="TestService4">
    <methodDesc><![CDATA[autofac test]]></methodDesc>
    <returnType><![CDATA[String]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetCategoryItems" componentID="CategoryItemService">
    <methodDesc><![CDATA[取得次分類商品列表]]></methodDesc>
    <methodArgs>
      <type><![CDATA[CategoryItemConditions]]></type>
      <desc><![CDATA[商品選取條件]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<CategoryItemInfo>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetCategoryItemsTopRows" componentID="CategoryItemService">
    <methodDesc><![CDATA[取得次分類商品列表的前幾筆]]></methodDesc>
    <methodArgs>
      <type><![CDATA[CategoryItemConditions]]></type>
      <desc><![CDATA[商品選取條件]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[筆數]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<CategoryItemInfo>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetPropertyGroups" componentID="PropertyService">
    <methodDesc><![CDATA[取得次分類屬性列表]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[CategoryId]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<PropertyGroup>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetStoreInfo" componentID="StoreService">
    <methodDesc><![CDATA[獲取第一次進入Store頁面的所有必要資訊]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[categoryID]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[List<int>]]></type>
      <desc><![CDATA[shopWindowIndexList]]></desc>
    </methodArgs>
    <returnType><![CDATA[StoreInfo]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetShopWindows" componentID="StoreService">
    <methodDesc><![CDATA[取得商品櫥窗集合]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[categoryID]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[List<int>]]></type>
      <desc><![CDATA[shopWindowIndexList]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<ShopWindow>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetOptionStoreInfo" componentID="StoreService">
    <methodDesc><![CDATA[獲取任選館的頁面全部資訊.]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[categoryID]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[pageIndex]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[pageItemCount]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[string]]></type>
      <desc><![CDATA[filterIDs]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[string]]></type>
      <desc><![CDATA[sortValue]]></desc>
    </methodArgs>
    <returnType><![CDATA[OptionStoreInfo]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetOptionStoreListZone" componentID="StoreService">
    <methodDesc><![CDATA[獲取任選館的商品列表顯示區]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[categoryID]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[pageIndex]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[pageItemCount]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[string]]></type>
      <desc><![CDATA[filterIDs]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[string]]></type>
      <desc><![CDATA[sortValue]]></desc>
    </methodArgs>
    <returnType><![CDATA[OptionStoreListZone]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetOptionStoreItems" componentID="StoreService">
    <methodDesc><![CDATA[獲取任選館指定的特定Item集合]]></methodDesc>
    <methodArgs>
      <type><![CDATA[List<int>]]></type>
      <desc><![CDATA[itemIDs]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<OptionStoreItemCell>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetBanner" componentID="StoreService">
    <methodDesc><![CDATA[獲取廣告資料]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[CategoryID]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[BannerType]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<StoreBanner>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetAllBanner" componentID="StoreService">
    <methodDesc><![CDATA[獲取全部廣告資料]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[CategoryID]]></desc>
    </methodArgs>
    <returnType><![CDATA[Dictionary<int,List<StoreBanner>>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetHomeStoreInfo" componentID="HomeStoreService">
    <methodDesc><![CDATA[取得首頁包含商品櫥窗的所有資訊]]></methodDesc>
    <methodArgs>
      <type><![CDATA[List<int>]]></type>
      <desc><![CDATA[shopWindowIndexList]]></desc>
    </methodArgs>
    <returnType><![CDATA[HomeStoreInfo]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetHomeShopWindows" componentID="HomeStoreService">
    <methodDesc><![CDATA[取得首頁的商品櫥窗集合]]></methodDesc>
    <methodArgs>
      <type><![CDATA[List<int>]]></type>
      <desc><![CDATA[shopWindowIndexList]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<HomeShopWindow>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetNewsInfo" componentID="NewsService">
    <methodDesc><![CDATA[取得新聞中心的新聞資訊]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[iNewsID]]></desc>
    </methodArgs>
    <returnType><![CDATA[NewsInfo]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetNewsList" componentID="NewsService">
    <methodDesc><![CDATA[取得新聞中心的所有資訊]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[Page]]></desc>
    </methodArgs>
    <returnType><![CDATA[NewsListInfo]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetMediaInfo" componentID="MediaService">
    <methodDesc><![CDATA[取得媒體]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[iMediaID]]></desc>
    </methodArgs>
    <returnType><![CDATA[MediaInfo]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetMediaList" componentID="MediaService">
    <methodDesc><![CDATA[取得媒體中心的媒體資訊集合]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[PageIndex]]></desc>
    </methodArgs>
    <returnType><![CDATA[MediaInfoList]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetMobileStoreInfo" componentID="MobileStoreService">
    <methodDesc><![CDATA[取得手機版分類頁面資料]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[categoryID]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[subCategoryID]]></desc>
    </methodArgs>
    <returnType><![CDATA[MStoreInfo]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetMobileStoreItems" componentID="MobileStoreService">
    <methodDesc><![CDATA[取得手機版子分類的商品集合]]></methodDesc>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[categoryID]]></desc>
    </methodArgs>
    <methodArgs>
      <type><![CDATA[int]]></type>
      <desc><![CDATA[subCategoryID]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<MStoreItemCell>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetEvents" componentID="EventService">
    <methodDesc><![CDATA[取得折扣卷活動集合]]></methodDesc>
    <methodArgs>
      <type><![CDATA[List<int>]]></type>
      <desc><![CDATA[活動ID]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<Event>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="GetSOItemByCodes" componentID="EventService">
    <methodDesc><![CDATA[取得已使用折扣卷用在哪個商品]]></methodDesc>
    <methodArgs>
      <type><![CDATA[List<string>]]></type>
      <desc><![CDATA[折扣卷用在哪個訂單明細(子單)上]]></desc>
    </methodArgs>
    <returnType><![CDATA[List<SalesOrderItemInfo>]]></returnType>
  </PublicMethod>
  <PublicMethod methodName="TotalSearch" componentID="Service.SearchService">
    <methodDesc><![CDATA[搜尋商品]]></methodDesc>
    <methodArgs>
      <type><![CDATA[SearchApiModel]]></type>
      <desc><![CDATA[搜尋Model]]></desc>
    </methodArgs>
    <returnType><![CDATA[SearchResults]]></returnType>
  </PublicMethod>
</PublicMethods>