<?xml version="1.0"?>
<ServiceMethods>
  <!-- PaymentGateway -->
  <ServiceMethod methodName="*" componentID="Service.AllPaymentService" destination="e10web" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[歐付寶金流]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="Service.HiTrustPaymentService" destination="e10web" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[HiTrust金流]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="Service.NetHiTrustPaymentService" destination="e10web" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[NetHiTrust金流]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="Service.NCCCPaymentService" destination="e10web" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[NCCC金流]]></methodDesc>
  </ServiceMethod>
  <!-- end of PaymentGateway-->

</ServiceMethods>
