<?xml version="1.0"?>
<ServiceComponents>
  <ServiceComponent componentID="TestService" nameSpace="TWNewEgg.ExampleFunc" autofacInterface="" baseUrl="" apiPath="">
    <componentDesc><![CDATA[測試專案]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="TestService2" nameSpace="TWNewEgg.ExampleFunc" autofacInterface="ITestService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[測試專案2]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="TestService3" nameSpace="TWNewEgg.ExampleFunc" autofacInterface="Interface.ITest3" baseUrl="" apiPath="">
    <componentDesc><![CDATA[測試專案3]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="TestService4" nameSpace="TWNewEgg.ExampleFunc" autofacInterface="Interface.ITest3" baseUrl="" apiPath="">
    <componentDesc><![CDATA[測試專案4]]></componentDesc>
  </ServiceComponent>
  
  <!-- Advertising-->
  <ServiceComponent componentID="Service.AdvEventItemService" nameSpace="TWNewEgg.AdvService" autofacInterface="Service.IAdvEventItem" baseUrl="" apiPath="">
    <componentDesc><![CDATA[AdvEventItem]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="Service.AdvEventReposity" nameSpace="TWNewEgg.AdvService" autofacInterface="Service.IAdvEvent" baseUrl="" apiPath="">
    <componentDesc><![CDATA[AdvEvent]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="Service.AdvEventTypeReposity" nameSpace="TWNewEgg.AdvService" autofacInterface="Service.IAdvEventType" baseUrl="" apiPath="">
    <componentDesc><![CDATA[AdvEventType]]></componentDesc>
  </ServiceComponent>
  <!-- End of Advertising-->
  
  <!-- Category-->
  <ServiceComponent componentID="Service.BaseService" nameSpace="TWNewEgg.CategoryService" autofacInterface="" baseUrl="" apiPath="">
    <componentDesc><![CDATA[AdvEventItem]]></componentDesc>
  </ServiceComponent>
  <!-- end of Category-->

  <!-- AES Account -->
  <ServiceComponent componentID="AesService" nameSpace="TWNewEgg.AccountEnprypt" autofacInterface="Interface.IAesService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[會員加密功能]]></componentDesc>
  </ServiceComponent>
  <!-- end of AES Account -->

  <!-- CategoryItem -->
  <ServiceComponent componentID="CategoryItemService" nameSpace="TWNewEgg.CategoryItem" autofacInterface="Interface.ICategoryItemService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[次分類商品]]></componentDesc>
  </ServiceComponent>
  <!-- end of CategoryItem -->

  <!-- PropertyServices -->
  <ServiceComponent componentID="PropertyService" nameSpace="TWNewEgg.PropertyServices" autofacInterface="Interface.IPropertyService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[商品屬性]]></componentDesc>
  </ServiceComponent>
  <!-- end of PropertyServices -->
  
  <!-- 2.0 ItemServices -->
  <ServiceComponent componentID="ItemDetailService" nameSpace="TWNewEgg.ItemServices" autofacInterface="Interface.IItemDetailService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[賣場頁資料]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="ItemDisplayPriceService" nameSpace="TWNewEgg.ItemServices" autofacInterface="Interface.IItemDisplayPriceService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[賣場資料]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="ItemImageUrlService" nameSpace="TWNewEgg.ItemServices" autofacInterface="Interface.IItemImageUrlService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[賣場圖片]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="ItemInfoService" nameSpace="TWNewEgg.ItemServices" autofacInterface="Interface.IItemInfoService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[賣場詳細資料]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="ItemGroupService" nameSpace="TWNewEgg.ItemServices" autofacInterface="Interface.IItemGroupService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[取得ItemGroup相關函式]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="ItemStockService" nameSpace="TWNewEgg.ItemServices" autofacInterface="Interface.IItemStockService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[取得Item銷售庫存]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="ShelveService" nameSpace="TWNewEgg.ItemServices" autofacInterface="Interface.IShelveService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[賣場上下架]]></componentDesc>
  </ServiceComponent>
  <!-- end of ItemServices -->

  <!-- GroupBuy -->
  <ServiceComponent componentID="GroupBuyService" nameSpace="TWNewEgg.GroupBuyServices" autofacInterface="Interface.IGroupBuyService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[團購清單]]></componentDesc>
  </ServiceComponent>
  <!-- end of GroupBuy -->
  
  <!-- AccountService -->
  <ServiceComponent componentID="AccountService" nameSpace="TWNewEgg.AccountServices" autofacInterface="Interface.IAccountService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[會員功能]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="GetMemberService" nameSpace="TWNewEgg.AccountServices" autofacInterface="Interface.IGetMemberService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[取得會員資料、收件人紀錄本與統一編號紀錄本資訊]]></componentDesc>
  </ServiceComponent>
  <!-- end of AccountService -->

  <!-- SellerServices -->
  <ServiceComponent componentID="SellerServices" nameSpace="TWNewEgg.SellerServices" autofacInterface="Interface.ISellerServices" baseUrl="" apiPath="">
    <componentDesc><![CDATA[Seller相關]]></componentDesc>
  </ServiceComponent>
  <!-- end of SellerServices -->
  
  <!-- RedeemSerevice  TWNewEgg.Redeem.Service.CouponService-->
  <ServiceComponent componentID="Service.CouponService.CouponServiceRepository" nameSpace="TWNewEgg.Redeem" autofacInterface="Service.CouponService.ICouponService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[Coupon Service]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="Service.CouponService.EventReponsitory" nameSpace="TWNewEgg.Redeem" autofacInterface="Service.CouponService.IEvent" baseUrl="" apiPath="">
    <componentDesc><![CDATA[Event Service]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="Service.CouponService.EventFileRepository" nameSpace="TWNewEgg.Redeem" autofacInterface="Service.CouponService.IEventFile" baseUrl="" apiPath="">
    <componentDesc><![CDATA[EventFile Service]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="Service.PromotionGiftService.PromotionGiftRepository" nameSpace="TWNewEgg.Redeem" autofacInterface="Service.PromotionGiftService.IPromotionGiftService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[PromotionGift Service]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="Service.PromotionGiftService.PromotionGiftRecordRepository" nameSpace="TWNewEgg.Redeem" autofacInterface="Service.PromotionGiftService.IPromotionGiftRecordService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[PromotionGiftRecords Service]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="Service.PromotionGiftExportService.PromotionGiftImportCheckDataService" nameSpace="TWNewEgg.Redeem" autofacInterface="Service.PromotionGiftExportService.IPromotionGiftImportCheckDataService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[PromotionGiftImportCheckDataService]]></componentDesc>
  </ServiceComponent>
  <!-- end of RedeemService-->

  <!-- StoreServices -->
  <ServiceComponent componentID="StoreService" nameSpace="TWNewEgg.StoreServices" autofacInterface="Interface.IStoreService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[提供分類頁和美國直購館的Service]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="HomeStoreService" nameSpace="TWNewEgg.StoreServices" autofacInterface="Interface.IHomeStoreService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[提供首頁櫥窗的Service]]></componentDesc>
  </ServiceComponent>
  <!-- end of StoreServices -->

  <!-- TrackServices -->
  <ServiceComponent componentID="TrackService" nameSpace="TWNewEgg.TrackServices" autofacInterface="Interface.ITrackService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[加入購物車功能]]></componentDesc>
  </ServiceComponent>
  <!-- end of TrackServices -->
  <!-- TrackServices -->
  <ServiceComponent componentID="SOInfoRepoAdapter" nameSpace="TWNewEgg.CartRepoAdapters" autofacInterface="Interface.ISOInfoRepoAdapter" baseUrl="" apiPath="">
    <componentDesc><![CDATA[GetSOInfo]]></componentDesc>
  </ServiceComponent>
  <!-- end of TrackServices -->

  <!-- NewsMediaServices -->
  <ServiceComponent componentID="NewsService" nameSpace="TWNewEgg.NewsMediaServices" autofacInterface="Interface.INewsService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[提供新聞的Service]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="MediaService" nameSpace="TWNewEgg.NewsMediaServices" autofacInterface="Interface.IMediaService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[提供媒體的Service]]></componentDesc>
  </ServiceComponent>
  <!-- end of NewsMediaServices -->

  <!-- ActivityServices -->
  <ServiceComponent componentID="ActivityService" nameSpace="TWNewEgg.ActivityServices" autofacInterface="Interface.IActivityService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[活動Service]]></componentDesc>
  </ServiceComponent>
  <!-- end of ActivityServices -->
  <!-- AnswerService -->
  <ServiceComponent componentID="AnswerService" nameSpace="TWNewEgg.AnswerServices" autofacInterface="Interface.IAnswerService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[GetSalceOrderInfo]]></componentDesc>
  </ServiceComponent>
  <!--<ServiceComponent componentID="AnswerService" nameSpace="TWNewEgg.AnswerServices" autofacInterface="Interface.IAnswerService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[GetSalceOrderInfoSelect]]></componentDesc>
  </ServiceComponent>-->
  <!-- end of AnswerService -->
  
  
  
  <!-- Search -->
  <ServiceComponent componentID="Service.SearchService" nameSpace="TWNewEgg.SearchService" autofacInterface="" baseUrl="" apiPath="">
    <componentDesc><![CDATA[Search service]]></componentDesc>
  </ServiceComponent>
  <!-- end of Search-->
  
  <!-- PromotionServices -->
  <ServiceComponent componentID="PromotionService" nameSpace="TWNewEgg.PromotionServices" autofacInterface="Interface.IPromotionService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[優惠活動Service]]></componentDesc>
  </ServiceComponent>
  <!-- end of PromotionServices -->
  
  <!-- MobileStoreServices -->
  <ServiceComponent componentID="MobileStoreService" nameSpace="TWNewEgg.MobileStoreServices" autofacInterface="Interface.IMobileStoreService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[提供手機分類頁的Service]]></componentDesc>
  </ServiceComponent>
  <!-- end of MobileStoreServices -->
  
  <!-- CartServices-->
  <ServiceComponent componentID="SOServices.SOGroupInfoService" nameSpace="TWNewEgg.CartServices" autofacInterface="Interface.ISOGroupInfoService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[購物車資料]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="OPCCartMachineProxy" nameSpace="TWNewEgg.CartServices" autofacInterface="Interface.ICartMachineProxy" baseUrl="" apiPath="">
    <componentDesc><![CDATA[OPC Proxy]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="CartTempServices.CartTempService" nameSpace="TWNewEgg.CartServices" autofacInterface="Interface.ICartTempService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[購物車暫存]]></componentDesc>
  </ServiceComponent> 
  <ServiceComponent componentID="SOServices.AuthService" nameSpace="TWNewEgg.CartServices" autofacInterface="Interface.IAuthService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[v信用卡刷卡資料]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="SOServices.SalesOrderInfoService" nameSpace="TWNewEgg.CartServices" autofacInterface="Interface.ISalesOrderInfoService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[建立訂單]]></componentDesc>
  </ServiceComponent>
  <!--end of CartServices-->
  
  <!-- ShoppingCart -->
  <ServiceComponent componentID="ShoppingCartService" nameSpace="TWNewEgg.ShoppingCartServices" autofacInterface="Interface.IShoppingCartService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[購物車商品清單資料]]></componentDesc>
  </ServiceComponent>
  <!-- end of ShoppingCart -->

  <!-- EventServices -->
  <ServiceComponent componentID="EventService" nameSpace="TWNewEgg.EventServices" autofacInterface="Interface.IEventService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[提供折扣卷活動的Service]]></componentDesc>
  </ServiceComponent>
  <!-- end of EventServices -->

  <!-- PaymentGatewayAdapter -->
  <ServiceComponent componentID="AllPayProxy" nameSpace="TWNewEgg.PaymentGatewayAdapter" autofacInterface="Interface.IAllPayProxy" baseUrl="" apiPath="">
    <componentDesc><![CDATA[歐付寶金流界接]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="HiTrustProxy" nameSpace="TWNewEgg.PaymentGatewayAdapter" autofacInterface="Interface.IHiTrustProxy" baseUrl="" apiPath="">
    <componentDesc><![CDATA[HiTrust金流界接]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="NCCCProxy" nameSpace="TWNewEgg.PaymentGatewayAdapter" autofacInterface="Interface.INCCCProxy" baseUrl="" apiPath="">
    <componentDesc><![CDATA[NCCC金流界接]]></componentDesc>
  </ServiceComponent>
  <!-- end of PaymentGatewayAdapter -->

  <!-- EdmServices -->
  <ServiceComponent componentID="EDMService" nameSpace="TWNewEgg.EDMServices" autofacInterface="Interface.IEDMService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[取得EDM的Service]]></componentDesc>
  </ServiceComponent>
  <!-- end of EdmServices -->

  <!-- VotingActivity -->
  <ServiceComponent componentID="VotingActivityService" nameSpace="TWNewEgg.VotingActivityServices" autofacInterface="Interface.IVotingActivityServices" baseUrl="" apiPath="">
    <componentDesc><![CDATA[投票活動]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="VotingBusinessService" nameSpace="TWNewEgg.VotingActivityServices" autofacInterface="Interface.IVotingBusinessServices" baseUrl="" apiPath="">
    <componentDesc><![CDATA[進行投票]]></componentDesc>
  </ServiceComponent>
  <!-- end of VotingActivity -->
  
  <!-- Lottery-->
  <ServiceComponent componentID="LotteryService" nameSpace="TWNewEgg.Lottery" autofacInterface="ILotteryService"  baseUrl="" apiPath="">
    <componentDesc><![CDATA[抽獎]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="LotteryFactory" nameSpace="TWNewEgg.Lottery" autofacInterface="ILotteryFactory"  baseUrl="" apiPath="">
    <componentDesc><![CDATA[抽獎]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="Type1Lottery" nameSpace="TWNewEgg.Lottery" autofacInterface="ILottery"  baseUrl="" apiPath="">
    <componentDesc><![CDATA[抽獎]]></componentDesc>
  </ServiceComponent>
  <!-- end of Lottery -->
  
  <!-- Manufacture-->
  <ServiceComponent componentID="ManufactureService" nameSpace="TWNewEgg.ManufactureServices" autofacInterface="Interface.IManufactureService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[Manufacture]]></componentDesc>
  </ServiceComponent>
  <!-- end of Manufacture-->




  <!-- HotWords-->
  <ServiceComponent componentID="HotWordsService" nameSpace="TWNewEgg.HotWordsServices" autofacInterface="Interface.IHotWordsService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[HotWords]]></componentDesc>
  </ServiceComponent>
  <!-- end of HotWords-->

  <!--分期付款依毛利率及商品顯示-->
  <ServiceComponent componentID="NECartPaymentAdapter" nameSpace="TWNewEgg.CartServices" autofacInterface="Interface.ICartPaymentAdapter" baseUrl="" apiPath="">
    <componentDesc><![CDATA[分期付款依毛利率及商品顯示]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="ItemPagePayTypeGetService" nameSpace="TWNewEgg.CartServices" autofacInterface="Interface.IItemPayTypeGetService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[賣場頁分期付款依毛利率及商品顯示]]></componentDesc>
  </ServiceComponent>
  <!--結束-分期付款依毛利率及商品顯示-->

  <!-- Search -->
  <ServiceComponent componentID="SolrService" nameSpace="TWNewEgg.SearchServices" autofacInterface="Interface.ISearchService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[Solr Search service]]></componentDesc>
  </ServiceComponent>
  <!-- end of Search-->

  <!-- PageMgmt -->
  <ServiceComponent componentID="PageDBUtil" nameSpace="TWNewEgg.PageMgmt" autofacInterface="Interface.IPageDBUtil" baseUrl="" apiPath="">
    <componentDesc><![CDATA[頁面編輯]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="PageMgmtAdapter" nameSpace="TWNewEgg.PageMgmt" autofacInterface="Interface.IPageMgmtAdapter" baseUrl="" apiPath="">
    <componentDesc><![CDATA[頁面編輯Adapter]]></componentDesc>
  </ServiceComponent>
  <!-- end of PageMgmt -->

  <!-- PromoActive -->
  <ServiceComponent componentID="PromoActiveServices" nameSpace="TWNewEgg.PromoActiveService" autofacInterface="Interface.IPromoActiveService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[優惠活動]]></componentDesc>
  </ServiceComponent>
  <!-- end of PromoActive -->
  
  <!-- PromoAwardLog -->
  <ServiceComponent componentID="PromoAwardLogService" nameSpace="TWNewEgg.PromoAwardLogService" autofacInterface="Interface.IPromoAwardLogService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[中獎名單]]></componentDesc>
  </ServiceComponent>
  <!-- end of PromoAwardLog -->
  <!---ItemBatch-->
  <ServiceComponent componentID="Service.USABatchService" nameSpace="TWNewEgg.ItemBatchServices" autofacInterface="Interface.IUSABatchService"  baseUrl="" apiPath="">
    <componentDesc><![CDATA[ItemBatch]]></componentDesc>
  </ServiceComponent>
  <!-- end of ItemBatch-->

  <!-- CategoryImageService-->
  <ServiceComponent componentID="CategoryNewServices" nameSpace="TWNewEgg.CategoryServices" autofacInterface="Interface.ICategoryServices" baseUrl="" apiPath="">
    <componentDesc><![CDATA[CategoryImageService]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="AdLayer3Services" nameSpace="TWNewEgg.CategoryServices" autofacInterface="Interface.IAdLayer3Services" baseUrl="" apiPath="">
    <componentDesc><![CDATA[CategoryLayer3AdService]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="CategoryTopItemService" nameSpace="TWNewEgg.CategoryServices" autofacInterface="Interface.ICategoryTopItemService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[CategoryTopItemService]]></componentDesc>
  </ServiceComponent>
  <!-- end of CategoryImageService-->

<!-- StoreService-->
  <ServiceComponent componentID="StoreService" nameSpace="TWNewEgg.StoreServices" autofacInterface="Interface.IStoreService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[任選館後台]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="ItemInfoService" nameSpace="TWNewEgg.ItemServices" autofacInterface="Interface.IItemInfoService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[任選館後台]]></componentDesc>
  </ServiceComponent>
  <!-- end of StoreService-->

  <!-- AdditionalItemServices -->
  <ServiceComponent componentID="AIForCartService" nameSpace="TWNewEgg.AdditionalItemServices" autofacInterface="Interface.IAIForCart" baseUrl="" apiPath="">
    <componentDesc><![CDATA[購物車加價購]]></componentDesc>
  </ServiceComponent>
  <!-- end of AdditionalItemServices -->

  <!-- AdditionalItemServices -->
  <ServiceComponent componentID="AdditionItemSearchService" nameSpace="TWNewEgg.AdditionalItemServices" autofacInterface="Interface.IAdditionalSearch" baseUrl="" apiPath="">
    <componentDesc><![CDATA[購物車加價購]]></componentDesc>
  </ServiceComponent>
  <!-- end of AdditionalItemServices -->
  
  <!-- SetAdditionItemService -->
  <ServiceComponent componentID="SetAdditionItemService" nameSpace="TWNewEgg.AdditionalItemServices" autofacInterface="Interface.ISetAdditionalItem" baseUrl="" apiPath="">
    <componentDesc><![CDATA[購物車加價購]]></componentDesc>
  </ServiceComponent>
  <!-- end of SetAdditionItemService -->

  <!-- BankBonusServices-->
  <ServiceComponent componentID="BankBonusService" nameSpace="TWNewEgg.BankBonusServices" autofacInterface="Interface.IBankBonusService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[信用卡紅利折抵]]></componentDesc>
  </ServiceComponent>
  <!-- end of BankBonusServices-->

  <!-- BankServices-->
  <ServiceComponent componentID="BankService" nameSpace="TWNewEgg.BankServices" autofacInterface="Interface.IBankService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[銀行資訊]]></componentDesc>
  </ServiceComponent>
  <!-- end of BankServices-->

  <!-- SendMailServices-->
  <ServiceComponent componentID="SendMailServices" nameSpace="TWNewEgg.SendMailServices" autofacInterface="Interface.ISendMailServices" baseUrl="" apiPath="">
    <componentDesc><![CDATA[寄信]]></componentDesc>
  </ServiceComponent>
  <!-- end of SendMailServices-->

  <!-- DataMaintainServices-->
  <ServiceComponent componentID="DataMaintainService" nameSpace="TWNewEgg.DataMaintainServices" autofacInterface="Interface.IDataMaintainService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[資料維護]]></componentDesc>
  </ServiceComponent>
  <!-- end of DataMaintainServices-->

  <!-- NeweggUSARequestServices-->
  <ServiceComponent componentID="Services.NeweggRequest" nameSpace="TWNewEgg.NeweggUSARequestServices" autofacInterface="Interface.INeweggRequest" baseUrl="" apiPath="">
    <componentDesc><![CDATA[ProductDetail]]></componentDesc>
  </ServiceComponent>
  <!-- end of NeweggUSARequestServices-->

  <!-- azure purge CDN-->
  <ServiceComponent componentID="PurgeService" nameSpace="TWNewEgg.PurgeService" autofacInterface="Interface.IPurgeService" baseUrl="" apiPath="" >
    <componentDesc><![CDATA[azure purge CDN]]></componentDesc>
  </ServiceComponent>
  <!--end azure purge CDN-->

  <!-- 登入問候語, 節日問候卡 add by bruce 20160331 -->
  <ServiceComponent componentID="HolidayGreetingWordsService" nameSpace="TWNewEgg.GreetingWordsServices" autofacInterface="Interface.IHolidayGreetingWordsService" baseUrl="" apiPath="" >
    <componentDesc><![CDATA[節日問候卡]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="HomeGreetingWordsService" nameSpace="TWNewEgg.GreetingWordsServices" autofacInterface="Interface.IHomeGreetingWordsService" baseUrl="" apiPath="" >
    <componentDesc><![CDATA[登入問候語]]></componentDesc>
  </ServiceComponent>
  <!-- end for 登入問候語, 節日問候卡 add by bruce 20160331 -->

  <!-- 信用卡分期 by item  -->
  <ServiceComponent componentID="ItemInstallmentService" nameSpace="TWNewEgg.CartServices" autofacInterface="Interface.IItemInstallmentService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[信用卡分期設定]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="PayTypeServices" nameSpace="TWNewEgg.CartServices" autofacInterface="Interface.IPayTypeService" baseUrl="" apiPath="">
    <componentDesc><![CDATA[PayType]]></componentDesc>
  </ServiceComponent>
  <!-- end of 信用卡分期 by item  -->


  <!-- 依據BSATW-173 廢四機需求增加 癈四機賣場商品, 1=是癈四機 add by bruce 20160502-->
  <ServiceComponent componentID="Discard4Service" nameSpace="TWNewEgg.Discard4Services" autofacInterface="Interface.IDiscard4Service" baseUrl="" apiPath="" >
    <componentDesc><![CDATA[癈四機同意]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="Discard4ItemService" nameSpace="TWNewEgg.Discard4Services" autofacInterface="Interface.IDiscard4ItemService" baseUrl="" apiPath="" >
    <componentDesc><![CDATA[癈四機回收四聯單]]></componentDesc>
  </ServiceComponent>
  <!--Start NewEggUSGateWay-->
  <ServiceComponent componentID="NeweggUSAAPI" nameSpace="TWNewEgg.NewEggUSGateway" autofacInterface="Interface.INeweggUSAAPI" baseUrl="" apiPath="" >
    <componentDesc><![CDATA[美蛋連API]]></componentDesc>
  </ServiceComponent>
  <!--Start NewEggUSGateWay-->

  <!-- FinanceServices --><!--
  <ServiceComponent componentID="FinanceServices" nameSpace="TWNewEgg.FinanceServices" autofacInterface="Interface.IFinanceServices" baseUrl="" apiPath="">
    <componentDesc><![CDATA[會計文件XQ、XD、XI、XIRMA]]></componentDesc>
  </ServiceComponent>
  --><!-- end of FinanceServices -->
  <!-- 會計文件FinanceServices -->
  <ServiceComponent componentID="FinanceDocumentService" nameSpace="TWNewEgg.FinanceServices" autofacInterface="Interface.IFinanceDocumentService" baseUrl="" apiPath="" >
    <componentDesc><![CDATA[FinanceDocumentService]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="SapDocumentService" nameSpace="TWNewEgg.FinanceServices" autofacInterface="Interface.ISapDocumentService" baseUrl="" apiPath="" >
    <componentDesc><![CDATA[SapDocumentService]]></componentDesc>
  </ServiceComponent>
  <!-- end of 會計文件FinanceServices -->
    
  <!-- 依據 BSATW-177 手機改版需求增加 add by bruce 20160608-->
  <ServiceComponent componentID="DeviceAdSetService" nameSpace="TWNewEgg.DeviceAdServices" autofacInterface="Interface.IDeviceAdSetService" baseUrl="" apiPath="" >
    <componentDesc><![CDATA[行動設備的廣告設定]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="DeviceAdContentService" nameSpace="TWNewEgg.DeviceAdServices" autofacInterface="Interface.IDeviceAdContentService" baseUrl="" apiPath="" >
    <componentDesc><![CDATA[行動設備的廣告內文]]></componentDesc>
  </ServiceComponent>
  <!-- end for 依據 BSATW-177 手機改版需求增加 add by bruce 20160608-->

  
  <!--依據 BSATW-232 供應商對帳單新增調整項目 add by bruce 20160720-->
  <ServiceComponent componentID="SellerCorrectionPriceService" nameSpace="TWNewEgg.SellerServices" autofacInterface="Interface.ISellerCorrectionPriceService" baseUrl="" apiPath="" >
    <componentDesc><![CDATA[供應商對帳單新增調整項目]]></componentDesc>
  </ServiceComponent>
  

</ServiceComponents>
