<?xml version="1.0"?>
<ServiceApiCacheAppSettings>
  <ServiceApiCacheSingleSetting>
    <Key><![CDATA[SMTPServerIP]]></Key>
    <Value><![CDATA[172.22.5.55]]></Value>
  </ServiceApiCacheSingleSetting>
  <ServiceApiCacheSingleSetting>
    <Key><![CDATA[SMTPServerPort]]></Key>
    <Value><![CDATA[25]]></Value>
  </ServiceApiCacheSingleSetting>
  <ServiceApiCacheSingleSetting>
    <Key><![CDATA[DebugSendMailAddress]]></Key>
    <Value><![CDATA[service@newegg.com.tw]]></Value>
  </ServiceApiCacheSingleSetting>
  <ServiceApiCacheSingleSetting>
    <Key><![CDATA[DebugReceiveMailAddress]]></Key>
    <Value><![CDATA[bill.s.wu@newegg.com,pin.y.tsai@newegg.com]]></Value>
  </ServiceApiCacheSingleSetting>
</ServiceApiCacheAppSettings>
