<?xml version="1.0" encoding="UTF-8"?>
<VENDORList>
  <VENDORDATA>
    <TYPE>BILL</TYPE>
    <VENDOR>WW00000001</VENDOR>
    <ACCT_GROUP>W100</ACCT_GROUP>
    <COMPANY>3103</COMPANY>
    <PUR_ORG>3103</PUR_ORG>
    <COUNTRY>TWN</COUNTRY>
    <STATUS>TW</STATUS>
    <NAMEENG>Newegg Taiwan International E-Commerce Co., Ltd.</NAMEENG>
    <NAME>台灣新蛋網股份有限公司</NAME>
    <POContactWith>Newegg Taiwan International E-Commerce Co., Ltd.</POContactWith>
    <EMAIL>service@newegg.com.tw</EMAIL>
    <CITY>Taiwan</CITY>
    <CITYENG>Taoyuan City</CITYENG>
    <POSTCODE>33068</POSTCODE>
    <SORTL>新蛋全球生活網</SORTL>
    <ADDRESS>桃園市桃園區興邦路43巷2號(C棟5樓B區)</ADDRESS>
    <ADDRESSENG1>No.2, Ln. 43, Xingbang Rd.,</ADDRESSENG1>
    <ADDRESSENG2>Taoyuan Dist., Taoyuan City 330, Taiwan (R.O.C.)</ADDRESSENG2>
    <TEL>+886-2-8175-5969 ext# 62311</TEL>
    <TELFPO1>88-6281755969</TELFPO1>
    <TELFPO2>88-6281755969</TELFPO2>
    <TELFAXPO>88-6281755969</TELFAXPO>
    <TELFAX>+886-2-2712-0721</TELFAX>
    <VAT_NO>24721751</VAT_NO>
  </VENDORDATA>
  <VENDORDATA>
    <TYPE>SHIPPINGTOTW</TYPE>
    <VENDOR>WW00000001</VENDOR>
    <ACCT_GROUP>W100</ACCT_GROUP>
    <COMPANY>3103</COMPANY>
    <PUR_ORG>3103</PUR_ORG>
    <COUNTRY>TWN</COUNTRY>
    <STATUS>TW</STATUS>
    <NAMEENG>Newegg Taiwan International E-Commerce Co., Ltd.</NAMEENG>
    <NAME>台灣新蛋網股份有限公司</NAME>
    <POContactWith>Grace Hsiao</POContactWith>
    <EMAIL>service@newegg.com.tw</EMAIL>
    <CITY>Taiwan</CITY>
    <CITYENG>Taoyuan City</CITYENG>
    <POSTCODE>33068</POSTCODE>
    <SORTL>新蛋全球生活網</SORTL>
    <ADDRESS>桃園市桃園區興邦路43巷2號(C棟5樓B區)</ADDRESS>
    <ADDRESSENG1>No.2, Ln. 43, Xingbang Rd.,</ADDRESSENG1>
    <ADDRESSENG2>Taoyuan Dist., Taoyuan City 330, Taiwan (R.O.C.)</ADDRESSENG2>
    <TEL>+886-2-8175-5969 ext# 62311</TEL>
    <TELFPO1>88-6281755969</TELFPO1>
    <TELFPO2>88-6281755969</TELFPO2>
    <TELFAXPO>88-6281755969</TELFAXPO>
    <TELFAX>+886-2-2712-0721</TELFAX>
    <VAT_NO>24721751</VAT_NO>
  </VENDORDATA>
  <VENDORDATA>
    <TYPE>SHIPPINGTOWH08</TYPE>
    <VENDOR>WW00000001</VENDOR>
    <ACCT_GROUP>W100</ACCT_GROUP>
    <COMPANY>3103</COMPANY>
    <PUR_ORG>3103</PUR_ORG>
    <COUNTRY>USA</COUNTRY>
    <STATUS>CA</STATUS>
    <NAMEENG>Newegg Taiwan Intl E-Commerce Co. Ltd</NAMEENG>
    <NAME>台灣新蛋網股份有限公司</NAME>
    <POContactWith>Victor Chen</POContactWith>
    <EMAIL>service@newegg.com.tw</EMAIL>
    <CITY>City of industry</CITY>
    <CITYENG>city of industry</CITYENG>
    <POSTCODE>91748</POSTCODE>
    <SORTL>NEWEGG, Inc.</SORTL>
    <ADDRESS></ADDRESS>
    <ADDRESSENG1>17560 Rowland St,  Dock   K</ADDRESSENG1>
    <ADDRESSENG2>City Of Industry CA 91748</ADDRESSENG2>
    <TEL>+886-2-8752-3555 ext# 61024</TEL>
    <TELFPO1>626-271-1420</TELFPO1>
    <TELFPO2></TELFPO2>
    <TELFAXPO></TELFAXPO>
    <TELFAX></TELFAX>
    <VAT_NO></VAT_NO>
  </VENDORDATA>
  <VENDORDATA>
    <TYPE>SHIPPINGOLD</TYPE>
    <VENDOR>WW00000001</VENDOR>
    <ACCT_GROUP>W100</ACCT_GROUP>
    <COMPANY>3103</COMPANY>
    <PUR_ORG>3103</PUR_ORG>
    <COUNTRY>TWN</COUNTRY>
    <STATUS>TW</STATUS>
    <NAMEENG>Newegg Taiwan, Inc.</NAMEENG>
    <NAME>台灣新蛋網股份有限公司</NAME>
    <EMAIL>service@newegg.com.tw</EMAIL>
    <CITY>Taiwan</CITY>
    <CITYENG>New Taipei City</CITYENG>
    <POSTCODE>25170</POSTCODE>
    <SORTL>台灣新蛋網</SORTL>
    <ADDRESS>台灣省新北市淡水區中正東路2段27-8號28樓</ADDRESS>
    <ADDRESSENG1>28F., No. 27-8, Sec. 2, Zhongzheng E. Rd.</ADDRESSENG1>
    <ADDRESSENG2>Tamsui Dist., New Taipei City 251, Taiwan (R.O.C.)</ADDRESSENG2>
    <TEL>+886-2-8752-3555</TEL>
    <TELFPO1>88-6287523555</TELFPO1>
    <TELFPO2>88-6287523555</TELFPO2>
    <TELFAXPO>88-6287523556</TELFAXPO>
    <TELFAX>+886-2-8752-3556</TELFAX>
    <VAT_NO>13136368</VAT_NO>
  </VENDORDATA>
</VENDORList>