<?xml version="1.0"?>
<CSSConfig>
  <CSSFiles key="~/content/css/Account">
    <Locations value="~/Themes/css/Account.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Act">
    <Locations value="~/Themes/css/Act.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Activity">
    <Locations value="~/Themes/css/Activity.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/ActivityBase">
    <Locations value="~/Themes/css/ActivityBase.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/base">
    <Locations value="~/Themes/css/base.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/bottomer">
    <Locations value="~/Themes/css/bottomer.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Card">
    <Locations value="~/Themes/css/Card.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/CardInstallment">
    <Locations value="~/Themes/css/CardInstallment.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/CardRedeem">
    <Locations value="~/Themes/css/CardRedeem.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/category">
    <Locations value="~/Themes/css/category.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/CategoryGeneral">
    <Locations value="~/Themes/css/CategoryGeneral.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/categoryUS">
    <Locations value="~/Themes/css/categoryUS.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/ChooseAny">
    <Locations value="~/Themes/css/ChooseAny.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/common">
    <Locations value="~/Themes/css/common.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/commonGeneral">
    <Locations value="~/Themes/css/commonGeneral.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/commonSimple">
    <Locations value="~/Themes/css/commonSimple.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/custom">
    <Locations value="~/Themes/css/custom.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Dialog">
    <Locations value="~/Themes/css/Dialog.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/ElementLibrary">
    <Locations value="~/Themes/css/ElementLibrary.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/ElementLibrary_Layout">
    <Locations value="~/Themes/css/ElementLibrary_Layout.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/filterList">
    <Locations value="~/Themes/css/filterList.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Flash">
    <Locations value="~/Themes/css/Flash.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/footer">
    <Locations value="~/Themes/css/footer.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/header">
    <Locations value="~/Themes/css/header.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/ie">
    <Locations value="~/Themes/css/ie.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/index">
    <Locations value="~/Themes/css/index.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/indexGeneral">
    <Locations value="~/Themes/css/indexGeneral.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Info">
    <Locations value="~/Themes/css/Info.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Info_AboutUs">
    <Locations value="~/Themes/css/Info_AboutUs.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Item">
    <Locations value="~/Themes/css/Item.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Login">
    <Locations value="~/Themes/css/Login.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/mainMenu">
    <Locations value="~/Themes/css/mainMenu.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Marketplace">
    <Locations value="~/Themes/css/Marketplace.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/MyAccount">
    <Locations value="~/Themes/css/MyAccount.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/nav">
    <Locations value="~/Themes/css/nav.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/News">
    <Locations value="~/Themes/css/News.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/NewsContent">
    <Locations value="~/Themes/css/NewsContent.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/NewsMedia">
    <Locations value="~/Themes/css/NewsMedia.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Policies">
    <Locations value="~/Themes/css/Policies.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/print">
    <Locations value="~/Themes/css/print.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/promotiongift">
    <Locations value="~/Themes/css/promotiongift.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/PswRule">
    <Locations value="~/Themes/css/PswRule.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/reset">
    <Locations value="~/Themes/css/reset.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/rwd">
    <Locations value="~/Themes/css/rwd.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/rwdGeneral">
    <Locations value="~/Themes/css/rwdGeneral.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/screen">
    <Locations value="~/Themes/css/screen.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Search">
    <Locations value="~/Themes/css/Search.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Service">
    <Locations value="~/Themes/css/Service.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/ShoppingCart">
    <Locations value="~/Themes/css/ShoppingCart.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/ShoppingProcess">
    <Locations value="~/Themes/css/ShoppingProcess.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Signup">
    <Locations value="~/Themes/css/Signup.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/StoreGeneral">
    <Locations value="~/Themes/css/StoreGeneral.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Style_product">
    <Locations value="~/Themes/css/Style_product.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/subcategory">
    <Locations value="~/Themes/css/subcategory.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/template">
    <Locations value="~/Themes/css/template.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/topper">
    <Locations value="~/Themes/css/topper.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/Vender">
    <Locations value="~/Themes/css/Vender.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/WebsiteMap">
    <Locations value="~/Themes/css/WebsiteMap.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/WishList">
    <Locations value="~/Themes/css/WishList.css" />
  </CSSFiles>
  <CSSFiles key="~/content/css/AdditionalItem">
    <Locations value="~/Themes/css/AdditionalItem.css" />
  </CSSFiles>
</CSSConfig>
