<?xml version="1.0"?>
<ServiceMethods>
  <!--This is for request side (client side)-->

  <!-- 登入問候語, 節日問候卡 add by bruce 20160414 WMTWNOR-3394 -->
  <ServiceMethod methodName="*" destination="e10srv" componentID="HolidayGreetingWordsService" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" timeOutSec="300">
    <methodDesc><![CDATA[GetSingle, GetInfo, GetData, GetAll, GetShow, Update, Add, Del, Save]]></methodDesc>
  </ServiceMethod>
  <!-- HR -->
  <ServiceMethod methodName="*" destination="e10srv" componentID="HomeGreetingWordsService" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" timeOutSec="300">
    <methodDesc><![CDATA[GetSingle, GetInfo, GetData, GetAll, GetShow, Update, Add, Del, Save]]></methodDesc>
  </ServiceMethod>
  <!-- end for 登入問候語, 節日問候卡 add by bruce 20160414 -->

<!---依據 BSATW-173 廢四機需求增加 廢四機賣場商品, Y=是癈四機 add by bruce 20160516-->
  <ServiceMethod methodName="*" destination="e10srv" componentID="Discard4Service" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" timeOutSec="300">
    <methodDesc><![CDATA[InitData, GetInfo, GetData, GetAll, Update, Add, Del]]></methodDesc>
  </ServiceMethod>
  <!-- end for 廢四機需求增加 -->
  
  <ServiceMethod methodName="report" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試Repository]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="report" componentID="TestService2" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試Repository]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="report2" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試Repository]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試單一回傳值]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test2" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試List回傳值]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test3" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試單一Model回傳值]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test4" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試List<Model>回傳值]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test5" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試List<Model>回傳值]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test6" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[nodata]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="test7" componentID="TestService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試List<ComplexModel>回傳值]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="report3" componentID="TestService2" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試autofac]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="report3" componentID="TestService3" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試autofac]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="report3" componentID="TestService4" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[測試autofac]]></methodDesc>
  </ServiceMethod>
  
  <!-- Advertising-->
  <ServiceMethod methodName="GetActiveAdvEventByAdvEventTypeId" componentID="Service.AdvEventReposity" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據AdvEventType取得ActiveAdvEventItem]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetActiveAdvEventTypeListByAdvType" componentID="Service.AdvEventTypeReposity" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據AdvTypeCode取得ActiveAdvType]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetActiveAdvEventDisplayListByAdvEventTypeId" componentID="Service.AdvEventItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[GetActiveAdvEventDisplayListByAdvEventTypeId]]></methodDesc>
  </ServiceMethod>
  <!-- end of Advertising-->
  
  <!-- Category-->
  <ServiceMethod methodName="XML2Tree" componentID="Service.BaseService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[由Xml取得CategoryTree]]></methodDesc>
  </ServiceMethod>
  <!-- end of Category-->
  
  <!-- CategoryItem -->
  <ServiceMethod methodName="GetCategoryItemsTopRows" componentID="CategoryItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得次分類商品]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetCategoryItems" componentID="CategoryItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得次分類商品]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetBreadCrumbs" componentID="CategoryItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取同一層級，加上父節點的麵包屑選單]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetCategoryBanner" componentID="CategoryItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取該分類廣告]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetCategoryAreaInfo" componentID="CategoryItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取該分類頁訊息]]></methodDesc>
  </ServiceMethod>
  <!-- end of CategoryItem -->

  <!-- CategoryTop10Item  -->
  <ServiceMethod methodName="GetCategoryTopItem" componentID="CategoryTopItemService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得次分類TOP10商品]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetSellingQtyByItemList" componentID="ItemStockService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得次分類TOP10商品庫存]]></methodDesc>
  </ServiceMethod>
  <!-- end of CategoryTop10Item -->
  
  <!-- PropertyServices-->
  <ServiceMethod methodName="GetPropertyGroups" componentID="PropertyService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得次分類屬性列表]]></methodDesc>
  </ServiceMethod>
  <!-- end of PropertyServices-->

  <!-- 2.0 ItemServices -->
  <ServiceMethod methodName="GetItemDetail" componentID="ItemDetailService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[賣場頁資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetItemDetails" componentID="ItemDetailService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得多筆賣場頁資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetItemDisplayPrice" componentID="ItemDisplayPriceService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[多個賣場價格]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetSingleItemDisplayPrice" componentID="ItemDisplayPriceService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[單個賣場價格]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetItemImagePath" componentID="ItemImageUrlService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[多個賣場圖片]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetSingleItemImagePath" componentID="ItemImageUrlService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[單個賣場圖片]]></methodDesc>
  </ServiceMethod>
    <ServiceMethod methodName="GetItemInfoList" componentID="ItemInfoService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[賣場詳細資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetItemInfo" componentID="ItemInfoService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[賣場資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="SetItemDisplayPriceByIDs" componentID="ItemDisplayPriceService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[賣場資料總價化]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetItemMarketGroupByGroupId" componentID="ItemGroupService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據GroupId取得所有的ItemMarketGroup]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetRelativeItemMarketGroupByItemId" componentID="ItemGroupService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據ItemId取得與Item相關的所有ItemGroup]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetItemMarketGroupNameByItemId" componentID="ItemGroupService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[根據ItemId取得Item的屬性名稱]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="ItemStockService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[ItemStockService]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="ShelveService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[賣場上下架]]></methodDesc>
  </ServiceMethod>
  <!-- end of ItemServices -->

  <!-- GroupBuy -->
  <ServiceMethod methodName="QueryViewInfo" componentID="GroupBuyService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[賣場頁資料]]></methodDesc>
  </ServiceMethod>
  <!-- end of GroupBuy -->

  <!-- AccountServices -->
  <ServiceMethod methodName="*" componentID="AccountService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得會員資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="GetMemberService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得會員資料、收件人紀錄本與統一編號紀錄本資訊]]></methodDesc>
  </ServiceMethod>
  <!-- end of AccountServices -->

  <!-- SellerServices -->
  <ServiceMethod methodName="GetSellerWithCountryList" componentID="SellerServices" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得廠商國家資料]]></methodDesc>
  </ServiceMethod>
  <!-- end of SellerServices -->
  
  
  <!-- RedeemService -->
  <ServiceMethod methodName="*" componentID="Service.CouponService.CouponServiceRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[All of coupon service function]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="Service.CouponService.EventReponsitory" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[All of event service function]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="Service.PromotionGiftService.PromotionGiftRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[All of PromotionGift service function]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="Service.PromotionGiftService.PromotionGiftRecordRepository" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[All of PromotionGiftRecords service function]]></methodDesc>
  </ServiceMethod>
  <!-- end of RedeemService-->

  <!-- StoreServices -->
  <ServiceMethod methodName="GetStoreInfo" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取第一次進入Store頁面的所有必要資訊]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetShopWindows" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取某個Store底下的指定ShopWindow資料集合]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetOptionStoreInfo" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取任選館的頁面全部資訊]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetOptionStoreListZone" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取任選館的商品列表顯示區]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetOptionStoreItems" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取任選館指定的特定Item集合]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetBanner" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取廣告資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAllBanner" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取全部廣告資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetHomeStoreInfo" componentID="HomeStoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取首頁包含櫥窗的所有資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetHomeShopWindows" componentID="HomeStoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取首頁櫥窗資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="IsChooseAny" componentID="StoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[是否為任選館]]></methodDesc>
  </ServiceMethod>
  <!-- end of StoreServices -->


  <!-- TrackServices -->
  <ServiceMethod methodName="AddToTracks" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[加入購物車]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="UpdateToTracks" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[加入購物車]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="DeleteFromTracks" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[刪除購物車]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="CleanOldAndUpdateTracks" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[掃描購物車]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetTracksStatus" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得精簡購物車資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetTracksDetial" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得詳細購物車資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAllTracksItemQty" componentID="TrackService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得全部購物車賣場數量]]></methodDesc>
  </ServiceMethod>
  <!-- end of TrackServices -->

  <!-- NewsMediaServices -->
  <ServiceMethod methodName="GetNewsList" componentID="NewsService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取新聞資料List]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetNewsInfo" componentID="NewsService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取新聞資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetMediaList" componentID="MediaService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取媒體資料List]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetMediaInfo" componentID="MediaService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[獲取媒體資料]]></methodDesc>
  </ServiceMethod>
  <!-- end of NewsMediaServices -->
  <!-- GetSalceOrderInfo -->
  <ServiceMethod methodName="GetSalceOrderInfo" componentID="AnswerService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[GetSalceOrderInfo]]></methodDesc>
  </ServiceMethod>
  <!-- end of GetSalceOrderInfo -->
    <!-- GetSalceOrderInfo -->
  <ServiceMethod methodName="GetPrblmRecode" componentID="AnswerService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[GetPrblmRecode]]></methodDesc>
  </ServiceMethod>
  <!-- end of GetSalceOrderInfo -->
  <!-- GetPrblmRecodeSelect -->
  <ServiceMethod methodName="GetPrblmRecodeSelect" componentID="AnswerService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[GetPrblmRecodeSelect]]></methodDesc>
  </ServiceMethod>
  <!-- end of GetPrblmRecodeSelect -->
  <!-- NewsMediaServices -->
  <ServiceMethod methodName="AddSalseOrderForAnswerInfo" componentID="AnswerService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[AddSalseOrderForAnswerInfo]]></methodDesc>
  </ServiceMethod>
  <!-- end of NewsMediaServices -->
  <!-- SellerServices -->
  <ServiceMethod methodName="GetActivityByName" componentID="ActivityService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得活動資料]]></methodDesc>
  </ServiceMethod>
  <!-- end of SellerServices -->
  
  <!-- PromotionServices -->
  <ServiceMethod methodName="HasOverPurchaseDiscount" componentID="PromotionService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得該賣場可使用的優惠活動資訊]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="getItemPromotionGiftListInfo" componentID="PromotionService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得賣場清單可參與的優惠活動資訊]]></methodDesc>
  </ServiceMethod>
  <!-- end of PromotionServices -->
  
  <!-- MobileStoreServices -->
  <ServiceMethod methodName="GetMobileStoreInfo" componentID="MobileStoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得手機版分類頁面資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetMobileStoreItems" componentID="MobileStoreService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得手機版子分類的商品集合]]></methodDesc>
  </ServiceMethod>
  <!-- end of MobileStoreServices -->

  <!-- SellerServices -->
  <ServiceMethod methodName="TotalSearch" componentID="Service.SearchService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得搜尋資料]]></methodDesc>
  </ServiceMethod>
  <!-- end of SellerServices -->
  
  <!-- CartServices-->
  <ServiceMethod methodName="*" componentID="SOServices.SOGroupInfoService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[購物車資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="OPCCartMachineProxy" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[OPC Proxy]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="SOServices.AuthService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[信用卡紅利資料]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="SOServices.SalesOrderInfoService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[建立SO訂單]]></methodDesc>
  </ServiceMethod>
  <!-- end of CartServices-->



  
  <!-- VotingActivity -->
  <!-- **** VotingGroup **** -->
  <ServiceMethod methodName="*" componentID="VotingActivityService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[投票活動]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="VotingBusinessService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[投票活動記錄]]></methodDesc>
  </ServiceMethod>
  <!-- end of VotingActivity -->

  <!--Start ItemPreview Start-->
  <ServiceMethod methodName="GetPreViewInfo" componentID="Controllers.ItemPreviewController" destination="e10vnd" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[預覽]]></methodDesc>
  </ServiceMethod>
  <!--End ItemPreview End-->
  
  <!--Start ItemPreviewP Start-->
  <ServiceMethod methodName="GetPreViewInfo" componentID="Controllers.ItemVerifyMaintainController" destination="e10ipp" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[預覽]]></methodDesc>
  </ServiceMethod>
  <!--End ItemPreviewP End-->
  
  <!--Start ShoppingCart Start-->
  <ServiceMethod methodName="GetCartAllList" componentID="ShoppingCartService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[購物車清單]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="CartTempServices.CartTempService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[購物車暫存]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetIncreasePurchaseItemList" componentID="ShoppingCartService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得加價購商品清單]]></methodDesc>
  </ServiceMethod>
  <!--End ShoppingCart End-->

  <!-- Start PaymentGatewayAdapter -->
  <ServiceMethod methodName="*" componentID="AllPayProxy" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[歐付寶金流界接]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="HiTrustProxy" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[HiTrust金流界接]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="NCCCProxy" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[NCCC金流界接]]></methodDesc>
  </ServiceMethod>
  <!--End PaymentGatewayAdapter End-->
  <!--Start EDM Start-->
  <ServiceMethod methodName="GetLatestEDM" componentID="EDMService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[最新EDM]]></methodDesc>
  </ServiceMethod>
  <!--End EDM End-->
  
  <!-- Lottery-->
  <ServiceMethod methodName="DrawAwrad" componentID="LotteryService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[抽獎]]></methodDesc>
  </ServiceMethod>
  <!-- end of Lottery -->

  <!-- HotWords-->
  <ServiceMethod methodName="GetActive" componentID="HotWordsService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[關鍵字]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetById" componentID="HotWordsService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[關鍵字]]></methodDesc>
  </ServiceMethod>
  <!-- end of HotWords -->

  <!-- SellerServices -->
  <ServiceMethod methodName="TotalSearch" componentID="SolrService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得Solr搜尋資料]]></methodDesc>
  </ServiceMethod>
  <!-- end of SellerServices -->

  <!-- Call Vendor Portal -->
  <ServiceMethod methodName="ProcessRMANumMail" componentID="Controllers.ShiftOrderNumController" destination="e10vnd01" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[寄送退貨通知信給廠商]]></methodDesc>
  </ServiceMethod>
  <!-- end of Call Vendor Portal -->
  <!--Start PageMgmt-->
  <ServiceMethod methodName="*" componentID="PageDBUtil" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[頁面編輯]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="PageMgmtAdapter" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[頁面編輯Adapter]]></methodDesc>
  </ServiceMethod>
  <!--End PageMgmt-->

  <!--Start BankBonusService-->
  <ServiceMethod methodName="GetAllBankBonus" componentID="BankBonusService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[取得生效的信用卡紅利折抵項目]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetBankBonusById" componentID="BankBonusService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[取得單筆生效的信用卡紅利折抵項目]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAllEffectiveBankBonus" componentID="BankBonusService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[取得上架的信用卡紅利折抵項目]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="UpdateOrder" componentID="BankBonusService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[儲存排序]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="CreateBankBonusTemp" componentID="BankBonusService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[新增待審的信用卡紅利折抵項目]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="DeleteBankBonusTemp" componentID="BankBonusService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[刪除待審的信用卡紅利折抵項目]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAllBankBonusTemp" componentID="BankBonusService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[取得待審的信用卡紅利折抵項目]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetBankBonusTempById" componentID="BankBonusService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[取得單筆待審的信用卡紅利折抵項目]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="UpdateBankBonusTemp" componentID="BankBonusService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[更新待審的信用卡紅利折抵項目]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="ApproveBankBonus" componentID="BankBonusService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[審核通過]]></methodDesc>
  </ServiceMethod>
  <!--End BankBonusService-->

  <!--Start BankService-->
  <ServiceMethod methodName="GetBankId" componentID="BankService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[取得 Bank 表的銀行編號]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="BankName" componentID="BankService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[取得 Bank 表的銀行名稱]]></methodDesc>
  </ServiceMethod>
  <!--End BankService-->

  <!-- Category layer3 AD-->
  <ServiceMethod methodName="GetCategoryByCategoryID" componentID="CategoryNewServices" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[副標題]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAllParentCategoriesByCIDs" componentID="CategoryNewServices" destination="e10srv" destMethod="TWNESrv" cacheTime="43200" cacheName="{1}" source="RemoteService">
    <methodDesc><![CDATA[查詢分類的所有父分類]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAllParentCategoriesByItemIDs" componentID="CategoryNewServices" destination="e10srv" destMethod="TWNESrv" cacheTime="43200" cacheName="{1}" source="RemoteService">
    <methodDesc><![CDATA[查詢賣場的所有分類與父分類]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAdLayer3List" componentID="AdLayer3Services" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[查詢第三層分類廣告bannerAndItems]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAvailableAndVisibleItemID" componentID="AdLayer3Services" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[查詢有效的ItemIDs]]></methodDesc>
  </ServiceMethod>
  <!-- Category layer3 AD -->


  <!-- PromoActive -->
  <ServiceMethod methodName="*" componentID="PromoActiveServices" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[活動清單]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="GetAwardList" componentID="PromoActiveServices" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[中獎名單頁活動清單]]></methodDesc>
  </ServiceMethod>
  <!-- end of PromoActive -->
  
  <ServiceMethod methodName="*" componentID="PromoAwardLogService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[中獎明細]]></methodDesc>
  </ServiceMethod>

  <!--Start AdditionalItem-->
  <ServiceMethod methodName="GetAdditionalItemDetailforShopByCartType" componentID="AIForCartService" destination="e10srv" destMethod="TWNESrv" cacheTime="120" cacheName="AIForCart_{0}" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[購物車加價購]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" componentID="AIForCartService" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[購物車加價購]]></methodDesc>
  </ServiceMethod>
  <!--End AdditionalItem-->

  <!--Start SendMailServices-->
  <ServiceMethod methodName="*" componentID="SendMailServices" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[寄信]]></methodDesc>
  </ServiceMethod>
  <!--End SendMailServices-->

  <!--Start NeweggUSARequestServices-->
  <ServiceMethod methodName="*" componentID="Services.NeweggRequest" destination="e10srv" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" dontRetry="1">
    <methodDesc><![CDATA[ProductDetail]]></methodDesc>
  </ServiceMethod>
  <!--End NeweggUSARequestServices-->
</ServiceMethods>
