<?xml version="1.0"?>
<ServiceComponents>
  <!-- PaymentGateway -->
  <ServiceComponent componentID="Service.AllPaymentService" nameSpace="TWNewEgg.PaymentGateway" autofacInterface="Interface.IAllPay" baseUrl="" apiPath="">
    <componentDesc><![CDATA[歐付寶金流]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="Service.HiTrustPaymentService" nameSpace="TWNewEgg.PaymentGateway" autofacInterface="Interface.IHiTrust" baseUrl="" apiPath="">
    <componentDesc><![CDATA[HiTrust金流]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="Service.NCCCPaymentService" nameSpace="TWNewEgg.PaymentGateway" autofacInterface="Interface.INCCC" baseUrl="" apiPath="">
    <componentDesc><![CDATA[NCCC金流]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="Service.PlaceOrder" nameSpace="TWNewEgg.ECWeb" autofacInterface="Services.OldCart.NeweggService.IPlaceOrder" baseUrl="" apiPath="">
    <componentDesc><![CDATA[前台產生PO]]></componentDesc>
  </ServiceComponent>
  <!-- end of PaymentGateway-->
  <ServiceComponent componentID="Service.HiNetSolution" nameSpace="TWNewEgg.SMSService" autofacInterface="" baseUrl="" apiPath="">
    <componentDesc><![CDATA[SMS]]></componentDesc>
  </ServiceComponent>
</ServiceComponents>
