<?xml version="1.0"?>
<ServiceMethods>
  <!--START  COMPONENT ID Service.GroupBuyService  START-->
  <ServiceMethod methodName="GetSellerUserID" componentID="UserService" destination="e10web" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得UserID]]></methodDesc>
  </ServiceMethod>
  <!--END  COMPONENT ID Service.GroupBuyService  END-->

  <ServiceMethod methodName="GetPreViewInfo" componentID="Controllers.ItemPreviewController" destination="e10web" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得預覽資料]]></methodDesc>
  </ServiceMethod>

  <ServiceMethod methodName="GetSeller_BasicInfos" componentID="Controllers.SellerRelationshipManageController" destination="e10web" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[取得SellerSearchAutoComplete資料]]></methodDesc>
  </ServiceMethod>
  
  <ServiceMethod methodName="ProcessRMANumMail" componentID="Controllers.ShiftOrderNumController" destination="e10web" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[寄送退貨通知信給廠商]]></methodDesc>
  </ServiceMethod>

  <ServiceMethod methodName="checkAdditionItem" componentID="AdditionItemSearchService" destination="e10ecsrv01" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[檢查是否為加價購]]></methodDesc>
  </ServiceMethod>

  <ServiceMethod methodName="checkAdditionTemp" componentID="AdditionItemSearchService" destination="e10ecsrv01" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[查詢待審是否為加價購]]></methodDesc>
  </ServiceMethod>

  <ServiceMethod methodName="checkAdditionSketch" componentID="AdditionItemSearchService" destination="e10ecsrv01" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[查詢草稿是否為加價購]]></methodDesc>
  </ServiceMethod>

  <ServiceMethod methodName="EnableAdditionItemforItemSketch" componentID="SetAdditionItemService" destination="e10ecsrv01" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[編輯草稿加價購]]></methodDesc>
  </ServiceMethod>

  <ServiceMethod methodName="DisableAdditionItemSketch" componentID="SetAdditionItemService" destination="e10ecsrv01" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[加價購編輯草稿非加價購]]></methodDesc>
  </ServiceMethod>

  <ServiceMethod methodName="EnableAdditionItemforItemTemp" componentID="SetAdditionItemService" destination="e10ecsrv01" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[編輯待審加價購]]></methodDesc>
  </ServiceMethod>

  <ServiceMethod methodName="DisableAdditionItemTemp" componentID="SetAdditionItemService" destination="e10ecsrv01" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[編輯待審非加價購]]></methodDesc>
  </ServiceMethod>

  <ServiceMethod methodName="EnableAdditionItemforItem" componentID="SetAdditionItemService" destination="e10ecsrv01" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[編輯正式加價購]]></methodDesc>
  </ServiceMethod>

  <ServiceMethod methodName="DisableAdditionItem" componentID="SetAdditionItemService" destination="e10ecsrv01" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService">
    <methodDesc><![CDATA[編輯正式非加價購]]></methodDesc>
  </ServiceMethod>


  <!-- 依據BSATW-173 廢四機需求增加 癈四機賣場商品, 1=是癈四機 add by bruce 20160503-->
  <ServiceMethod methodName="*" destination="e10ecsrv01" componentID="Discard4Service" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" timeOutSec="300">
    <methodDesc><![CDATA[GetInfo, GetData, GetAll, Update, Add, Del]]></methodDesc>
  </ServiceMethod>
  <ServiceMethod methodName="*" destination="e10ecsrv01" componentID="Discard4ItemService" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" timeOutSec="300">
    <methodDesc><![CDATA[GetInfo, GetData, GetAll, Update, Add, Del, InitData, Save ]]></methodDesc>
  </ServiceMethod>
  <!-- end for 依據BSATW-173 廢四機需求增加 癈四機賣場商品, 1=是癈四機 add by bruce 20160503-->

  <!--依據 BSATW-232 供應商對帳單新增調整項目 add by bruce 20160720-->
  <ServiceMethod methodName="*" destination="e10ecsrv01" componentID="SellerCorrectionPriceService" destMethod="TWNESrv" cacheTime="0" cacheName="" source="RemoteService" timeOutSec="300">
    <methodDesc><![CDATA[Save, GetInfo, GetGroupBy, GetData, GetAll, Update, Add, Del]]></methodDesc>
  </ServiceMethod>
  
</ServiceMethods>
