<?xml version="1.0"?>
<ServiceApiAddressList>
  <ServiceApiAddress alias="e10srv01" address="http://localhost:62958/" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />
  <ServiceApiAddress alias="e10srv02" address="http://localhost:62958/" baseUrl="/api" apiPath="/ServiceApi/Process" latency="100" />
  <ServiceApiAddress alias="e10web01" address="http://localhost:50118/" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />  
  <!-- GQC 
  <ServiceApiAddress  alias="e10ecsrv01" address="http://10.16.131.67:81" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />
 -->
  <!--本機
  <ServiceApiAddress  alias="e10ecsrv01" address="http://localhost:50278/" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />
  -->
  <ServiceApiAddress  alias="e10ecsrv01" address="http://10.16.131.67:81" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />
</ServiceApiAddressList>
