<?xml version="1.0"?>
<ServiceComponents>
  <!--START  NAMESPACE TWNewEgg.GroupBuyService  START-->
  <ServiceComponent componentID="Controllers.UserController" nameSpace="TWNewEgg.API" autofacInterface=""  baseUrl="" apiPath="">
    <componentDesc><![CDATA[FindUser]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="UserService" nameSpace="TWNewEgg.API.Service" autofacInterface=""  baseUrl="" apiPath="">
    <componentDesc><![CDATA[FindUser]]></componentDesc>
  </ServiceComponent>
  <!--END  NAMESPACE TWNewEgg.GroupBuyService  END-->
  <ServiceComponent componentID="Controllers.ItemTempController" nameSpace="TWNewEgg.API" autofacInterface=""  baseUrl="" apiPath="">
    <componentDesc><![CDATA[FindUser]]></componentDesc>
  </ServiceComponent>
  <ServiceComponent componentID="Controllers.ItemPreviewController" nameSpace="TWNewEgg.API" autofacInterface=""  baseUrl="" apiPath="">
    <componentDesc><![CDATA[FindUser]]></componentDesc>
  </ServiceComponent>
  <!--SellerRelationShip-->
  <ServiceComponent componentID="Controllers.SellerRelationshipManageController" nameSpace="TWNewEgg.API" autofacInterface=""  baseUrl="" apiPath="">
    <componentDesc><![CDATA[FindUser]]></componentDesc>
  </ServiceComponent>
  <!--End SellerRelationShip-->

  <ServiceComponent componentID="Controllers.ShiftOrderNumController" nameSpace="TWNewEgg.API" autofacInterface=""  baseUrl="" apiPath="">
    <componentDesc><![CDATA[處理前台傳入訂單服務]]></componentDesc>
  </ServiceComponent>

  <ServiceComponent componentID="AdditionItemSearchService" nameSpace="TWNewEgg.AdditionalItemServices" autofacInterface=""  baseUrl="" apiPath="">
    <componentDesc><![CDATA[查詢加價購]]></componentDesc>
  </ServiceComponent>

  <ServiceComponent componentID="SetAdditionItemService" nameSpace="TWNewEgg.AdditionalItemServices" autofacInterface=""  baseUrl="" apiPath="">
    <componentDesc><![CDATA[修改加價購]]></componentDesc>
  </ServiceComponent>

 
  
</ServiceComponents>
