<?xml version="1.0"?>
<ServiceApiCacheAppSettings>
  <!--START  Send Exception Alert Mail's SMTP Server  START-->
  <ServiceApiCacheSingleSetting>
    <Key><![CDATA[SMTPServerIP]]></Key>
    <Value><![CDATA[172.22.5.55]]></Value>
  </ServiceApiCacheSingleSetting>
  <ServiceApiCacheSingleSetting>
    <Key><![CDATA[SMTPServerPort]]></Key>
    <Value><![CDATA[25]]></Value>
  </ServiceApiCacheSingleSetting>
  <!--END  Send Exception Alert Mail's SMTP Server  END-->
  <!--START  Send Exception Alert Mail's Address  START-->
  <ServiceApiCacheSingleSetting>
    <Key><![CDATA[DebugSendMailAddress]]></Key>
    <Value><![CDATA[service@newegg.com.tw]]></Value>
  </ServiceApiCacheSingleSetting>
  <!--END  Send Exception Alert Mail's Address  END-->
  <!--START  Receive Exception Alert Mail's Address  START-->
  <ServiceApiCacheSingleSetting>
    <Key><![CDATA[DebugReceiveMailAddress]]></Key>
    <Value><![CDATA[bill.s.wu@newegg.com]]></Value>
  </ServiceApiCacheSingleSetting>
  <!--END  Receive Exception Alert Mail's Address  END-->
</ServiceApiCacheAppSettings>
