//compileCompressed: ../css/ShoppingCart.css, includePath: includes/
@import "_importSCSS";

$RWDMinWidth:1004px;
$BorderWidth:1px;
.ChoseMethod{
	.icon{
		  background: url(/Themes/img/Icon/DiscountImg.png) no-repeat center;
		  width: 40px;
		  height: 33px;
		  margin: 7px 15px 7px 15px;
		  display: block;
		  float: left;
	}
}
.OrderDetails {
	.icon{
		  background: url(/Themes/img/Icon/White_OrdersImg.png) no-repeat center;
		  width: 40px;
		  height: 33px;
		  margin: 7px 15px 7px 15px;
		  display: block;
		  float: left;
	}
}

ul.OneLine{
	margin:30px 0;
	li{
		width:30%;
	}
}
.Tab{
	font-size:19px;
	font-weight:normal;

	.empty { color:#666; }
}
.Tit{
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
	font-size:18px;
	padding-left:20px;
}
.CartIcon{
	padding:13px 35px;
	margin-right:10px;
	color:#ec8b54;
	font-size:15px;
	padding-left:4px;
	background: url("/Themes/img/Icon/ShoppingCartImg.png") no-repeat;
	position: relative;
	&>span{
		position: absolute;
		top: 0;
		left: 7px;
		text-align: center;
		display: block;
		width: 26px;
	}
}
.CartIconPo{
	background-position:-1px 10px;
}
.Tab:hover .CartIconPo,.TabSelected .CartIconPo{
	background-position:-1px -32px;

	&,
	& > span { color:#fff; }
}
div.SpecialDeal{
	padding-left:90px;
}
h3{
	//margin-top:5px;
}
.ItemListTable{
	width:$RWDMinWidth;
	border:1px solid #d5d5d5;
	.ItemListTr{
		border:1px solid #d5d5d5;
		.ItemListTh{
			text-align:center;
			vertical-align:middle;
			height:48px;
			font-size:16px;
			border-bottom:1px solid #d5d5d5;
		}
		.ItemListTd{
			text-align:center;
			vertical-align:middle;
			height:70px;
			border-bottom:1px solid #d5d5d5;
			p.Area{
				font-size:15px;
				span{
					font-size:13px;
					color:#a8a8a8;
					font-weight:normal;
				}
			}
			.OrderNumber {
				  font-size: 13px;
				  font-weight: bolder;
			}
			.PicArtBox{border:0;padding:0;}
			.Modified {
				  margin-left: 10px;
			}
		}
	}
}
.BorderRight{border-right:1px solid #d5d5d5;}
.BorderLeft{border-left:1px solid #d5d5d5;}
	.Love{
		display:inline-block;
		margin:0 3px;
		width:35px;
		height:35px;
		background:url(/Themes/img/Icon/Gray_AddFavoritesImg.png) no-repeat center;
		cursor:pointer;
		//float:left;
	}
	.Delte{
		display:inline-block;
		margin:0 3px;
		width:35px;
		height:35px;
		background:url(/Themes/img/Icon/DeleteImg.png) no-repeat center;
		cursor: pointer;
		@include clearAfter;
		//float:left;
	}
.ChooseCart {
	.Love{
		display:inline-block;
		width:35px;
		height:35px;
		background:url(/Themes/img/Icon/Gray_AddFavoritesImg.png) no-repeat center;
		cursor:pointer;
		margin:10px auto;
		float:none;
	}
	.Delte{
		width:35px;
		height:35px;
		background:url(/Themes/img/Icon/DeleteImg.png) no-repeat center;
		cursor: pointer;
		margin:10px auto;
		@include clearAfter;
		float:none;
	}
	.Revise {
		width:35px;
		height:35px;
		background:url(/Themes/img/Icon/ReviseImg.png) no-repeat center;
		cursor:pointer;
		margin:10px auto;
		float:none;
	}
}
.RedBorder {
	border:2px solid #CB4042;
}
.noBorder {
	border:0;
}
.TotalTable{
	width:100%;
	margin:15px 0;
	position:relative;
	.TotalTr{
		.TotalTh{
			width:754px;
			padding-left:750px;
			font-size: 20px;
			line-height:25px;
		}
		.TotalTd{
			width:250px;
			padding-right:20px;
			text-align:right;
			font-size: 20px;
			line-height:25px;
		}
	}
	.RedTextRemind {
		color: #CB4042;
		right: 300px;
		position: absolute;
		line-height: 25px;
		display: none;
	}
}
hr{
	height:1px;
	background-color:#d5d5d5;
	border:0;
}
.needPay{
	font-size:20px;
	margin:20px 0;
	padding-right:20px;
}


.ShoppingProcess {
	 margin: 0 auto;
     width:$RWDMinWidth;
}

//coupon
.BlackBG {
position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.5);
}
.BlackMsg {
  background: #FFFFFF;
  width: 1067px;
  //height: 420px;
  border-radius: 15px;
  position: fixed;
  top: 75%;
  left: 50%;
  margin: -225px 0 0 -534px;
  padding:30px 0;
}
.couponUseBox {
	 border: 1px solid #6B6B6B;
	 margin: 50px auto 0 auto;
	 width: 90%;
	 overflow: auto;
	.tit {
		font-weight:bold;
		background: #698EB8;
		color: #FFFFFF;
		height: 47px;
		line-height: 47px;
		padding-left: 10px;
		letter-spacing: 2px;
	}
	.txtBox {
		max-height: 250px;
		min-height: 100px;
		.couponUseTable {
			.couponTit {
				.couponUseName {
					font-weight:bold;
				}
			}
		}
	}
	td {
		 padding: 10px 5px 0 5px;
	}
	.couponUseInfo {
		color:#aaa;
		font-size:13px;
	}
	.price {
		margin-right:20px;
	}
	.btn {
		background:#698EB8;
	}
}
.couponUseDialogBtn {
	.DialogCancelBtn {
		color:#666666;
	}
}
.DialogBtn {
	text-align:center;
	.DialogConfirmBtn {
		width: 106px;
		height: 44px;
		margin:20px;
		font-size: 18px;
		letter-spacing: 5px;
		background:rgba(105, 142, 184, 0.9);
	}
	.DialogConfirmBtn:hover {
		background:#698EB8;
	}
	.DialogCancelBtn {
		width: 106px;
		height: 44px;
		margin:20px;
		font-size: 18px;
		letter-spacing: 5px;
		background:rgba(165, 187, 212, 0.9);
	}
	.DialogCancelBtn:hover {
		background:#A5BBD4;
	}
}
