@import "_importSCSS";

/*Topper*/
.topper {
	width: 1176px;
	margin: 0 auto;
	clear: both;
}
.topper .searchbar {
	float: left;
	margin-left: 11px;
}
.topper .searchbar .input{
	margin: 0;
	padding: 7px 15px;
	font-size: 13px;
	color: #666;
	border: thin solid #fff;
	width: 610px;
}
.topper .searchbar .input2 {
	margin: 0;
	padding: 7px 15px;
	font-size: 13px;
	color: #666;
	background-color: #F0F0F0;
	border: thin solid #fff;
	width: 610px;
}
.topper .searchbar .btn {
	padding: 0;
	width: 89px;
	height: 30px;
	cursor: pointer;
	color: #ffffff;
	border: thin solid #698EB8;
	background-image: url(../img/searchBtn.jpg);
}
.topper .keyword {
	font-size: 13px;
	float: left;
	margin-left: 11px;
	word-spacing: 10px;
	letter-spacing: 2px;
	margin-top: 3px;
}
.topper .group {
	width: 206px;
	float: left;
}
.topper .dropdown {
	width: 206px;
	height: 20px;
	float: left;
	background-color: #E6E4E6;
	text-align: center;
	color: #5E5E63;
	font-size: 16px;
}
.topper a {
	color: #5E5E63;
	text-decoration: none;
}
.topper .top {
	float: right;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #000;
	text-indent: 0px;
	text-align: center;
	margin-right: 10px;
	font-size: 20px;
    /*-ms-transform: rotate(-90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);*/
	@include transform(rotate(90deg));

}
.topper .down {
	float: right;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #000;
	text-indent: 0px;
	text-align: center;
	margin-right: 10px;
	font-size: 20px;
    /*-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);*/
	@include transform(rotate(90deg));
}
.topper .ad {
	width: 206px;
	height: 50px;
	float: left;
}
.topper .ad3 {
	width: 103px;
	height: 30px;
	float: left;
}
.topper .ad4 {
	width: 103px;
	height: 30px;
	float: left;
}
.topper .bread {
	float: left;
	font-size: 16px;
	color: #808080;
	margin-left: 215px;
}
