// out: ../css/Vender.css, compress: true,
.Introduction{
	position:relative;
	.VenderBg{
		//display:block;
		width:1004px;
		height:auto;
	}
	/*p{
		position:absolute;
		top:470px;
		width:1004px;
		font-size:20px;
		line-height:35px;
	}*/
}
