@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:0 auto;width:1000px;">
    <img src="/Themes/img/System/404.jpg" alt="" /><br /><br />
    <div style="text-align:center;">
        <img src="/Themes/img/temp/prev.jpg" style="cursor:pointer;" />　
        <a href="/"><img style="border-bottom:0;" src="/Themes/img/temp/home.jpg" /></a>
    </div>
</div>

