@using System.Collections.Generic
@using TWNewEgg.ECWeb.Utility
@using TWNewEgg.Models.DomainModels.News
@model NewsInfo
@if (Model != null)
{
<div class="News PicArtBox grayBorder">
    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
    <div class="pic ArticPic"><img src="@(ImageUtility.GetImagePath(Model.ImagePath))"></div>
    }
    <div class="RightNewsLayout">
        <p class="ArticleName"><a href="/News/Content?newsID=@(Model.NewsID)">@(ArticleUtility.LimitDownText(Model.Title, 34))</a></p>
        <p class="Date blue">@(string.Format("{0}/{1}/{2}", Model.Date.Year, Model.Date.Month, Model.Date.Day))</p>
        <p class="Article">@(ArticleUtility.LimitDownText(Model.Extract, 109))</p>
    </div>
</div> 
}