<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!--Start Require by Framework Start-->
  <add key="ServiceApiAddressConfig" value="Configurations/ServiceApiAddress.config"/>
  <add key="MethodsConfig" value="Configurations/ServiceMethods.config"/>
  <add key="ComponentsConfig" value="Configurations/ServiceComponents.config"/>
  <add key="PublicMethodsConfig" value="Configurations/PublicMethods.config"/>
  <add key="ServiceApiCacheAppSetting" value="Configurations/ServiceApiCacheAppSettings.config"/>
  <!--End Require by Framework End-->
  
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--add by Thisway, Batch Creation Items and Manufacturer-->
  <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
  <add key="AesKey" value="$eLlErPoRtAllAtRoPrElLe$"/>
  <!--不處理的寄送的Email address-->
  <add key="VoidProcessEmailAddress" value="Newegg TW@newegg.com,Newegg USA@newegg.com,OMC 強越資訊@newegg.com,深圳市借賣網電子商務有限公司@newegg.com,Elyn.Y.Wang@newegg.com.cn"/>
  <add key="TestUserEMail"  value="Jack.c.chen@newegg.com"/>
  
  <!--新蛋圖片機 URL-->
  <!--<add key="NeweggImages" value="http://images.newegg.com.tw"/>-->
  <add key="NeweggImages" value="https://necdn.blob.core.windows.net/www"/>
  
  <!--新蛋圖片機 IP-->
  <!--<add key="NeweggImagesIP" value="http://172.22.42.156"/>-->
  <add key="NeweggImagesIP" value="https://necdn.blob.core.windows.net/www"/>
  <!--測試環境測試收件人-->
  <!--Seller/VendorPortal****************************************************************************************-->
  <add key="GlobalCompanyName" value="台灣新蛋網股份有限公司"/>   <!-- 2015.04.23 Add By Karen -->
  <add key="MailEndWords" value="若有任何問題，請聯繫新蛋供應商服務專線。"/>
  <add key="PreViewFlag" value="on"/>    <!--預覽是否開啟，on開啟，off導入賣場連結-->
  <add key="CustomerServicePhone" value="(02)8006-8010 "/>
  <add key="SupplierPhone" value="(02)8006-8012"/>
  <add key="CompanyAddress" value="台北市松山區民生東路三段133號14樓"/>
  <!--Local******************************************************************************************************-->
  <!--<add key="TWSPHost" value="http://localhost:6789"/>-->
  <!--2014.1.24 寄認證信path add by ice-->
  <add key="TWSPHost" value="http://localhost:49636"/>

  <!--2015.04.16 Add by Jack-->
  <add key="Images" value="http://localhost:57035/Pic"/>
  <!--local 測試圖片 add by Jack.W-->
  <add key="LogoImage" value="http://localhost:57035"/>
  <!--2014.5.30 seller logo path add by ice-->
  <add key="WebSite" value="http://10.16.131.41"/>
  <add key="ItemCreateionUpload" value="http://localhost:49622/upload/"/>
  <!--2014.05.27 新增 ItemCreation 顯示圖片URL-->
  <!--HTML 編輯器所使用設定檔-->
  <add key="APIFileUploadURL" value="http://10.16.131.41:70/Upload/ProductContent/"/>
  <!--for GQC-->
  <add key="APIFileUploadFolderLocation" value="\\\\10.16.131.41\\d$\\TWSellerPortal\\Upload\\ProductContent\\"/>
  <!--for GQC-->
  <!--<add key="APIFileUploadURL" value="http://localhost:6789/Upload/ProductContent/"/>-->
  <!--for dev-->
  <!--呼叫IPP API IP -->
  <!--<add key="IPPIP" value="http://10.16.131.42:81"/>-->
  <add key="IPPIP" value="http://localhost:62958"/>
  <!--2014.6.10 總價化API DEV add by ice-->

  <add key="AdminEmail"  value="ice.c.lai@newegg.com,jack.c.chen@newegg.com,ted.c.yeh@newegg.com,smoke.c.jan@newegg.com"/>
  <!--管理者Email DEV GQC-->

  <!--匯出 Excel 所使用-->
  <add key="SaveToExcel"  value="\\\\127.0.0.1\\d$\\TWSellerPortal\\"/>
  <!--2014.7.18 存excel的路徑 add by ice-->
  <add key="ReturnExcel"  value="http://localhost:49622/ToExcel/"/>
  <!--2014.7.18 存excel的路徑-DEV add by ice-->
  <!--API Host-->
  <add key="APIHost" value="http://localhost:57035"/>

  <!--退貨-->
  <!--退貨備註-->
  <add key="HasBeenViewed" value="廠商已點選派車按鈕看明細資資料但未派車取件!"/>

  <!--Dev******************************************************************************************************-->
  <!--<add key="TWSPHost" value="http://localhost:6789"/>--><!--
  --><!--2014.1.24 寄認證信path add by ice--><!--
  <add key="TWSPHost" value="http://10.16.131.41:88"/>
  --><!--2015.04.16 Add by Jack--><!--
  <add key="Images" value="http://10.16.131.41:98/Pic"/>
  --><!--local 測試圖片 add by Jack.W--><!--
  <add key="LogoImage" value="http://127.0.0.1:98"/>
  --><!--2014.5.30 seller logo path add by ice--><!--
  <add key="WebSite" value="http://10.16.131.41"/>
  <add key="ItemCreateionUpload" value="http://10.16.131.41:88/upload/"/>
  --><!--2014.05.27 新增 ItemCreation 顯示圖片URL--><!--
  --><!--HTML 編輯器所使用設定檔--><!--
  <add key="APIFileUploadURL" value="http://10.16.131.41:88/Upload/ProductContent/"/>
  --><!--for GQC--><!--
  <add key="APIFileUploadFolderLocation" value="\\\\10.16.131.41\\d$\\TWSellerPortal\\Upload\\ProductContent\\"/>
  --><!--for GQC--><!--
  --><!--<add key="APIFileUploadURL" value="http://10.16.131.41:88/Upload/ProductContent/"/>--><!--
  --><!--for dev--><!--
  --><!--呼叫IPP API IP --><!--
  <add key="IPPIP" value="http://10.16.131.42:81"/>
  --><!--2014.6.10 總價化API DEV add by ice--><!--

  <add key="AdminEmail"  value="ice.c.lai@newegg.com,jack.c.chen@newegg.com,ted.c.yeh@newegg.com,smoke.c.jan@newegg.com"/>
  --><!--管理者Email DEV GQC--><!--

  --><!--匯出 Excel 所使用--><!--
  <add key="SaveToExcel"  value="\\\\127.0.0.1\\d$\\TWSellerPortal\\"/>
  --><!--2014.7.18 存excel的路徑 add by ice--><!--
  <add key="ReturnExcel"  value="http://10.16.131.41:88/ToExcel/"/>
  --><!--2014.7.18 存excel的路徑-DEV add by ice-->
  <!--<add key="APIHost" value="http://127.0.0.1:98"/>-->

  <!--GQC******************************************************************************************************-->
  <!--<add key="TWSPHost" value="http://10.16.131.41:70"/>   		              
  <add key="Images" value="http://10.16.131.41:71/Pic"/>
  <add key="LogoImage" value="http://127.0.0.1:71"/>                            
  <add key="WebSite" value="http://10.16.131.69/"/>                       
  <add key="ItemCreateionUpload" value="http://10.16.131.41:70/upload/"/>        
  <add key="APIFileUploadURL" value="http://10.16.131.41:70/Upload/ProductContent/"/>
  <add key="APIFileUploadFolderLocation" value="\\\\10.16.131.41\\d$\\TWSellerPortal\\Upload\\ProductContent\\"/>
  <add key="IPPIP" value="http://10.16.131.67"/>                                  
  <add key="AdminEmail"  value="ice.c.lai@newegg.com,jack.c.chen@newegg.com,ted.c.yeh@newegg.com,smoke.c.jan@newegg.com"/> 
  <add key="SaveToExcel"  value="\\\\127.0.0.1\\d$\\TWSellerPortal\\"/>  
  <add key="ReturnExcel"  value="http://10.16.131.41:70/ToExcel/"/>-->
  <!--<add key="APIHost" value="http://127.0.0.1:71"/>-->

  <!--PP******************************************************************************************************-->
  <!--<add key="Images" value="http://localhost:98/Pic"/>-->
  <!--<add key="TWSPHost" value="http://sellerportal.newegg.com.tw"/>        
  <add key="Images" value="http://images.newegg.com.tw"/>                               
  <add key="LogoImage" value="http://127.0.0.1:98"/>                            
  <add key="WebSite" value="http://www.newegg.com.tw"/>
  <add key="ItemCreateionUpload" value="http://sellerportal.newegg.com.tw/upload/"/>
  <add key="APIFileUploadFolderLocation" value="\\\\127.0.0.1\\d$\\TWSellerPortal\\Upload\\ProductContent\\"/>
  <add key="APIFileUploadURL" value="http://sellerportal.newegg.com.tw/Upload/ProductContent/"/> 
  <add key="IPPIP" value="http://172.22.48.131"/>                          
  <add key="AdminEmail"  value="jc6g@newegg.com, il26@newegg.com"/>  
  <add key="SaveToExcel"  value="\\\\127.0.0.1\\d$\\TWSellerPortal\\"/>  
  <add key="ReturnExcel"  value="http://172.22.55.134:98/ToExcel/"/>-->
  <!--<add key="APIHost" value="http://127.0.0.1:98"/>-->
  
  <!--PRD******************************************************************************************************-->
  <!--<add key="Images" value="http://localhost:71/Pic"/>-->
  <!--<add key="TWSPHost" value="http://sellerportal.newegg.com.tw"/>        
  <add key="Images" value="http://images.newegg.com.tw"/>                               
  <add key="LogoImage" value="http://127.0.0.1:71"/>                            
  <add key="WebSite" value="http://www.newegg.com.tw"/>
  <add key="ItemCreateionUpload" value="http://sellerportal.newegg.com.tw/upload/"/>
  <add key="APIFileUploadFolderLocation" value="\\\\127.0.0.1\\d$\\TWSellerPortal\\Upload\\ProductContent\\"/>
  <add key="APIFileUploadURL" value="http://sellerportal.newegg.com.tw/Upload/ProductContent/"/> 
  <add key="IPPIP" value="http://172.22.48.131"/>                          
  <add key="AdminEmail"  value="Teresa.S.Li@newegg.com, Sora.H.Weng@newegg.com"/>  
  <add key="SaveToExcel"  value="\\\\127.0.0.1\\d$\\TWSellerPortal\\"/>  
  <add key="ReturnExcel"  value="http://sellerportal.newegg.com.tw/ToExcel/"/>-->
  <!--<add key="APIHost" value="http://127.0.0.1:71"/>-->

  <!-- Azure Storage Start-->
  <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=necdn;AccountKey=OGOcquNs7WdcN5YhUkEohawYEf6CDQrIZ5cX14eY2foDhr29kxPtZRSxfVXk5KvmbIE+1/Batp8dl3yZj6cwkg==" />
  <add key="ImgContainer" value="www"/>
  <add key="ImgLocal" value="pic\pic"/>
  <!--寄信的 service start-->
  <!--<add key="SentMailService" value="st01smtp01.buyabs.corp"/>-->
  <!--<add key="SentMailService" value="172.22.5.81"/>-->
  <add key="SentMailService" value="172.22.5.55"/>
  <add key ="SentMailPort" value="25"/>
  <!--寄信的 service end-->

  <!-- Azure CDN -->
  <add key="AADTenantDomain" value="NEAdmoutlook.onmicrosoft.com"/>
  <add key="AADClientId" value="32c3c061-1fa4-466a-9db9-cee26770268a"/>
  <add key="AADServiceAccountUserName" value="necdn@NEAdmoutlook.onmicrosoft.com"/>
  <add key="AADServiceAccountPassword" value="!QAZ1qaz"/>
  <add key="AADSubscriptionId" value="dbc4f694-90d4-4b67-be96-bacd676e0af0"/>
  <add key="AADResourceGroupsName" value="NEWEGG"/>
  <add key="AADCDNProfileName" value="NECDN"/>
  <add key="AADCDNEndpointsName" value="negcdn"/>
  <!-- End of Azure CDN -->

</appSettings>
