USE [TWSQLDB]
GO
/****** Object:  Table [dbo].[salesorderitem]    Script Date: 2016/08/18 14:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[salesorderitem](
	[Code] [varchar](15) NOT NULL,
	[SalesorderCode] [varchar](15) NOT NULL,
	[ItemID] [int] NOT NULL,
	[ItemlistID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductlistID] [int] NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Priceinst] [decimal](10, 2) NULL,
	[Qty] [int] NOT NULL,
	[Pricecoupon] [decimal](10, 2) NULL,
	[RedmtkOut] [int] NULL,
	[RedmBLN] [int] NULL,
	[Redmfdbck] [int] NULL,
	[Status] [int] NULL,
	[StatusNote] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[Attribs] [nvarchar](50) NULL,
	[Note] [nvarchar](50) NULL,
	[WftkOut] [int] NULL,
	[WfBLN] [int] NULL,
	[AdjPrice] [int] NULL,
	[ActID] [nvarchar](50) NULL,
	[ActtkOut] [int] NULL,
	[ProdcutCostID] [int] NULL,
	[CreateUser] [nvarchar](50) NULL,
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_orderitem_orderitem_createdate]  DEFAULT (getdate()),
	[Updated] [int] NULL CONSTRAINT [DF_orderitem_orderitem_updated]  DEFAULT ((0)),
	[UpdateDate] [datetime] NULL,
	[UpdateUser] [nvarchar](50) NULL,
	[ShippingExpense] [decimal](10, 2) NULL CONSTRAINT [DF_salesorderitem_salesorderitem_shippingexpense]  DEFAULT ((0.00)),
	[ServiceExpense] [decimal](10, 2) NULL,
	[Tax] [decimal](10, 2) NULL,
	[WarehouseID] [int] NULL,
	[Coupons] [nvarchar](20) NULL,
	[ItemPriceSum] [decimal](10, 2) NULL,
	[DisplayPrice] [decimal](10, 2) NULL,
	[DiscountPrice] [decimal](10, 2) NULL,
	[InstallmentFee] [decimal](10, 2) NOT NULL DEFAULT ((0)),
	[IsNew] [char](1) NULL,
	[ApportionedAmount] [decimal](10, 2) NOT NULL DEFAULT ((0)),
	[SupplyShippingCharge] [decimal](10, 2) NULL,
	[itemCategory] [int] NULL,
 CONSTRAINT [PK_salesorderitem_code] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
