USE [TWSQLDB]
GO
/****** Object:  Table [dbo].[categoryfromus]    Script Date: 2016/08/18 14:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoryfromus](
	[F1] [nvarchar](50) NULL,
	[F2] [nvarchar](255) NULL
) ON [PRIMARY]

GO
