USE [TWSQLDB]
GO
/****** Object:  Table [dbo].[blockproduct]    Script Date: 2016/08/18 14:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[blockproduct](
	[SN] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Action] [varchar](50) NOT NULL,
	[InDate] [datetime] NOT NULL,
 CONSTRAINT [PK_updateblocklist] PRIMARY KEY CLUSTERED 
(
	[SN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
