<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TWNewEgg.ECWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings configSource="Configurations\AppSettings.Config" />
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=10.16.131.43;Database=TWSQLDB_Prd20150701;User ID=twec;Password=ABS301egg" />
    <add name="BackendConnection" providerName="System.Data.SqlClient" connectionString="Data Source=10.16.131.43;Database=TWBACKENDDB_Prd20150701;User ID=twec;Password=ABS301egg" />
    <add name="TWSqlDBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=10.16.131.43;Database=TWSQLDB_Prd20150701;User ID=twec;Password=ABS301egg" />
    <add name="TWBackendDBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=10.16.131.43;Database=TWBACKENDDB_Prd20150701;User ID=twec;Password=ABS301egg" />-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=10.16.131.70;Database=TWSQLDB_PRD;User ID=TWSQLDbo;Password=SQLDbo@TW" />
    <add name="BackendConnection" providerName="System.Data.SqlClient" connectionString="Data Source=10.16.131.70;Database=TWBACKENDDB_PRD;User ID=TWSQLDbo;Password=SQLDbo@TW" />
    <add name="TWSqlDBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=10.16.131.70;Database=TWSQLDB_PRD;User ID=TWSQLDbo;Password=SQLDbo@TW" />
    <add name="TWBackendDBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=10.16.131.70;Database=TWBACKENDDB_PRD;User ID=TWSQLDbo;Password=SQLDbo@TW" />
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=ST02QDBS01\ST02GQCDBS01;Database=TWSQLDB;User ID=TWSQLDBo;Password=SQLDbo@TW" />
    <add name="BackendConnection" providerName="System.Data.SqlClient" connectionString="Data Source=ST02QDBS01\ST02GQCDBS01;Database=TWBACKENDDB;User ID=TWSQLDBo;Password=SQLDbo@TW" />
    <add name="TWSqlDBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=ST02QDBS01\ST02GQCDBS01;Database=TWSQLDB;User ID=TWSQLDBo;Password=SQLDbo@TW" />
    <add name="TWBackendDBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=ST02QDBS01\ST02GQCDBS01;Database=TWBACKENDDB;User ID=TWSQLDBo;Password=SQLDbo@TW" />-->
    <add name="TWSQLDBEntities" connectionString="metadata=res://*/Models.Item.ItemWarrantyBlackList.csdl|res://*/Models.Item.ItemWarrantyBlackList.ssdl|res://*/Models.Item.ItemWarrantyBlackList.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ST02QDBS01\ST02GQCDBS01;initial catalog=TWSQLDB;user id=TWSQLDBo;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/MyAccount/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <!-- stproxy -->
      <!-- s1firewall -->
      <!-- <proxy proxyaddress="http://s1firewall:8080" bypassonlocal="True" usesystemdefault="True" /> -->
    </defaultProxy>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <TWNewEgg.ECWeb.Properties.Settings>
      <setting name="TWNewEgg_ECWeb_AllPayCredic_creditcard" serializeAs="String">
        <value>https://pay.allpay.com.tw/merchantapi/creditcard.asmx</value>
      </setting>
    </TWNewEgg.ECWeb.Properties.Settings>
  </applicationSettings>
</configuration>