<header class="simpleHeaderArea">
    <div class="simpleHead">
        <p>
            <a href="/"><img src="/Themes/img/Common/simpleLogo.png" class="logo" /></a>
            @*<img class="titWord" src="/Themes/img/Common/simpleTitWord.jpg" />*@
        </p>
    </div>
</header>
