<div class="SkimItemBox">
    <div class="title"></div>
    <div class="items">
        <div class="left"></div>
        <div class="right"></div>
        <ul>
            <li class="productItem">
                <div class="pic"><img src="/Themes/img/item2.jpg"></div>
                <p class="itemName">紅色全皮防刮全皮橢圓是牌手提包</p>
                <p class="price">
                    <span class="org">$125544</span>
                    <span class="NTprice">$125,544</span>
                </p>
            </li>
        </ul>
    </div>
</div>

