@{
    ViewBag.Title = "Taiwan Newegg EC Service";
}
<style>
    .title {
        text-align: center;
        margin: 30px;
    }
</style>
<div class="title">
    <h1>Taiwan Newegg  EC Service is working now...</h1>
</div>
<hr />
<div class="title">
    <h2>
        @DateTime.Now
    </h2>
</div>

