@{
	string _SecureNewegg = System.Configuration.ConfigurationManager.AppSettings["SecureNewegg"]; 
}

<html>
<body>
<style type="text/css">
body,td,th {font-family: "微軟正黑體";}
h1 {font-size: 22px;}
.content { padding-bottom:30px; border-bottom: dotted 2px rgba(144,144,144,1.00);}
.content span {font-size: 18px; margin-left:10px;}
p {font-size: 16px; margin-left:50px; line-height:30px;}
h2 {font-size: 15px;}
.explanation li { font-size:14px; margin-bottom:5px; list-style:decimal;}
</style>
<div class="content">
    @*<h1>【新蛋全球生活網】What a Wonderful World 敲開美好新世界_得獎通知</h1>*@
    <span>新蛋會員，您好</span>
    <p>感謝您參加【What a Wonderful World敲開美好新世界】活動</p>
    <p>恭喜您獲得 @Model.AwardName</p>
    <p>活動贈品將於活動結束後二週內進行寄發，得獎者須完整填具會員資料含姓名、電話、地址以確保獲獎權益。會員資料請於「會員中心」的「資料維護」>「會員基本資料」中進行維護。</p>
    <p>再次感謝您對新蛋全球生活網的支持，祝您購物愉快，謝謝！</p>
</div>

<div class="explanation">
    <h2>注意事項與規則：</h2>
    <ul>
        <li>活動方式：點擊活動頁扭蛋機中的「敲開美好新世界 搶先入會拿好禮」即可進行扭蛋，活動獎項電腦程式隨機抽出。得獎者須完整填具會員資料含姓名、電話、地址以確保獲獎權益。會員資料請於「會員中心」的「資料維護」>「會員基本資料」中進行維護。</li>
        <li>活動期間內(2015/07/06– 2015/07/31)註冊成功為新蛋全球生活網會員，即可獲得一次扭蛋機會。每個帳號限參加一次。</li>
        <li>活動期間2015/07/06– 2015/07/31，參加本活動有機會得新蛋購物折價券，新蛋購物折價券(面額NTD 300 )</li>
        <li>購買商品之單價須為2,000元(含)以上，且單次全數使用完畢，每件商品限使用一張折價券，專案活動及優惠方案（如其他折扣/滿額折/折價券/回饋金）不可合併使用，會員若同時擁有兩種優惠，只能擇一進行折抵。（如該活動已有滿額折，則折價券/回饋金皆無法使用）</li>
        <li>折價券有效使用期限 2015/08/01 – 2015/09/30  23:59止。</li>
        <li>得獎贈品將於活動結束後二週內進行寄發，獎項恕無法折現或兌換等值商品。</li>
        <li>折價券使用方式：在結帳頁面點擊「使用折價券」後，選擇「折價券」，系統將自動扣除折價券之金額。折價券之使用方式與注意事項，請參閱【會員中心><a href= "@_SecureNewegg/MyService/Coupon" target="_blank">折價券使用辦法</a>】</li>
        <li>折價券僅限本活動註冊會員使用，依【折價券使用辦法】於有效期限內（逾期失效，恕不補發），在新蛋全球生活網消費時使用，恕無法轉讓或合併，部分活動或商品無法折抵使用，亦無法折換為現金、找零或交換其他商品及折換其他贈品，且無法抵扣物流、安裝、服務、稅賦等費用。</li>
        <li>若使用折價券後取消訂單或退貨，恕不回補折價券。</li>
        <li>票券使用規則,每張附贈小爆米花+中杯可樂組合70元券(原價130元)。適用於全台北國賓影城及國賓數位大戲院。請至售票窗口劃位，並以現金補差額至該影城公告之團體票價，方可兌換電影入場券一張。本券不可轉賣掛失，亦無法兌換現金。本券塗改、毀損或條碼無法辨識則視同無效。本券不適用於網路訂票。票券售出，恕不退換。本券未加蓋國賓影城之鋼印與售出日期者無效。本券不適用於任何首映會或特別活動。本票券售出之金額，已存入元大商業銀行之信託專戶，專款專用。信託期間自售出日期起算一年。本票券僅限用於台北地區。</li>
        <li>餐券不得兌換現金或找零。餐券不得與其他優惠專案共同使用。餐券請於使用日期內使用。逾期則視同作廢，並不得折換現金。有關餐券使用未盡事宜，請依據實際票券規定辦理。</li>
        <li>本活動獎項以公佈於本網站上的資料為準，如遇不可抗拒之因素，主辦單位保留更換其他等值獎項之權利；而本活動如因不可抗力之特殊原因無法執行時，主辦單位有權決定取消、終止、修改或暫停本活動。</li>
        <li>為公平起見，同一手機號碼及地址，僅具一次得獎資格。</li>
        <li>為公平起見，新蛋集團之員工及員工家屬，不得參加此活動，如有違反情事，將取消其得獎資格。</li>
        <li>新蛋全球生活網保留本活動修改與解釋之權利，其他注意事項請詳見各活動頁及會員中心等說明，若有異動及修改，將在本網站上公布，恕不另行個別通知。</li>
    </ul>
</div>
</body>
</html>
