@{
    ViewBag.Title = "免責聲明" + "-新蛋全球生活網";
}

@section addToFloatAccount {

}

@Styles.Render("~/content/css/ElementLibrary_Layout")
@Styles.Render("~/content/css/ElementLibrary")
@Styles.Render("~/content/css/Policies")
<div class="bread">
    <a href="/">首頁</a>>
    <span>免責聲明</span>
</div>
<div class="clear"></div>

<div>

<h4 class="Boldtext"><i class="icon Disclaimer"></i>免責聲明</h4>
<div class="Provision">
    <p>新蛋全球生活網(Newegg.com.tw；以下簡稱新蛋) 提供所屬會員網上購物及相關中介服務平台，對於任何包含、經由及下載任何與本網站相關的網上購物及相關服務 (以下簡稱「服務」) ，以及產品資料、網站內容或廣告 (以下簡稱「資訊」) 之準確性、可靠性及完整性，本網站不作任何明示或默示之聲明或保證。</p>
    <ul>
        <li class="Point">瀏覽本網站時，使用者或會員對於「服務」或「資訊」可能所洐生之風險，均需自行承擔。本網站對其衍生性損失概不負責，其包括：不保證本網站或相關服務之軟體、工具或伺服器並無任何電腦病毒或故障。</li>
        <li class="Point">任何由於電腦病毒侵入或發作、因政府管制而造成的暫時性關閉等影響網路正常經營之不可抗力而造成的資料毀損、丟失、被盜用或被竄改等與本網站無關。</li>
        <li class="Point">本網站就各項服務，不負任何明示或默示之擔保責任。本網站不保證各項服務之穩定、安全、無誤、及不中斷；用戶明示承擔使用本服務之所有風險及可能發生之任何損害。</li>
        <li class="Point">對於使用者或會員透過本網站，刊登或發布虛假、違法資訊、侵害他人權益及欺騙等行為者，純屬用戶個人行為，本網站對此而產生的一切糾紛不負任何責任！</li>
        <li class="Point">本網站有權在任何時候修改「免責聲明」，而毋須另行發出通知。本網站亦不會就服務之任何修改、暫停或中斷對使用者或會員及任何第三方承擔責任。</li>
    </ul>
</div>
    
</div>