@{
    ViewBag.Title = "NewEggFlash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/content/css/base.0000.css")
@Styles.Render("~/content/css/NewEggFlash.css")

<h2>NewEggFlash</h2>

@*↓↓↓↓↓↓閃購區外包覆↓↓↓↓↓↓*@
<div class="FlashArea">

@*↓↓↓↓↓↓閃購區主題框↓↓↓↓↓↓*@
    <div class="flashTitle">
        <img src="~/Themes/img/Flash.jpg" alt="" style="width:325px;height:428px;">
    </div>

@*↓↓↓↓↓↓單項產品方格↓↓↓↓↓↓*@
    <div class="box">
        <div class="discount"><p><span>5</span><br/>折</p></div>@*折數*@
        <div class="countdown"><div class="icon"></div>03:58:30</div>@*倒數*@
        <div class="pic"><img src="~/Themes/img/ShoppingCart/item.jpg" alt="" style="width:207px;height:326px;"></div>@*產品圖*@
        <div class="special"></div>@*獨家、同步*@
        <div class="itemName">商品名稱</div>@*商品名稱*@
        <div class="explanation">@*促銷詞、產品說明*@
            <p>限時優惠，錯過不再！</p>
            <ul>
                <li>美感質佳亮色防刮全皮</li>
                <li>背面設一小開口袋便利擺放常用小物</li>
            </ul>
        </div>
        <div class="status"><p>開賣中</p></div>@*販售狀態：開賣、結束*@
        <div class="market"><p>$<span>125,544</span></p></div>@*市價*@
        <br style="clear:both;"/>
        <div class="remain"><p>剩下<span>10</span>個</p></div>@*剩餘數量*@
        <div class="price"><p>$<span>125,544</span></p></div>@*特價*@
        <br style="clear:both;"/>
        <div class="soldOut"><img src="" alt=""></div>@*已售完*@
    </div>
@*↑↑↑↑↑↑↑單項產品方格↑↑↑↑↑↑*@

@*↓↓↓↓↓↓單項產品方格↓↓↓↓↓↓*@
    <div class="box">
        <div class="discount"><p><span>5</span><br/>折</p></div>@*折數*@
        <div class="countdown"><div class="icon"></div>03:58:30</div>@*倒數*@
        <div class="pic"><img src="~/Themes/img/ShoppingCart/item.jpg" alt="" style="width:207px;height:326px;"></div>@*產品圖*@
        <div class="special"></div>@*獨家、同步*@
        <div class="itemName">商品名稱</div>@*商品名稱*@
        <div class="explanation">@*促銷詞、產品說明*@
            <p>限時優惠，錯過不再！</p>
            <ul>
                <li>美感質佳亮色防刮全皮</li>
                <li>背面設一小開口袋便利擺放常用小物</li>
            </ul>
        </div>
        <div class="status"><p>開賣中</p></div>@*販售狀態：開賣、結束*@
        <div class="market"><p>$<span>125,544</span></p></div>@*市價*@
        <br style="clear:both;"/>
        <div class="remain"><p>剩下<span>10</span>個</p></div>@*剩餘數量*@
        <div class="price"><p>$<span>125,544</span></p></div>@*特價*@
        <br style="clear:both;"/>
        <div class="soldOut"><img src="" alt=""></div>@*已售完*@
    </div>
@*↑↑↑↑↑↑↑單項產品方格↑↑↑↑↑↑*@

@*↓↓↓↓↓↓單項產品方格↓↓↓↓↓↓*@
    <div class="box">
        <div class="discount"><p><span>5</span><br/>折</p></div>@*折數*@
        <div class="countdown"><div class="icon"></div>03:58:30</div>@*倒數*@
        <div class="pic"><img src="~/Themes/img/ShoppingCart/item.jpg" alt="" style="width:207px;height:326px;"></div>@*產品圖*@
        <div class="special"></div>@*獨家、同步*@
        <div class="itemName">商品名稱</div>@*商品名稱*@
        <div class="explanation">@*促銷詞、產品說明*@
            <p>限時優惠，錯過不再！</p>
            <ul>
                <li>美感質佳亮色防刮全皮</li>
                <li>背面設一小開口袋便利擺放常用小物</li>
            </ul>
        </div>
        <div class="status"><p>開賣中</p></div>@*販售狀態：開賣、結束*@
        <div class="market"><p>$<span>125,544</span></p></div>@*市價*@
        <br style="clear:both;"/>
        <div class="remain"><p>剩下<span>10</span>個</p></div>@*剩餘數量*@
        <div class="price"><p>$<span>125,544</span></p></div>@*特價*@
        <br style="clear:both;"/>
        <div class="soldOut"><img src="" alt=""></div>@*已售完*@
    </div>
@*↑↑↑↑↑↑↑單項產品方格↑↑↑↑↑↑*@

@*↓↓↓↓↓↓單項產品方格↓↓↓↓↓↓*@
    <div class="box">
        <div class="discount"><p><span>5</span><br/>折</p></div>@*折數*@
        <div class="countdown"><div class="icon"></div>03:58:30</div>@*倒數*@
        <div class="pic"><img src="~/Themes/img/ShoppingCart/item.jpg" alt="" style="width:207px;height:326px;"></div>@*產品圖*@
        <div class="special"></div>@*獨家、同步*@
        <div class="itemName">商品名稱</div>@*商品名稱*@
        <div class="explanation">@*促銷詞、產品說明*@
            <p>限時優惠，錯過不再！</p>
            <ul>
                <li>美感質佳亮色防刮全皮</li>
                <li>背面設一小開口袋便利擺放常用小物</li>
            </ul>
        </div>
        <div class="status"><p>開賣中</p></div>@*販售狀態：開賣、結束*@
        <div class="market"><p>$<span>125,544</span></p></div>@*市價*@
        <br style="clear:both;"/>
        <div class="remain"><p>剩下<span>10</span>個</p></div>@*剩餘數量*@
        <div class="price"><p>$<span>125,544</span></p></div>@*特價*@
        <br style="clear:both;"/>
        <div class="soldOut"><img src="" alt=""></div>@*已售完*@
    </div>
@*↑↑↑↑↑↑↑單項產品方格↑↑↑↑↑↑*@

@*↓↓↓↓↓↓單項產品方格↓↓↓↓↓↓*@
    <div class="box">
        <div class="discount"><p><span>5</span><br/>折</p></div>@*折數*@
        <div class="countdown"><div class="icon"></div>03:58:30</div>@*倒數*@
        <div class="pic"><img src="~/Themes/img/ShoppingCart/item.jpg" alt="" style="width:207px;height:326px;"></div>@*產品圖*@
        <div class="special"></div>@*獨家、同步*@
        <div class="itemName">商品名稱</div>@*商品名稱*@
        <div class="explanation">@*促銷詞、產品說明*@
            <p>限時優惠，錯過不再！</p>
            <ul>
                <li>美感質佳亮色防刮全皮</li>
                <li>背面設一小開口袋便利擺放常用小物</li>
            </ul>
        </div>
        <div class="status"><p>開賣中</p></div>@*販售狀態：開賣、結束*@
        <div class="market"><p>$<span>125,544</span></p></div>@*市價*@
        <br style="clear:both;"/>
        <div class="remain"><p>剩下<span>10</span>個</p></div>@*剩餘數量*@
        <div class="price"><p>$<span>125,544</span></p></div>@*特價*@
        <br style="clear:both;"/>
        <div class="soldOut"><img src="" alt=""></div>@*已售完*@
    </div>
@*↑↑↑↑↑↑↑單項產品方格↑↑↑↑↑↑*@
    <br style="clear:both;"/>
</div>