<div id="header">
    <div class="header">
        <div class="navs">
            <div class="btn btnMainMenu"></div>
            <div class="btn btnGroup btnSearch">search</div>
            <h1>LOGO</h1>
            <div class="btn btnGroup btnAccount">
                Account
            </div>
            <div class="btn btnGroup btnShop">
                shopCart
					<span class="nums">0</span>
            </div>
        </div>
    </div>
</div>
