<?xml version="1.0"?>
<appSettings>
  <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--Image主要資料夾 Start-->
  <add key="ImgContainer" value="www"/>
  <add key="ImgLocal" value="Pic"/>
  <!--Image主要資料夾 End-->
  <!-- Azure Storage Start-->
  <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=necdn;AccountKey=OGOcquNs7WdcN5YhUkEohawYEf6CDQrIZ5cX14eY2foDhr29kxPtZRSxfVXk5KvmbIE+1/Batp8dl3yZj6cwkg==" />
  <!-- Azure Storage End-->
  <!-- Azure CDN -->
  <add key="AADTenantDomain" value="NEAdmoutlook.onmicrosoft.com"/>
  <add key="AADClientId" value="32c3c061-1fa4-466a-9db9-cee26770268a"/>
  <add key="AADServiceAccountUserName" value="necdn@NEAdmoutlook.onmicrosoft.com"/>
  <add key="AADServiceAccountPassword" value="!QAZ1qaz"/>
  <add key="AADSubscriptionId" value="dbc4f694-90d4-4b67-be96-bacd676e0af0"/>
  <add key="AADResourceGroupsName" value="NEWEGG"/>
  <add key="AADCDNProfileName" value="NECDN"/>
  <add key="AADCDNEndpointsName" value="negcdn"/>
  <!-- End of Azure CDN -->
  <!--Start Http / Https Connection Start-->
  <add key="IISEnableSSL" value="true" /> <!--what is iis enable ssl-->
  <add key="ECWebDomain" value="" /> <!--root domain name, ex: .newegg.com.tw-->
  <add key="ECWebHttpDomain" value="localhost" /> <!--domain name, ex: www.newegg.com.tw-->
  <add key="ECWebHttpPort" value="50118" /> <!--domain port, ex: 80-->
  <add key="ECWebHttpsDomain" value="localhost" /> <!--ssl domain name, ex: secure.newegg.com.tw-->
  <add key="ECWebHttpsPort" value="44302" /> <!--ssl domain port, ex: 443-->
  <!--<add key="ECWebHttpImgDomain" value="http://images.newegg.com.tw" /> --><!--img domain name, ex: images.newegg.com.tw-->
  <!--<add key="ECWebHttpImgDomain" value="https://ssl-images.newegg.com.tw" />--> <!--img domain name, ex: images.newegg.com.tw-->
  <add key="ECWebHttpImgDomain" value="https://negcdn.azureedge.net/www" />
  <add key="ECWebHttpImgPort" value="50118" /> <!--img domain port, ex: 80-->
  <!--<add key="ECWebHttpsImgDomain" value="http://images.newegg.com.tw" /> --><!--img ssl domain name, ex: ssl-images.newegg.com.tw-->
  <!--<add key="ECWebHttpsImgDomain" value="https://ssl-images.newegg.com.tw" />--> <!--img ssl domain name, ex: ssl-images.newegg.com.tw-->
  <add key="ECWebHttpsImgDomain" value="https://negcdn.azureedge.net/www" />
  <add key="ECWebHttpsImgPort" value="44302" /> <!--img ssl domain port, ex: 443-->
  <add key="ECWebMobileDomain" value="http://localhost:62608" /> <!-- 手機版的網址host, 當要跳轉到手機版頁面時使用 -->
  <!--Start Http / Https Connection Start-->
  <!--Start Require by Framework Start-->
  <add key="ServiceApiAddressConfig" value="Configurations/ServiceApiAddress.config"/>
  <add key="MethodsConfig" value="Configurations/ServiceMethods.config"/>
  <add key="ComponentsConfig" value="Configurations/ServiceComponents.config"/>
  <add key="PublicMethodsConfig" value="Configurations/PublicMethods.config"/>
  <add key="ServiceApiCacheAppSetting" value="Configurations/ServiceApiCacheAppSettings.config"/>
  <!--End Require by Framework End-->
  <!--Start Google reCaptCha Start-->
  <add key="googlereCaptcha" value="success,true"/> <!--Google reCaptCha return success message-->
  <add key="GOOGLE_SECRET_KEY" value="6LdBUgATAAAAAJ3dFuFpoKre2fZ99J4ScwUAL50s"/> <!--Google reCaptCha Secret key-->
  <!--End Google reCaptCha End-->
  <!--Start AesAccount Key Start-->
  <add key="aesippkey" value="103ggEwT"/>
  <!--End AesAccount Key End-->

  <add key="Environment" value="DEV"/>

  <!--美蛋商品數量驗證與金流啟用閥-->
  <add key="PRD_PayTypeControllerCheckItemStatusPriceStock" value="ON"/>
  <add key="PRD_PayTypeGateway" value="ON"/>
  <add key="PRD_CrediteAuth" value="ON"/>
  <add key="GQC_PayTypeControllerCheckItemStatusPriceStock" value="OFF"/>
  <add key="GQC_PayTypeGateway" value="ON"/>
  <add key="GQC_CrediteAuth" value="OFF"/>
  <add key="DEV_PayTypeControllerCheckItemStatusPriceStock" value="OFF"/>
  <add key="DEV_PayTypeGateway" value="OFF"/>
  <add key="DEV_CrediteAuth" value="OFF"/>
 
  <!--美蛋商品判斷 -->
  <add key="PRD_CheckItemStatusNeweggUSA" value="ON"/>
  <add key="PRD_CheckItemPriceNeweggUSA" value="ON"/>
  <add key="PRD_CheckStockQTYNeweggUSA" value="ON"/>
  <add key="GQC_CheckItemStatusNeweggUSA" value="OFF"/>
  <add key="GQC_CheckItemPriceNeweggUSA" value="OFF"/>
  <add key="GQC_CheckStockQtyNeweggUSA" value="OFF"/>
  <add key="DEV_CheckItemStatusNeweggUSA" value="OFF"/>
  <add key="DEV_CheckItemPriceNeweggUSA" value="ON"/>
  <add key="DEV_CheckStockQTYNeweggUSA" value="ON"/>

  <!--給予View MailTemplate使用-->
  <add key="SecureNewegg" value="https://secure.newegg.com.tw" />

  <!--Older versions required parameters-->
  <add key="Images" value="http://images.newegg.com.tw" />
  <add key="ImageServerUrl" value="http://images.newegg.com.tw" />
  <add key="ECWeb_SMTP" value="st01smtp01.buyabs.corp"/>
  <!--前台SMTP設定-->
  <!--密件寄送名單-->
  <add key="ECWeb_SendPOFailNoticeMail" value="Steven.s.chen@newegg.com, Yellow.C.Huang@newegg.com, Bill.S.Wu@newegg.com, Rex.T.Chen@newegg.com, Pin.Y.Tsai@newegg.com, Alan.H.Hsu@newegg.com, Gretchen.H.Yeh@newegg.com, Bencent.K.Huang@newegg.com, Anita.Y.Wu@newegg.com, CF.C.Toh@newegg.com, Chi.C.Lee@newegg.com, Jessie.Y.Tseng@newegg.com, Jasmine.C.Hsieh@newegg.com, Bill.C.Hsu@newegg.com, Kelly.M.Chen@newegg.com, Rhett.W.Sung@newegg.com, service@newegg.com.tw"/>
  <!--<add key="ECWeb_SendPOFailNoticeMail" value="Rex.T.Chen@newegg.com"/>-->
  <!--<add key="ECWeb_ServiceAccount" value="service@newegg.com.tw"/>-->
  <!--內部Service Account-->
  <add key="ECWeb_ServiceAccount" value="service@newegg.com.tw, hc46@newegg.com, wc2x@newegg.com, marketplace@newegg.com.tw"/>
  <!--Older versions required parameters-->
  <!--可用便利商店Deliver.Code(新竹貨運宅配:801，HiLife店配:811，7-11店配:812，全家店配:812，OK店配:814)-->
  <add key="StoreDeliverCodes" value="801, 811"/>
  <!--收件人配送地址縣市街道欄位限制-->
  <add key="CityStreetKeywordsRule" value="金門縣,金门县,澎湖縣,澎湖县,連江縣,连江县,馬祖縣,马祖县,琉球鄉,琉球乡,綠島鄉,绿岛乡,蘭嶼鄉,兰屿乡,東沙群島,南沙群島,东沙群岛,南沙群岛,釣魚臺,钓鱼台"/>
  <!--滿額贈折價狀態設定，是否啟用正式機狀態的開關閥，正式機on、測試機off-->
  <add key="PromotionGiftStatusTurnON" value="on"/>
  <!--使否啟用遞迴計算折價金額，使用on、不使用off-->
  <add key="RecursiveCalculation" value="off"/>
  <!--白名單轉黑名單，使用on、不使用off-->
  <add key="Discoloration" value="on"/>
  <!--買一送一活動PromotionGiftBasic.ID-->
  <add key="TwoForOneOffer" value=""/>
  <!--使用Coupon-->
  <add key="CouponFunction" value="ON"/>
  <!--信用卡一次付清選擇銀行-->
  <add key="CreditCard_lumpsumcash_flowBank" value="81"/>
  <!--12期零利率特定商品ItemID-->
  <add key="PayConditionByItem" value=""/>
  <!---12期零利率特定商家SellerID(目前暫時只有華克)-->
  <add key="PayConditionBySeller" value=""/>
  <!--華克商品但不提供12期零利率-->
  <add key="PayConditionByItemWithout12" value=""/>
  <!--<add key="PayConditionByItemWithout12" value="91316, 91318, 91321, 91323, 91324, 81841, 81842, 81843, 81867, 81844, 81846, 81847, 81851"/>-->
  <!--特定商家統一編號不可使用-->
  <add key="InvoidException" value="27749036,53527067,01419904,25180269"/>
  <!--運費重量比例設定-->
  <add key="ProductWeightBelow5KG" value="1"/>
  <add key="ProductWeightOver5KG" value="1"/>
  <add key="DEV_NationalTransportFeeProductID" value="13189"/>
  <add key="DEV_NeweggAPISalesOrderQuery" value="http://api.newegg.org/salesorder/v1/so"/>
  <add key="DEV_NeweggAPICreateSOServiceKey" value=""/>
  <add key="DEV_NeweggAPICreateSOService" value="http://10.1.24.151:2019/Index.svc"/>
  <add key="DEV_JieMaiAPICreateSOServiceKey" value="73b61435-9688-4a5e-aa67-558f560fe256"/>
  <add key="DEV_JieMaiAPICreateSOService" value="http://sandbox.jiemai.com/services/JieMaiSlService"/>
  <add key="DEV_JieMaiAPIQueryService" value="http://sandbox.jiemai.com/services/UsJieMaiSlService"/>
  <add key="DEV_ServiceFeeProductID" value="13190"/>
  <add key="DEV_IPP" value="http://10.16.131.42:81"/>
  <add key="ECSSLDomain" value="localhost" />

  <!--上到有Domain的機器必填ROOT Domain, JS cookie再用的, ex:.newegg.com.tw；無Domain則不填，保持valeu=""-->
  <add key="ECWeb_MainDomain" value=".newegg.com.tw"/>
  <!--測試Domain-->
  <add key="DEV_MainDomain" value=""/>

  <!--PRD-->
  <add key="PRD_NeweggAPISalesOrderQuery" value="http://api.newegg.org/salesorder/v1/so"/>
  <add key="PRD_NeweggAPICreateSOServiceKey" value="d4e6d018dc0adac5c4a4175cc2d663e8"/>
  <add key="PRD_NeweggAPICreateSOService" value="https://api.newegg.com/ECSOAPI/Newegg.Website.WCFService.CreateSOService/Index.svc"/>
  <add key="PRD_JieMaiAPICreateSOServiceKey" value="a609b3f3-0e75-45cb-83c5-fd8bbfec7e11"/>
  <add key="PRD_JieMaiAPICreateSOService" value="http://api.jiemai.com/services/JieMaiSlService"/>
  <add key="PRD_JieMaiAPIQueryService" value="http://query.jiemai.com/services/UsJieMaiSlService"/>
  <add key="PRD_NationalTransportFeeProductID" value="13189"/>
  <add key="PRD_ServiceFeeProductID" value="13190"/>
  <add key="PRD_IPP" value="http://172.22.48.131"/>
  <!--PRD End-->

  <!--歐付寶金流系統紀錄-->
  <add key="AllPayLogFunction" value="OFF"/>
  <!-- AllPay -->
  <add key="CONST_AllPay_SearchWebServic" value="http://payment-stage.allpay.com.tw/api/purchase/allpay.aspx?op=QueryTradeInfo"/>
  <add key="CONST_AllPay_SearchPostUrl" value="http://payment-stage.allpay.com.tw/Cashier/QueryTradeInfo" />
  <add key="CONST_AllPay_CreateOrderPostUrl" value="http://payment-stage.allpay.com.tw/Cashier/AioCheckOut"/>
  <add key="CONST_AllPay_MerchantId" value="2000132"/>
  <add key="PRD_MerchantID" value="1100963"/>
  <add key="PRD_HashKey" value="keeAeOnMByLXGwuf"/>
  <add key="PRD_HashIV" value="Vm7k0bd7B2dLwWjx"/>
  <add key="PRD_ServiceURL" value="https://payment.allpay.com.tw/Cashier/AioCheckOut" />
  <add key="dev_MerchantID" value="2000132"/>
  <add key="dev_HashKey" value="5294y06JbISpM5x9"/>
  <add key="dev_HashIV" value="v77hoKGq4kWxNNIS"/>
  <add key="dev_ServiceURL" value="http://vendor-stage.allpay.com.tw/Cashier/AioCheckOut" />
  <add key="CONST_AllPay_Normal_HashKey" value="ejCk326UnaZWKisg"/>
  <add key="CONST_AllPay_Normal_HashIV" value="q9jcZX8Ib9LM8wYk"/>
  <add key="CONST_AllPay_ReturnCheckUrl" value="https://localhost:44300/PayType/AllPay_ReturnMessage"/>
  <add key="CONST_AllPay_ReturnUrl" value="https://localhost:44300/PayType/AllPay_ReturnMessage"/>
  <add key="CONST_NewAllPay_MerchantId" value="2000132"/>
  <add key="CONST_NewAllPay_All_In_One_HashKey" value="5294y06JbISpM5x9"/>
  <add key="CONST_NewAllPay_All_In_One_HashIV" value="v77hoKGq4kWxNNIS"/>
  <add key="CONST_NewAllPay_Normal_HashKey" value="ejCk326UnaZWKisg"/>
  <add key="CONST_NewAllPay_Normal_HashIV" value="q9jcZX8Ib9LM8wYk"/>
  <add key="CONST_NewAllPay_StartDate" value="2015-4-16 00:00:00"/>
  <add key="ServiceURL" value="https://payment.allpay.com.tw/Cashier/AioCheckOut" />
  <add key="MerchantID" value="1100963" />
  <add key="HashKey" value="keeAeOnMByLXGwuf" />
  <add key="HashIV" value="Vm7k0bd7B2dLwWjx" />
  <add key="AllPay_ReturnUrl" value="https://secure.newegg.com.tw/allpay/PaymentCheckOutFeedback"/>
  <add key="paymentInfoUrl" value="https://secure.newegg.com.tw/allpay/ATMPaymentInfo"/>
  <add key="clientRedirectUrl" value="https://secure.newegg.com.tw/allpay/ATMClientPaymentInfo"/>
  <!-- end of AllPay -->

  <!--allpay_Normal
  <add key="CONST_AllPay_SearchWebServic" value="https://pay.allpay.com.tw/merchantapi/creditcard.asmx?op=CreateTrade"/>
  <add key="CONST_AllPay_SearchPostUrl" value="https://payment.allpay.com.tw/Cashier/QueryTradeInfo" />
  <add key="CONST_AllPay_CreateOrderPostUrl" value="https://payment.allpay.com.tw/Cashier/AioCheckOut"/>
  <add key="CONST_AllPay_MerchantId" value="1033127"/>
  <add key="CONST_AllPay_All_In_One_HashKey" value="dOflheLV5BSisHms"/>
  <add key="CONST_AllPay_All_In_One_HashIV" value="uSqnD9h1WpuIrErt"/>
  <add key="CONST_AllPay_Normal_HashKey" value="R9sIu2LbrcC2XAYe"/>
  <add key="CONST_AllPay_Normal_HashIV" value="GrIOrOToIzhgbBmA"/>
  <add key="CONST_AllPay_ReturnCheckUrl" value="https://localhost:44300/PayType/AllPay_ReturnMessage"/>
  <add key="CONST_AllPay_ReturnUrl" value="https://localhost:44300/PayType/AllPay_ReturnMessage"/>
  <add key="CONST_NewAllPay_MerchantId" value="1100963"/>
  <add key="CONST_NewAllPay_All_In_One_HashKey" value="keeAeOnMByLXGwuf"/>
  <add key="CONST_NewAllPay_All_In_One_HashIV" value="Vm7k0bd7B2dLwWjx"/>
  <add key="CONST_NewAllPay_Normal_HashKey" value="GzjvWgzuDdwgIsuu"/>
  <add key="CONST_NewAllPay_Normal_HashIV" value="I5iSMXYZZRAyJbxk"/>
  <add key="CONST_NewAllPay_StartDate" value="2015-4-16 00:00:00"/>
  -->
  
  <!--SmtpServer-->

 <!-- <add key="PRD_SmtpServer" value="smtp.uranus.corp"/>  -->
  <add key="PRD_SmtpServer" value="172.22.5.81"/>
  <add key="GQC_SmtpServer" value="st01smtp01.buyabs.corp"/>
  <add key="DEV_SmtpServer" value="st01smtp01.buyabs.corp"/>

  <add key="ChinatrustFeedback" value="https://202.133.245.183"/>

  <add key="RestServiceConfigFile" value="Configurations/RestServices.config" />
  <!--美蛋API-->
  <add key="PRD_QueryPriceStockProvider" value="0"/>
  <add key="PRD_NeweggAPIAppKey" value="2d84f3680d8db098ea6cdd704ad6bc4b"/>
  <add key="PRD_NeweggAPIToken" value="cbe2ba33ebaffd03008eaff19fad271b"/>
  <add key="PRD_NeweggAPIQ4S" value="http://apis.newegg.org/Q4SService/Q4sService.svc/QueryRawInventoryByItems?bizunit=USA"/>
  <add key="PRD_PricingInfo" value="http://apis.newegg.org/pricing/v1/item/listinginfo?ItemNumbers="/>
  <add key="GQC_QueryPriceStockProvider" value="0"/>
  <add key="GQC_NeweggAPIAppKey" value=""/>
  <add key="GQC_NeweggAPIToken" value=""/>
  <add key="GQC_NeweggAPIQ4S" value="http://10.1.24.151:89/Q4sService.svc/QueryRawInventoryByItems?bizunit=USA"/>
  <add key="GQC_PricingInfo" value="http://apis.newegg.org/pricing/v1/item/listinginfo?ItemNumbers="/>
  <add key="DEV_QueryPriceStockProvider" value="0"/>
  <add key="DEV_NeweggAPIAppKey" value=""/>
  <add key="DEV_NeweggAPIToken" value=""/>
  <add key="DEV_NeweggAPIQ4S" value="http://10.16.50.86:89/Q4sService.svc/QueryRawInventoryByItems?bizunit=USA"/>
  <add key="DEV_PricingInfo" value="http://apis.newegg.org/pricing/v1/item/listinginfo?ItemNumbers="/>

  <!-- Hinet簡訊 -->
  <add key="HinetAccount" value="17439"/>
  <add key="HinetPassword" value="17439"/>
  <add key="FromAddress" value="0911517439"/>
  <!--是否為付費電話-->
  <add key="PayMoneyPhoneNumber" value="0962, 0948, 0945, 0946, 0951, 0941, 0940, 0949, 0947, 0965"/>

  <!-- ****** Hitrust Bank Arguments ****** -->
  <add key="Hitrust_UpdateURLPage" value="/Paytype/Hitrust_ReturnMessage"/>
  <!-- Hitrust Normal BankArguments -->
  <add key="Hitrust_SerConfigPath" value="D:\\Payment\\hitrust"/>
  <add key="Hitrust_MerConfigPath_CredicOnce" value="D:\\Payment\\hitrust\\30081"/>
  <add key="Hitrust_MerConfigPath_Installments" value="D:\\Payment\\hitrust\\30082"/>
  <add key="Hitrust_MerId_CredicOnce" value="30081"/>
  <add key="Hitrust_MerId_Installments" value="30082"/>
  <!-- Hitrust 花旗新帳號-->
  <add key="Hitrust_SerConfigPath_NewLife" value="D:\\Payment\\hitrust"/>
  <add key="Hitrust_MerConfigPath_CredicOnce_NewLife" value="D:\\Payment\\hitrust\\30081"/>
  <add key="Hitrust_MerConfigPath_Installments_NewLife" value="D:\\Payment\\hitrust\\30082"/>
  <add key="Hitrust_MerId_CredicOnce_NewLife" value="30081"/>
  <add key="Hitrust_MerId_Installments_NewLife" value="30082"/>
  <add key ="Hitrust_NewLifeBegin" value="2015/04/01 00:00:00"/>
  <!-- Hitrust Test
  <add key="Hitrust_SerConfigPath" value="D:\\Payment\\hitrust"/>
  <add key="Hitrust_MerConfigPath" value="D:\\Payment\\hitrust"/>
  <add key="Hitrust_MerId_CredicOnce" value="61138"/>
  <add key="Hitrust_MerId_Installments" value="61138"/>-->
  <!--OTPService開關閥-->
  <add key="OTPServiceGateway" value="on"/>
  
  <!-- 新蛋全球生活網招商 Vendor/Marketplace -->
  <add key="ECWeb_MKPServiceAccount" value="marketplace@newegg.com.tw"/>
  <add key="ECWeb_PartnerNoticeMail" value="marketplace@newegg.com.tw"/>
  <add key="ECWeb_PartnerNoticeMail_TemplateUrl" value="/Views/MailTemplate/Mail_ConnectPartner.cshtml" />
  
  <add key="DisplayMaximumPage" value="100"/>
  <!-- 金流測試用 -->
  <add key="PPCredicOnceGate" value="812"/>
  <add key="OpenPaytypeForTest" value="188,186,94,89,98,93,137,159,162,167,174,175,176,192,193,194,195,196,197,177,205,206,207,208,209,210,211,212,213,214,215,200,201,202,203,222"/>

  <!-- Varnish Head XML location -->
  <add key="VarnishXMLLoc" value="Configurations/VarnishHead.config"/>

  <!--結帳流程結果頁是否寄發簡訊與訂單成功通知信-->
  <add key="Step3SendSMSAndMail" value="on"/>
  
  <!-- NCCC -->
  <add key="NCCC_MERCHANTID" value="6600800020"/>
  <add key="NCCC_TERMINALID" value="70502876"/>
  <add key="NCCC_NotifyURL" value="http://www.google.com"/>
  <add key="NCCC_domainNAME" value="nccnet-ectest.nccc.com.tw"/>
  <add key="NCCC_requestURL" value="/merchant/HPPRequest"/>
  <!-- end NCCC -->
  <add key="PageMgmtEditorList" value="bh96@newegg.com,bruce.y.huang@newegg.com,pin.y.tsai@newegg.com,Bill.S.Wu@newegg.com,Montaque.Y.Hou@newegg.com"/>

  <!-- CSS File XML location -->
  <add key="cssconfiglocation" value="Configurations/CssConfigLocation.config"/>
  

  <!-- TWNewegg.Common -->
  <add key="2.0MailList" value="Configurations/MailList.config"/>
  <!-- end TWNewegg.Common-->

  <!-- Header Welcome Word -->
  <add key="HeaderWelcomeWord0" value="Hi, {email}，您好！"/>
  <add key="HeaderWelcomeWord1" value="Hi, {email}，聖誕佳節愉快！"/>
  <add key="HeaderWelcomeWord1StartDate" value="201512210000"/>
  <add key="HeaderWelcomeWord1EndDate" value="201512280000"/>
  <add key="HeaderWelcomeWord2" value="Hi, {email}，新年快樂！"/>
  <add key="HeaderWelcomeWord2StartDate" value="201512280000"/>
  <add key="HeaderWelcomeWord2EndDate" value="201601050000"/>
  <!-- end Header Welcome Word-->

  <!--左邊清單最上面設定的ID-->
  <add key="categoryMenuTopID" value="5"/>
  <!--end of 左邊清單最上面設定的ID-->
  <add key="SellerProtalIP_PRQ" value="http://172.22.55.134:71/"/>
  <add key="SellerProtalIP_GQC" value="http://10.16.131.41:71/"/>
  <add key="SellerProtalIP_DEV" value="http://10.16.131.41:71/"/>

  <!-- SO建立取代SP, New: 新流程, Old: 舊流程, Parallel: 並行寫temp, 其他value: 舊流程 -->
  <add key="SOFlowSelect" value="Parallel"/>

</appSettings>