<?xml version="1.0"?>
<ServiceApiAddressList>
  <ServiceApiAddress alias="e10srv" address="http://10.16.131.67:81/" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />
  <ServiceApiAddress alias="e10web01" address="http://localhost:50118/" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />
  <ServiceApiAddress alias="e10vnd01" address="http://10.16.131.69:71" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />
  <!--<ServiceApiAddress alias="e10srv02" address="http://10.16.131.67:81" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />

  
  <ServiceApiAddress alias="e10srv" address="http://localhost:50278/" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />
  <ServiceApiAddress alias="e10vnd01" address="http://10.16.131.69:71" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />
  <ServiceApiAddress alias="e10ipp01" address="http://10.16.131.67" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />-->

  <!--<ServiceApiAddress alias="e10srvgqc" address="http://10.16.131.67:81" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />-->
  <!--<ServiceApiAddress alias="e10srvgqc" address="http://10.16.131.42" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />-->
  <!--<ServiceApiAddress alias="e10vndgqc01" address="http://10.16.131.69:71" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />  
  <ServiceApiAddress alias="e10ippgqc01" address="http://10.16.131.67" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />-->
  <!--<ServiceApiAddress alias="e10ippgqc01" address="http://localhost:62958" baseUrl="/api" apiPath="/ServiceApi/Process" latency="0" />-->

</ServiceApiAddressList>
