<?xml version="1.0" encoding="UTF-8"?>
<WebSiteList>
  <WebSiteData>
    <ID>0</ID>
    <CompanyName>台灣新蛋網股份有限公司</CompanyName>
    <SiteName>新蛋全球生活網</SiteName>
    <Abbreviation>新蛋</Abbreviation>
    <VATNumber>24721751</VATNumber>
    <Contact1>新蛋全球生活網客服中心</Contact1>
    <Contact2>新蛋供應商服務專線</Contact2>
    <PhoneNumber1>02-8175-5969</PhoneNumber1>
    <PhoneNumber2>02-8170-6025</PhoneNumber2>
    <PhoneNumber3>02-8170-6026</PhoneNumber3>
    <Fax1>02-2712-0721</Fax1>
    <Fax2></Fax2>
    <Address1>台北市松山區民生東路三段133號14樓</Address1>
    <Address2></Address2>
    <City>台北市</City>
    <Country>台灣省</Country>
    <Zipcode>10596</Zipcode>
    <Email1>service@newegg.com.tw</Email1>
    <Email2></Email2>
    <EmailSenderName></EmailSenderName>
    <CompanyName_Eng>Newegg Taiwan International E-Commerce Co., Ltd.</CompanyName_Eng>
    <SiteName_Eng>Newegg.tw</SiteName_Eng>
    <Shortname_Eng>NEWEGG, Inc.</Shortname_Eng>
    <Contact_Eng>ABC</Contact_Eng>
    <PhoneNumber1_Eng>+886-2-8175-5969</PhoneNumber1_Eng>
    <PhoneNumber2_Eng>+886-2-8170-6025</PhoneNumber2_Eng>
    <Fax1_Eng>+886-2-2712-0721</Fax1_Eng>
    <Fax2_Eng>ABC</Fax2_Eng>
    <Address1_Eng>14F., No.133, Sec. 3, Minsheng E. Rd., Songshan Dist., Taipei City 105, Taiwan (R.O.C.)</Address1_Eng>
    <Address2_Eng></Address2_Eng>
    <City_Eng>Taipei City</City_Eng>
    <Country_Eng>Taiwan</Country_Eng>
    <ServiceTime>週一至週五 08:30 am ~ 17:30 pm</ServiceTime>
  </WebSiteData>
  <WebSiteData>
    <ID>1</ID>
    <CompanyName>ABC</CompanyName>
    <SiteName>ABC</SiteName>
    <Abbreviation>ABC</Abbreviation>
    <VATNumber>ABC</VATNumber>
    <Contact1>ABC</Contact1>
    <Contact2>ABC</Contact2>
    <PhoneNumber1>ABC</PhoneNumber1>
    <PhoneNumber2>ABC</PhoneNumber2>
    <Fax1>ABC</Fax1>
    <Fax2>ABC</Fax2>
    <Address1>ABC</Address1>
    <Address2>ABC</Address2>
    <City>ABC</City>
    <Country>ABC</Country>
    <Zipcode>ABC</Zipcode>
    <Email1>ABC</Email1>
    <Email2>ABC</Email2>
    <EmailSenderName>ABC</EmailSenderName>
    <CompanyName_Eng>ABC</CompanyName_Eng>
    <SiteName_Eng>ABC</SiteName_Eng>
    <Shortname_Eng>ABC</Shortname_Eng>
    <Contact_Eng>ABC</Contact_Eng>
    <PhoneNumber1_Eng>ABC</PhoneNumber1_Eng>
    <Fax1_Eng>ABC</Fax1_Eng>
    <Fax2_Eng>ABC</Fax2_Eng>
    <Address1_Eng>ABC</Address1_Eng>
    <Address2_Eng>ABC</Address2_Eng>
    <City_Eng>ABC</City_Eng>
    <Country_Eng>ABC</Country_Eng>
  </WebSiteData>
</WebSiteList> 