<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="..\Libraries" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="false" />
  </solution>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="False" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="False" />
  </packageRestore>
</configuration>