//compileCompressed: ../css/commonGeneral.css,﻿  includePath: includes/﻿
@import "compass";
@import "compass/reset";
@import "_importSCSS";

//基本框架
html {
	min-width:1024px;
}
body {
	min-width:1024px;
	font-family:微軟正黑體;
	color:#666;
}

//超連結
a {
	@include transition(100);
	text-decoration:none;
	color:#698eb8;
	border-bottom:1px solid #698eb8;outline:none;
	&:hover {
		color:#698eb8;
	}
	&:visited {
		color:#698eb8;
	}
}

.header-limiter,
.topper-limiter,
.footer-limiter {
	@extend .clear;
	@include clearAfter;
	margin:0 auto;
	padding-left:$RWDMainPadding;
	padding-right:$RWDRightPadding;
	width:$RWDMaxWidth;
	@media screen and (max-width: 1280px) {
		padding-left:10px;//手機修正
		padding-right:0;//手機修正
		width:$RWDMinWidth;
	}
}

//所有內頁共同Padding
.mainPadding {
	@include mainPaddingArea;
}

//Banner Loading字定位
div.bannerLoad {
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align:center;
	img {
		display:inline;
		vertical-align:bottom;
	}
}

.header .icon {margin:0;float:none;}
.header .panel .icon ul {float:none;margin:0;}
.header .panel .icon li {margin:0;padding:0;float:none;}
.header .panel .icon li i {margin:0 auto;}
.header .group {width:300px;}
.header .panel, .header .panel .icon {float:none;margin:0 auto;}
.header .icon li {border:0;padding:0;}
.topper .searchbar .btn {margin:0;}

@mixin myAccountStyle {
	&:hover {
		background:#aaa;
		background-color:rgba(160, 160, 160, .7);
		i {
			&.icon {
				background-image:url(/Themes/img/panel-icon-hover.png);
			}
		}
	}
}

.header {
	@include clearAfter;
	height:100px;
	.header-limiter {
		@include clearAfter;
	}
	.welcome {
		color:#F37225;
	}
	.headerBN {
		margin-left:11px;
		width:300px;
		height:52px;
		overflow:hidden;
	}
	.quickMenu {
		@include clearAfter;
		float:right;
		>ul {
			float:left;
		}
		>ul >li {
			position:relative;
			float:left;
			width:110px;
			border:0 solid #8b8b8b;
			@media screen and (max-width: 1280px) {
				width:85px;
			}
			a {
				padding:25px 0 5px;
				border-bottom:0;
			}
			i {
				position:relative;
				width:25px;
				height:25px;
				&.icon {
					background-image:url(/Themes/img/header-icon.png);
					&.listi1 {background-position:0 -0px}
					&.listi2 {background-position:0 -29px}
					&.listi3 {background-position:0 -59px}
					&.listi4 {background-position:0 -89px;}
					&.listi5 {background-position:0 -119px}
				}
				.num {
					position:absolute;
					top:-2px;
					left:1px;
					width:25px;
					color:#ec8b54;
				}
			}
			+li {
				*border-left-width:1px;
				&:after {
					content:" ";
					display:block;
					position:absolute;
					top:10px;
					left:0;
					height:60px;
					border-left:1px solid #8b8b8b;
				}
			}
			&:hover, &.active {
				@include quickMenuStyle;
				background-color:#ec8b54;
				border-color:#ec8b54;
				&:after {
					border-color:#ec8b54;
				}
				+li {
					border-color:#ec8b54;
					&:after {
						top:0;
						height:70px;
						border-color:#ec8b54;
					}
				}
				i {
					&.icon {
						background-image:url(/Themes/img/header-icon-hover.png);
					}
					.num {
						color:#fff;
					}
				}
			}
		}
		li {
			@include quickMenuStyle;
			a {
				@include quickMenuStyle;
				display:block;
			}
			i {
				display:block;
				margin:0 auto;
				&.icon {
					background-repeat:no-repeat;
					background-position:center top;
				}
			}
		}
		//我的帳戶下拉
		.dropCon {
			display:none;
			position:absolute;
			top:70px;
			width:100%;
			background-color:rgba(255, 255, 255, .85);
			text-align:center;
			font-size:12px;
			>ul li {
				@include quickMenuStyle;
				width:100%;
				a {
					@include quickMenuStyle;
					padding:8px 0;
				}
				i {
					margin-top:5px;
					width:30px;
					height:30px;
					&.icon {
						background-image:url(/Themes/img/panel-icon.png);
						&.listi1 {background-position:0 -0px}
						&.listi2 {background-position:0 -50px}
						&.listi3 {background-position:0 -100px}
						&.listi4 {background-position:0 -150px;}
						&.listi5 {background-position:0 -200px}
						&.listi6 {background-position:0 -250px}
					}
				}
				@include myAccountStyle;
			}
		}
	}
}

.topper {
	@extend .clear;
	@include clearAfter;
	height:50px;
	.topperSpec {
		@include clearAfter;
		float:left;
		width:206px;
		height:50px;

		img {
			float:left;
		}
	}
	.searchbar {
		.input {
			background:#e0e0e0;
		}
	}
}

//側選單下拉
.mainMenuBox {
	position:relative;
	width:206px;
	height:25px;
}
.menudropDown {
	position:relative;
	z-index:9;
	padding:5px 0 4px;
	height:16px;
	overflow:hidden;
	background-image:url(/Themes/img/Icon/arrowUpDown.png);
	background-repeat:no-repeat;
	background-position:150px 9px;
	background-color:#d2d2d2;
	letter-spacing:2px;
	text-align:center;
	color:#666;
	cursor:pointer;
	&:hover, &.active {
		color:#fff;
		background-color:#bebebe;
	}
	&.active {
		background-position:150px -42px;
	}
}
#mainMenu {
	display:none;
	position:absolute;
	top:26px;
	left:0;
	z-index:99999999999999999999999999999999999;
}


.aside-icon .shoppingCart .count {margin:0;}
.aside-icon .service { background:none;}
.aside-icon .service .text {margin-top:0;}

//浮動小車
#FloatingAccount {
	z-index:9;
	* {position:static;float:none;}
	li {
		@include myAccountStyle;
		@include quickMenuStyle;
		padding:8px 0;
		a {
			@include quickMenuStyle;
			padding:8px 0;
			&:hover {
				color:#fff;
			}
		}
	}
	&.aside-icon {
		display:none;
		position:fixed;
		top:85%;
		right:0;
		cursor:pointer;
		.panel {
			margin:0;
			width:initial;
			height:initial;
			background:none;
		}
		.count {
			margin-left:3px;
			width:100%;
			height:100%;
			text-align:center;
			line-height:30px;
			font-size:16px;
			color:#fff;
		}
		.service {
			float:left;
			padding:5px 0;
			height:auto;
			background-color:#ec8b54;
			@include border-top-left-radius(5px);
			@include border-bottom-left-radius(5px);
			@include box-shadow(0 0 2px #666);
			.text {
				display:none;
				padding-left:13px;
				padding-top:5px;
				padding-bottom:5px;
				line-height:18px;
			}
			.pageTop {
				padding:3px 0 1px 2px;
				text-align: center;
				span{
					color:#fff;
					line-height:20px;
					-webkit-opacity: 0.6;
					-moz-opacity: 0.5;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
					filter: alpha(opacity = 60);
					opacity: 0.6;
					font-size: 14px;
					&:hover{
						-webkit-opacity: 1;
						-moz-opacity: 1;
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
						filter: alpha(opacity = 100);
						opacity:1;
					}
				}
				.icon{
					padding-left: 0px;
				}
			}
		}
		.FloatingCon {
			display:none;
			float:left;
			width:90px;
			background:#fff;
		}
	}
}

.bottomer .icon li i {background:none;}
.bottomer .icon {width:auto;}
.bottomer .icon li {border:0;float:none;}

.bottomer {
	@include clearAfter;
	$bottomerBoxWidth:120px;
	$bottomerBoxPadding:10px;
	$bottomerWidth:($bottomerBoxWidth + $bottomerBoxPadding * 2) * 5 + 4;
	margin:0 auto;
	width:$bottomerWidth;
	text-align:center;
	.icon {
		li {
			display:inline-block;
			*float:left;
			padding:0 $bottomerBoxPadding;
			width:$bottomerBoxWidth;
			.pic {
				width:$bottomerBoxWidth;
				img {
					max-width:$bottomerBoxWidth;
					max-height:60px;
				}
			}
			+li {
				border-left:1px solid #000;
			}
		}
	}
}

.footer {
	.footer-limiter {
		position:relative;
		li {
			margin-right:50px;
			@media screen and (max-width: 1280px) {
				margin-right:15px;
			}
		}
	}
	.infoArea {
		float:left;
		margin:50px 0 0 50px;
		width:260px;
		overflow:hidden;
		text-align:center;
		.map {
		}
		.code {
			@include clearAfter;
			float:right;
			height:157px;
			.ver {
				float:left;
				margin:20px 10px;
				a, a:hover {
					border:0;
					font-size:14px;
					text-decoration:none;
					font-weight:bold;
					color:#172d4b;
				}
				p {
					margin-bottom:5px;
					text-align:center;
				}
				img {
					width:95px;
					height:95px;
				}
			}
		}
	}
	.address {
		text-align:center;
		line-height: 25px;
	}
	//Back to top
	.pageTop {
		position:absolute;
		top:-21px;
		right:0px;
		width:40px;
		height:20px;
		background-image:url(/Themes/img/cd-top-arrow.svg);
		background-repeat:no-repeat;
		background-position:center;
		background-color:#698EB8;
		@include border-top-left-radius(20px);
		@include border-top-right-radius(20px);
		text-indent:100%;
		font-size:0;
		color:#fff;
		cursor:pointer;
		&:hover {

		}
	}
}

//Elevator
.elevator {
    display: none;
	position: fixed;
	left: 50%;
	z-index: 2;
	margin-left:-640px;
	width: 35px;
	height: auto;
	a, a:hover {
		display: block;
		width: 100%;
		height: 100%;
		border:0;
	}
	.menu {
		font-size: 13px;
		line-height: 1.2em;
		text-align: center;
	}
	.up, .down {
		.text {
			background:#a0a0a0;
			border:1px solid #adadad;
			font-size: 14px;
			color:#fff;
			&:hover {
				background:#787878;
				border-color:#787878;
			}
			&:before, &:after {
				content:" ";
				display:block;
				background-repeat:no-repeat;
				background-position:center;
			}
		}
	}
	.up .text {
		&:before {
			height: 12px;
			background-image:url(/Themes/img/Icon/navTop.png);
		}
	}
	.down .text {
		&:after {
			height: 12px;
			background-image:url(/Themes/img/Icon/navDown.png);
		}
	}
	.text {
		margin-bottom: 5px;
		padding:2px 0;
		width: 35px;
		height: (35px - 2 - 2);
		overflow:hidden;
		line-height:1.2em;
		background:#e6e6e6;
		border:1px solid #ccc;
		color:#737373;
		&:hover, &.active {
			background:#eb8a54;
			border-color:#eb8a54;
			a {
				color:#fff;
			}
		}
		a {
			height:30px;
			overflow:hidden;
			color:#737373;
		}
	}
}

//writer:vincent.c.su
//sampleAddress: none
//describe: logo牆for首頁及櫥窗頁面使用
.carousel-logo-wall {
	padding: 0 40px;
	background: #fff;
	overflow: hidden;

	border-width: 1px;
	border-style: solid;

	li {
		@include float(left);
		background: #fff;
		overflow: hidden;
		border-left: 1px dashed #d5d5d5;


		text-align: center;

		&:first-child { border-left: 0; }

		& > img {
			height: 100%;
		}
	}

	.prev,
	.next {
		position: absolute;
		top:0;
		display: block;
		width: 40px;
		height: 0;
		padding-top: 85px;
		overflow: hidden;
		margin: 0;
		&:before {
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			margin: -15px 0 0 -15px;
			content: "";
			display: block;
			width: 30px;
			height: 30px;
			overflow: hidden;
			background: url(/Themes/img/Icon/Close.png) center no-repeat;
		}



	}
	.prev {
		left:0px;
		&:before { @include rotate(-90deg); }

	}

	.next {
		right: 0px;
		&:before { @include rotate(90deg); }
	}
}

.carousel-logo-index {
	@include float(left);
	position: relative;
	margin-top:12px;
	width: 1094px;
	height:80px;
	border-color: #d5d5d5;

	li {
		width: 135.8px;
		height: 60px;
		margin:10px 0;

	}

	.prev,
	.next {
		padding-top: 80px;
		background: #b2b2b2;
	}
}



//writer: vincent.c.su
//write-date: 2015/10/20
//sampleAddress: none
//describe: 折價券及相關優惠狀態顯示for全站
.cartDiscount {
	margin-top:11px 5px 0 0;
	padding:3px 3px 1px 3px;

	font-size:15px;
	line-height:15px;

    &.borderRound {
        padding:0 6px;
		@include border-radius(4px);
    }

    &.borderBtn {
        height:20px;
        border-width: 0px 1px 0 1px;
        border-style: solid;
        border-color: #999;
        cursor:pointer;

        &:hover { color:#e6eb3e; }
        &:active,
        &.active {
            height: 20px;
            border-width: 1px 0 0 1px;
            border-style: solid;
            border-color: #999;
        }
    }

    &.bOcW {
        background-color:#e91;
        color:#fff;
        text-shadow:0 0 2px #880;
    }

    &.bYcB {
        background-color:#59f;
        color:#e6eb3e;
        text-shadow:0 0 2px #992;
    }

    &.bMcW {
        background-color:#f49;
        color:#fff;
        text-shadow:0 0 1px #992;
    }
}
