
@{
    TWNewEgg.GetConfigData.Models.WebSiteListWebSiteData WebSiteListWebSiteData = new TWNewEgg.GetConfigData.Models.WebSiteListWebSiteData(0);
}
<div class="simpleFooterArea">
    <hr />
    <h2>@(WebSiteListWebSiteData.SiteName)</h2>
    <p>客服專線 @(WebSiteListWebSiteData.PhoneNumber2)</p>
    <p>專人送禮 @(WebSiteListWebSiteData.PhoneNumber3)</p>
    <p>@(WebSiteListWebSiteData.ServiceTime)</p>
    
    <p>©@(WebSiteListWebSiteData.CompanyName) 版權所有</p>
</div>
