@model List<TWNewEgg.Models.ViewModels.Advertising.AdvEventDisplay>

@{    
    string strImageServer = "";
    strImageServer = System.Configuration.ConfigurationManager.AppSettings.Get("ECWebHttpsImgDomain") ?? string.Empty;
    if (Model != null)
    {
        if (!string.IsNullOrEmpty(Model[0].LinkUrl))
        { 
            @Html.Raw(String.Format("<a href='{0}' target='_blank'><img src='{1}' style='width: 100%'></a>", Model[0].LinkUrl, strImageServer + Model[0].ImgUrl))
        }
        else { 
            @Html.Raw(String.Format("<img src='{0}' style='width: 100%'>", strImageServer + Model[0].ImgUrl))
        }
    }
}