@{
    ViewBag.Title = "SetPassword";
    Layout = "~/Views/Shared/_LayoutNON.cshtml";
    //string ranCode = ViewBag.RanCode as string;
    //string UserEmail = ViewBag.UserEmail as string;
}

@Styles.Render("~/Themes/2013/stylesheets/StyleSheet1.css")
<script type="text/javascript">
    var PwdRule = /^(?=.*[a-zA-Z])(?=.*\d)(?=.{8,30})(?!.*[^\x21-\x7e]).*$/;

    $(function () {

        $("#DataSubmit").bind("click", function () {
            var CheckPwd = true;
            var NewPassword = $("#UserPwd").val();
            var ConfirmPassword = $("#ConfirmUserPwd").val();
            var RanCode = $("#RanCode").val();

            /* 密碼不可以為空 */
            if (NewPassword == null || NewPassword == "") {
                $("#Password_Rules").text("");
                $("#Password_Rules").text("密碼不可以為空");
                return false;
            }

            /* 密碼長度要大於八碼 */
            if (NewPassword.length < 8 && NewPassword != null && NewPassword != "") {
                $("#Password_Rules").text("");
                $("#Password_Rules").text("密碼長度不可以小於八碼");
                return false;
            }

            /* 密碼要有英文字、數字 */
            if (NewPassword != null && NewPassword != "" && NewPassword.search(PwdRule) < 0) {
                $("#Password_Rules").text("");
                $("#Password_Rules").text("密碼格式錯誤，請至少輸入至少一個英文字與數字");
                return false;
            }

            /* 密碼不可以為空 */
            if (ConfirmPassword == null || ConfirmPassword == "") {
                $("#Password_Rules").text("");
                $("#Password_Rules").text("確認密碼不可以為空");
                CheckPwd = false;
                return false;
            }

            /* 密碼長度要大於八碼 */
            if (ConfirmPassword.length < 8 && ConfirmPassword != null && ConfirmPassword != "") {
                $("#Password_Rules").text("");
                $("#Password_Rules").text("確認密碼長度不可以小於八碼");
                CheckPwd = false;
                return false;
            }

            /* 密碼要有英文字、數字 */
            if (ConfirmPassword != null && ConfirmPassword != "" && ConfirmPassword.search(PwdRule) < 0) {
                $("#Password_Rules").text("");
                $("#Password_Rules").text("確認密碼格式錯誤，請至少輸入至少一個英文字與數字，可輸入特殊符號，但不可輸入中文等其他語言文字");
                CheckPwd = false;
                return false;
            }

            /* 密碼與確認密碼要相同 */
            if (NewPassword != ConfirmPassword) {
                $("#Password_Rules").text("");
                $("#Password_Rules").text("密碼與確認密碼不相同，請重新輸入");
                CheckPwd = false;
                return false;
            }

            if (!CheckPwd) {
                return false;
            }
        });
    });

</script>


<div class="Wrapper">
    <h1 id="Header"><a href="https://sellerportal.newegg.com/" class="logo" title="Back landing page">Back landing page</a></h1>
    <div class="content">
        <div class="createAccount">
            <h2>Not a Seller on Newegg Marketplace? </h2>
            <p>Apply today to sell your items on Newegg Marketplace.</p>
            <div class="buttonBar">
                <a href="http://promotions.newegg.com/marketplace/merchants/apply.html" class="button btnA"><span><em>Apply Now</em></span></a>
            </div>
        </div>
        <div class="login">
            <form name="loginForm" action="/Account/SetPassword" method="post">
                <ul>
                    <li class="caption">
                        <strong class="icon iconPassword">請輸入密碼</strong>
                    </li>
                    <li class="form">
                        <div class="boxInputA">
                            <span class="circleL"></span><span class="circleR"></span>
                            <input type="password" class="input" value="" name="UserPwd" id="UserPwd" />
                        </div>
                    </li>
                    <li class="caption"><strong class="icon iconPassword">再次確認密碼</strong></li>
                    <li class="form">
                        <div class="boxInputA">
                            <span class="circleL"></span><span class="circleR"></span>
                            <input type="password" class="input" value="" name="ConfirmUserPwd" id="ConfirmUserPwd">
                        </div>
                    </li>
                    <li>
                        <div class="password_rules"><span id="Password_Rules" style="font-size: small; text-align: center; color: red"></span></div>
                        <input type="hidden" name="RanCode" value="@ViewBag.RanCode" />
                        <input type="hidden" name="UserEmail" value="@ViewBag.UserEmail" />
                        <input type="hidden" name="UserId" value="@ViewBag.UserId" />
                        <br />
                    </li>
                    @*<input type="hidden" name="LoginAppendix" value="7R0yeUCOqQvhlpdMco0HfoiH1VeLAs64l4d/r9wz+BIAvIstVsNkeImUk2ITBUKT" />*@
                </ul>

                <input type="submit" name="submit" id="DataSubmit" value="送出" class="k-button"/>
                @*<input type="image" src="https://ssl-images.newegg.com/WebResource/Themes/2005/Nest/SellerPortal/button/loginbutton.png" id="DataSubmit" onclick="CheckPassword()">*@

            </form>
        </div>

        <div class="clear"></div>
    </div>

    <div id="Footer">
        <a onclick="javascript:window.open(&#39;https://sellerportal.newegg.com/Pages/Account/PolicyAndAgreement.aspx&#39;,  &#39;newwindow&#39;, &#39;height=600,width=900, left=0,top=0,toolbar =no, menubar=no, scrollbars=no, resizable=no, location=no, status=no&#39;)" href="javascript:void(null);">Policy &amp; Agreement</a> | <a href="http://www.newegg.com/HelpInfo/PrivacySecurity.aspx">Privacy Policy</a> | © 2013 Newegg Inc. All rights reserved.
   
    </div>
</div>
