<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--Start Require by Framework Start-->

  <add key="RestServiceConfigFile" value="Configurations/RestServices.config" />
  <add key="ServiceApiAddressConfig" value="Configurations/ServiceApiAddress.config"/>
  <add key="MethodsConfig" value="Configurations/ServiceMethods.config"/>
  <add key="ComponentsConfig" value="Configurations/ServiceComponents.config"/>
  <add key="PublicMethodsConfig" value="Configurations/PublicMethods.config"/>
  <add key="ServiceApiCacheAppSetting" value="Configurations/ServiceApiCacheAppSettings.config"/>
  <!--End Require by Framework End-->
  <!--Start AesAccount Key Start-->
  <add key="aesippkey" value="103ggEwT"/>
  <!--End AesAccount Key End-->
  <add key="Environment" value=""/>
  <add key ="VF_NeweggAPIQ4S" value=""/>
  <add key="_NeweggAPIQ4S" value="http://10.1.54.148:8081/Q4SService/Q4sService.svc/QueryRawInventoryByItems?bizunit=USA"/>
  <add key="_NeweggAPIAppKey" value="2d84f3680d8db098ea6cdd704ad6bc4b"/>
  <add key="_NeweggAPIToken" value="cbe2ba33ebaffd03008eaff19fad271b"/>
  <!--可用便利商店Deliver.Code(新竹貨運宅配:801，HiLife店配:811，7-11店配:812，全家店配:812，OK店配:814)-->
  <add key="StoreDeliverCodes" value="801, 811"/>
  <!---12期零利率特定商家SellerID(目前暫時只有華克)-->
  <add key="PayConditionBySeller" value=""/>
  <!--華克商品但不提供12期零利率-->
  <add key="PayConditionByItemWithout12" value=""/>
  <!--<add key="PayConditionByItemWithout12" value="91316, 91318, 91321, 91323, 91324, 81841, 81842, 81843, 81867, 81844, 81846, 81847, 81851"/>-->
  <!--12期零利率特定商品ItemID-->
  <add key="PayConditionByItem" value=""/>

  <!--運費重量比例設定-->
  <add key="ProductWeightBelow5KG" value="1"/>
  <add key="ProductWeightOver5KG" value="1"/>
  <add key="JieMaiProductWeightOverPerkg" value="20"/>
  <add key="NeweggCNProductWeightOverPerkg" value="26"/>
  
  <!-- AllPay -->
  <add key="AllPay_ClientBackURL" value="https://secure.newegg.com.tw/Cart/Step3ResultPage?salesOrderGroupID="/>
  <!-- end of AllPay -->
  <add key="CartTempLimitedTimeOfMinute" value="-20"/>
  <add key="CartTempLimitedTimeOfMonth" value="-3"/>
  
  <!-- DataFeed FTP-->
  <add key="DataFeedFtp_Ip" value="ftp://ftp01.newegg.com.tw:2199"/>
  <add key="DataFeedFtp_UserName" value="guestdatafeed"/>
  <add key="DataFeedFtp_Pwd" value="TR$%29is"/>
  <!-- end of DataFeed FTP-->

  <!-- Solr Search -->
  <add key="SolrServerAddress" value="http://st02darendfs01:8080"/>
  <add key="SolrQueryPath" value="/solr/new_core/select"/>
  <!-- end of Solr Search -->

  <!--USA Update -->
  <add key="Environment" value=""/>
  <add key ="VF_NeweggAPIQ4S" value=""/>
  <add key="_NeweggAPIQ4S" value="http://10.1.54.148:8081/Q4SService/Q4sService.svc/QueryRawInventoryByItems?bizunit=USA"/>
  <add key="_NeweggAPIAppKey" value="2d84f3680d8db098ea6cdd704ad6bc4b"/>
  <add key="_NeweggAPIToken" value="cbe2ba33ebaffd03008eaff19fad271b"/>
  <add key="_NeweggAPICreateSOServiceKey" value=""/>
  <add key="_NeweggAPICreateSOService" value="https://api.newegg.com/ECSOAPI/Newegg.Website.WCFService.CreateSOService/Index.svc"/>
  <!--<add key="_NeweggAPICreateSOServiceKey" value="d4e6d018dc0adac5c4a4175cc2d663e8"/>-->
  <!--<add key="_NeweggAPICreateSOService" value="https://api.newegg.com/ECSOAPI/Newegg.Website.WCFService.CreateSOService/Index.svc"/>-->
  <!--end of USA Update -->

  <!--category image path begin-->
  <add key="HttpCategoryImagePath" value="/pic/category/"/>
  <!--category image path end-->

  <!--取得每日特定修改的Item-->

  <add key="GetItemTimeDefault" value="14:00:00"/>
  <!--end 取得每日特定修改的Item-->

  <!--使否啟用遞迴計算折價金額，使用on、不使用off-->
  <add key="RecursiveCalculation" value="off"/>
  <!--白名單轉黑名單，使用on、不使用off-->
  <add key="Discoloration" value="on"/>
  <!--買一送一活動PromotionGiftBasic.ID-->
  <add key="TwoForOneOffer" value=""/>
  
  <!--使否啟用遞迴計算折價金額，使用on、不使用off-->
  <add key="RecursiveCalculation" value="off"/>
  <!--白名單轉黑名單，使用on、不使用off-->
  <add key="Discoloration" value="on"/>
  <!--買一送一活動PromotionGiftBasic.ID-->
  <add key="TwoForOneOffer" value=""/>
  
  <!--信用卡紅利折抵-->
  <add key="HttpImageFolderAuditPass" value="/Pic/BankBonus"/>
  <!--end 信用卡紅利折抵-->
  <add key="ECWebHttpsImgDomain" value="https://negcdn.azureedge.net/www"/>

  <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=necdn;AccountKey=OGOcquNs7WdcN5YhUkEohawYEf6CDQrIZ5cX14eY2foDhr29kxPtZRSxfVXk5KvmbIE+1/Batp8dl3yZj6cwkg==" />

  <!--Hi-trust的Toolkit版本替換成.NET-->
  <add key="IsHiTrustPaymentService" value="Service.HiTrustPaymentService"/>
  <!--<add key="IsHiTrustPaymentService" value="Service.NetHiTrustPaymentService"/>-->

  <!--訂單錯誤記錄到本機 mysql -->
  <!--true: 會進行檢查正是資料庫是否連線正常; false: 不會檢查正是資料庫連線正不正常-->
  <add key="MySQLRecord" value="true"/>
  <!--end of訂單錯誤記錄到本機 mysql-->
  <!--是否正式跟MYSQL一起寫-->
  <add key="BothOfMSSQLAndMySQL" value="false"/>
  <!--end of是否正式跟MYSQL一起寫-->
  <!--是否決定要不要寫入 mysql database-->
  <add key="MySQLInsertRequest" value="false"/>
  <!--end of 是否決定要不要寫入 mysql database-->

<!--金流付款方式-->
  <add key="OpenPaytypeForTest" value="188,186,94,89,98,93,137,159,162,167,174,175,176,192,193,194,195,196,197,177,205,206,207,208,209,210,211,212,213,214,215,200,201,202,203,222"/>

  <!--會計文件-->
  <add key="FinanceConfig" value="Configurations/FinanceList.xml"/>
  
</appSettings>