<?xml version="1.0"?>
<appSettings>

  <add key="Environment" value="DEV"/>
  <add key="DEV_NeweggAPIAppKey" value=""/>
  <add key="DEV_NeweggAPIToken" value=""/>
  
  <add key="PRD_NeweggAPIAppKey" value="2d84f3680d8db098ea6cdd704ad6bc4b"/>
  <add key="PRD_NeweggAPIToken" value="cbe2ba33ebaffd03008eaff19fad271b"/>
  <add key="RestServiceConfigFile" value="Configurations/RestServices.config" />
</appSettings>