<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://www.tigraine.at/windsor-configuration.xsd"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.tigraine.at/windsor-configuration.xsd windsor-configuration.xsd">
  <components>
    <component id="RestServicesSettings"
               service="Newegg.Mobile.Rest.Client.RestServiceSettingCollection, Newegg.Mobile.Rest.Client"
               type="Newegg.Mobile.Rest.Client.RestServiceSettingCollection, Newegg.Mobile.Rest.Client">
      <parameters>
        <ServicesSettings>
          <list>
            <item>${Register}</item>
            <item>${Login}</item>
            <item>${MobileEquipmentCheckout}</item>
            <item>${AddPaymentMethod}</item>
            <item>${EditPaymentMethod}</item>
            <item>${ShippingAddressList}</item>
            <item>${AddShippingAddress}</item>
            <item>${PlaceOrder}</item>
            <item>${OrderHistory}</item>
            <item>${OrderDetail}</item>
            <item>${CancelOrder}</item>
            <item>${AllMenus}</item>
            <item>${Categories}</item>
            <item>${MoreCategories}</item>
            <item>${SubCategories}</item>
            <item>${MoreSubCategories}</item>
            <item>${Navigation}</item>
            <item>${SearchAdvanced}</item>
            <item>${ProductSimpleDetail}</item>
            <item>${ProductDetail}</item>
            <item>${ProductSpecification}</item>
            <item>${SimpleReviews}</item>
            <item>${ProductReviews}</item>
            <item>${SellerReturnPolicy}</item>
            <item>${ProductReturnPolicy}</item>
            <item>${ComboDeals}</item>
            <item>${NormalComboDetail}</item>
            <item>${ComboBundleDetail}</item>
            <item>${AddToWishList}</item>
            <item>${MoreDeals}</item>
            <item>${StoreContents}</item>
            <item>${NewStoresContent}</item>
            <item>${ShopAllNavigation}</item>
            <item>${MoreNavigation}</item>
            <item>${StoreNavigation}</item>
            <item>${MoreTabStore}</item>
            <item>${MoreCategories}</item>
            <item>${SearchAdvancedForIpad}</item>
            <item>${DIYPCCombo}</item>
            <item>${ShellShockers}</item>
            <item>${NewShellShocker}</item>
            <item>${NewSpotlight}</item>
            <itme>${NewDailyDeals}</itme>
            <itme>${NewMarketplaceSpecials}</itme>
            <!--Payment-->
            <item>${IphoneClient}</item>
            <!--FAQ-->
            <item>${GetServerInfo}</item>
            <item>${GetContact}</item>
            <item>${SendFeedBack}</item>
            <item>${GetWWWServerInfo}</item>
            <item>${GetSSLServerInfo}</item>
            <item>${PromotionActivity}</item>
            <!--Common-->
            <item>${CustomerTimeMachine}</item>
            <item>${SendEmail}</item>
          </list>
        </ServicesSettings>
      </parameters>
    </component>

    <component id="LocalServiceHostWWW"
           service="Newegg.Mobile.Rest.Client.RestServiceHostURL, Newegg.Mobile.Rest.Client"
           type="Newegg.Mobile.Rest.Client.RestServiceHostURL, Newegg.Mobile.Rest.Client">
      <parameters>
        <HostURL>
          <list>
            <!--Product-->
            <!--<item>http://www.ows.newegg.com</item>-->
            <!--<item>http://10.16.50.226:10008</item>-->
            <!--GQC-->
            <!--<item>http://10.1.24.151:10008</item>-->
            <!--<item>http://e4wwwtestmobile.newegg.com</item>-->
            <item>http://www.ows.newegg.com</item>
          </list>
        </HostURL>
      </parameters>
    </component>

    <component id="LocalServiceHostSSL"
           service="Newegg.Mobile.Rest.Client.RestServiceHostURL, Newegg.Mobile.Rest.Client"
           type="Newegg.Mobile.Rest.Client.RestServiceHostURL, Newegg.Mobile.Rest.Client">
      <parameters>
        <HostURL>
          <list>
            <!--<item>http://10.16.50.226:10009</item>-->
            <!--<item>http://10.1.24.151:10009</item>-->
            <!--<item>https://e4ssltestmobile.newegg.com</item>-->
            <item>https://secure.ows.newegg.com</item>
          </list>
        </HostURL>
      </parameters>
    </component>

    <component id="ServiceCommonHeader"
       service="System.Collections.Generic.Dictionary`2, mscorlib"
       type="System.Collections.Generic.Dictionary`2, mscorlib">
      <parameters>
        <dictionary>
          <dictionary>
            <entry key="X-Signature">test</entry>
            <entry key="User-Agent">Newegg Mobile Web Site</entry>
          </dictionary>
        </dictionary>
      </parameters>
    </component>

    <component id="Register"
       service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
       type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>Register</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>Register.egg/Quick</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="Login"
       service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
       type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>Login</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>Login.egg</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="MobileEquipmentCheckout"
       service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
       type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>MobileEquipmentCheckout</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>Checkout.egg</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="AddPaymentMethod"
       service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
       type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>AddPaymentMethod</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>customers/{customerNumber}/creditcards.egg/add</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="EditPaymentMethod"
       service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
       type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>EditPaymentMethod</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>customers/{customerNumber}/creditcards.egg/update</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="ShippingAddressList"
     service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
     type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>ShippingAddressList</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>customers/{customerNumber}/ShippingAddresses.egg</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="AddShippingAddress"
       service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
       type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>AddShippingAddress</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>customers/{customerNumber}/ShippingAddresses.egg/add</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="PlaceOrder"
       service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
       type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>PlaceOrder</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>Orders.egg</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="OrderHistory"
      service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
      type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>OrderHistory</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>customers/order.egg/list</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="OrderDetail"
      service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
      type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>OrderDetail</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>customers/order.egg/detail</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="CancelOrder"
      service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
      type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>CancelOrder</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>customers/order.egg/cancelorder</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="AllMenus"
       service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
       type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>AllMenus</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Stores.egg/AllMenus</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="ShellShockers"
      service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
      type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>ShellShockers</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Promotions.egg/ShellShockers</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="Categories"
         service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
         type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>Categories</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Stores.egg/Categories/{storeId}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="MoreCategories"
         service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
         type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>MoreCategories</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Stores.egg/MoreMenusCategories?storeId={storeId}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="SubCategories"
         service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
         type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>SubCategories</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Stores.egg/SubCategories/{storeId}/{categoryId}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="MoreSubCategories"
         service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
         type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>MoreSubCategories</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Search.egg/Advanced/AdvancedSearchForIpad</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="Navigation"
         service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
         type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>Navigation</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Stores.egg/Navigation/{storeId}/{categoryId}/{nodeId}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="SearchAdvanced"
         service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
         type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>SearchAdvanced</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Search.egg/Advanced/</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="ProductSimpleDetail"
         service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
         type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>ProductSimpleDetail</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>products.egg/{itemNumber}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="ProductDetail"
         service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
         type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>ProductDetail</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>products.egg/{itemNumber}/ProductDetails</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="ProductSpecification"
         service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
         type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>ProductSpecification</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>products.egg/{itemNumber}/Specification</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="SimpleReviews"
         service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
         type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>SimpleReviews</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Products.egg/{itemNumber}/Reviews/{page}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="ProductReviews"
         service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
         type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>ProductReviews</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Products.egg/{itemNumber}/ReviewsInfo/{pageNumber}?filter.time={time}&amp;filter.rating={rating}&amp;sort={sort}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="SellerReturnPolicy"
     service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
     type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>SellerReturnPolicy</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>SellerReturnPolicies.egg/{sellerId}/</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="ProductReturnPolicy"
     service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
     type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>ProductReturnPolicy</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>ReturnPolicies.egg/{id}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="ComboDeals"
     service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
     type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>ComboDeals</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Products.egg/{itemNumber}/combodeals/?SubCategory={subCategoryId}&amp;SortField={sortField}&amp;PageNumber={pageNumber}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="NormalComboDetail"
     service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
     type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>NormalComboDetail</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Combos.egg/{comboId}/DealsDetail/{itemNumber}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="ComboBundleDetail"
     service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
     type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>ComboBundleDetail</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Combos.egg/{comboId}/BundleDetail/</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="AddToWishList"
       service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
       type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>AddToWishList</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>wishlist.egg/items/add/</Segments>
        <RequestType>JSON</RequestType>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="MoreDeals"
       service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
       type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>MoreDeals</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Promotions.egg/MoreContent?storeDepa={moreStoreDepa}&amp;page={pageNumber}</Segments>
        <RequestType>JSON</RequestType>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="StoreContents"
       service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
       type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>StoreContents</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Stores.egg/Contents</Segments>
        <RequestType>JSON</RequestType>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="MoreTabStore"
   service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
   type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>MoreTabStore</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Stores.egg/MoreMenusNavigation</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="MoreCategories"
   service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
   type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>MoreCategories</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Stores.egg/MoreMenusCategories?storeId={storeId}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="SearchAdvancedForIpad"
   service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
   type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>SearchAdvancedForIpad</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Search.egg/Advanced/AdvancedSearchForIpad</Segments>
        <RequestType>JSON</RequestType>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="DIYPCCombo"
   service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
   type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>DIYPCCombo</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Stores.egg/MasterComboStore/?StoreId={storeId}&amp;page={pageNumber}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>
    <component id="GetServerInfo"
              service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
              type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>GetServerInfo</Name>
        <Verb>GET</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>server.egg</Segments>
        <RequestType>JSON</RequestType>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="GetContact"
              service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
              type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>GetContact</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Configuration.egg/ContactUs</Segments>
        <RequestType>JSON</RequestType>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="SendFeedBack"
              service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
              type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>SendFeedBack</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Feedback.egg</Segments>
        <ContentType>application/x-www-form-urlencoded</ContentType>
        <RequestType>HttpValueCollection</RequestType>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="GetWWWServerInfo"
              service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
              type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>GetWWWServerInfo</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Server.egg</Segments>
        <RequestType>JSON</RequestType>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="GetSSLServerInfo"
              service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
              type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>GetSSLServerInfo</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>Server.egg</Segments>
        <RequestType>JSON</RequestType>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="PromotionActivity"
              service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
              type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>PromotionActivity</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Promotions.egg/Activity</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="IphoneClient"
              service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
              type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>IphoneClient</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Configurations.egg/IphoneClient</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="ShopAllNavigation"
           service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
           type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>ShopAllNavigation</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Stores.egg/ShopAllNavigation</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="MoreNavigation"
              service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
              type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>MoreNavigation</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Stores.egg/MoreNavigation</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="StoreNavigation"
              service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
              type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>StoreNavigation</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Stores.egg/StoreNavigation?storeId={storeId}&amp;categoryId={categoryId}&amp;nodeId={nodeId}&amp;storeType={storeType}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="NewStoresContent"
           service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
           type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>NewStoresContent</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Stores.egg/Content?storeId={storeId}&amp;categoryId={categoryId}&amp;nodeId={nodeid}&amp;storeType={storeType}&amp;pageNumber={pageNumber}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="NewAdvanceSearch"
           service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
           type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>NewAdvanceSearch</Name>
        <Verb>Post</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Search.egg/Query</Segments>
        <RequestType>JSON</RequestType>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="NewShellShocker"
             service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
             type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>NewShellShocker</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Promotions.egg/NewShellShocker</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="NewSpotlight"
            service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
            type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>NewSpotlight</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Promotions.egg/NewSpotlight</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="NewDailyDeals"
           service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
           type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>NewDailyDeals</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Promotions.egg/DailyDeal</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="NewMarketplaceSpecials"
          service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
          type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>NewMarketplaceSpecials</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostWWW}</HostSetting>
        <Segments>Promotions.egg/NewMarketplaceSpecials</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="CustomerTimeMachine"
          service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
          type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>CustomerTimeMachine</Name>
        <Verb>Get</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>MyAccount.egg/TimeMachine?customerNumber={customerNumber}</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

    <component id="SendEmail"
               service="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client"
               type="Newegg.Mobile.Rest.Client.RestServiceSetting, Newegg.Mobile.Rest.Client">
      <parameters>
        <Name>SendEmail</Name>
        <Verb>POST</Verb>
        <Header>${ServiceCommonHeader}</Header>
        <HostSetting>${LocalServiceHostSSL}</HostSetting>
        <Segments>SendEmail.egg/</Segments>
        <ResponseType>JSON</ResponseType>
      </parameters>
    </component>

  </components>
</configuration>



