<div>
    <div class="content">
        <div>
            <label style="text-align:left; font-size:30px; color:red; font-weight:bolder">公佈欄</label>
        </div>
        <hr style="color:black;"/>
        <div id="xmlContent">
            @Html.Raw(ViewBag.xmlContent)
        </div>
    </div>
</div>
