@charset "UTF-8";
/* line 7, ../sass/StyleSheet2.scss */
.outline {
  width: 198px;
  font-family: "微軟正黑體";
}
/* line 10, ../sass/StyleSheet2.scss */
.outline .title {
  height: 23px;
  background: url("../img/nav_title_bg.gif") repeat-x;
  border: 1px solid #142b55;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #fff;
  line-height: 23px;
  cursor: pointer;
}
/* line 18, ../sass/StyleSheet2.scss */
.outline .title div {
  background: url("../img/icon/icon01.gif") no-repeat 6px 4px;
}
/* line 21, ../sass/StyleSheet2.scss */
.outline .title p {
  padding-left: 30px;
  height: 23px;
  background: url("../img/arr00.gif") no-repeat 180px 7px;
}
/* line 27, ../sass/StyleSheet2.scss */
.outline .navBox {
  border: 1px solid #ccc;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}
/* line 31, ../sass/StyleSheet2.scss */
.outline .navBox .nav {
  background: url("../img/nav_bg.gif") repeat-x;
  min-height: 25px;
  line-height: 25px;
  color: #27539c;
  cursor: pointer;
}
/* line 37, ../sass/StyleSheet2.scss */
.outline .navBox .nav a {
  display: block;
  background: url("../img/arr01.gif") no-repeat 185px 6px;
  text-decoration: none;
}
/* line 42, ../sass/StyleSheet2.scss */
.outline .navBox .nav:hover, .outline .navBox .nav.active {
  background: url("../img/nav_bg_hover.gif") repeat-x;
}
/* line 44, ../sass/StyleSheet2.scss */
.outline .navBox .nav:hover a, .outline .navBox .nav.active a {
  font-weight: bold;
  background: url("../img/arr01-1.gif") no-repeat 185px 6px;
}
/* line 50, ../sass/StyleSheet2.scss */
.outline .navBox .nav.active a {
  background: url("../img/arr02.gif") no-repeat 180px 10px;
}
/* line 54, ../sass/StyleSheet2.scss */
.outline .navBox .nav p {
  padding-left: 30px;
}
/* line 57, ../sass/StyleSheet2.scss */
.outline .navBox .nav.sty01 p {
  background: url("../img/icon/icon02.gif") no-repeat 6px 4px;
}
/* line 60, ../sass/StyleSheet2.scss */
.outline .navBox .nav.sty02 p {
  background: url("../img/icon/icon03.gif") no-repeat 6px 4px;
}
/* line 63, ../sass/StyleSheet2.scss */
.outline .navBox .nav.sty03 p {
  background: url("../img/icon/icon04.gif") no-repeat 6px 4px;
}
/* line 66, ../sass/StyleSheet2.scss */
.outline .navBox .nav.sty04 p {
  background: url("../img/icon/icon05.gif") no-repeat 6px 4px;
}
/* line 69, ../sass/StyleSheet2.scss */
.outline .navBox .nav.sty05 p {
  background: url("../img/icon/icon06.gif") no-repeat 6px 4px;
}
/* line 72, ../sass/StyleSheet2.scss */
.outline .navBox .nav.sty06 p {
  background: url("../img/icon/icon07.gif") no-repeat 6px 4px;
}
/* line 75, ../sass/StyleSheet2.scss */
.outline .navBox .nav.sty07 p {
  background: url("../img/icon/icon08.gif") no-repeat 6px 4px;
}
/* line 78, ../sass/StyleSheet2.scss */
.outline .navBox .nav.sty08 p {
  background: url("../img/icon/icon09.gif") no-repeat 6px 4px;
}
/* line 81, ../sass/StyleSheet2.scss */
.outline .navBox .nav.sty09 p {
  background: url("../img/icon/icon10.gif") no-repeat 6px 4px;
}
/* line 84, ../sass/StyleSheet2.scss */
.outline .navBox .nav.sty10 p {
  background: url("../img/icon/icon11.gif") no-repeat 6px 4px;
}
/* line 88, ../sass/StyleSheet2.scss */
.outline .navBox .subox {
  background: #eef4fb;
  border-bottom: 1px solid #ccc;
}
/* line 91, ../sass/StyleSheet2.scss */
.outline .navBox .subox .tit {
  display: none;
}
/* line 96, ../sass/StyleSheet2.scss */
.outline .navBox .subox .ss + .ss a {
  border-top: 1px solid #ccc;
}
/* line 100, ../sass/StyleSheet2.scss */
.outline .navBox .subox .ss:hover, .outline .navBox .subox .ss.active {
  background: url("../img/arr03.gif") no-repeat 11px 9px;
}
/* line 102, ../sass/StyleSheet2.scss */
.outline .navBox .subox .ss:hover a, .outline .navBox .subox .ss.active a {
  background: #e6eef9;
  font-weight: bold;
}
/* line 107, ../sass/StyleSheet2.scss */
.outline .navBox .subox .ss.active {
  background: url("../img/arr04.gif") no-repeat 11px 9px;
}
/* line 109, ../sass/StyleSheet2.scss */
.outline .navBox .subox .ss.active a {
  background: #fdebd0;
  color: #e47a1b;
}
/* line 115, ../sass/StyleSheet2.scss */
.outline .navBox .subox a {
  margin-left: 30px;
  background: #fff;
  border-left: 1px solid #ccc;
  font-weight: normal;
  line-height: 1.5em;
  padding: 3px 5px;
}
/* line 125, ../sass/StyleSheet2.scss */
.outline.thin {
  width: 43px;
}
/* line 128, ../sass/StyleSheet2.scss */
.outline.thin .title p {
  background: url("../img/arr00-1.gif") no-repeat 30px 7px;
  text-indent: -99999px;
  *text-indent: 0;
  *font-size: 0;
  *line-height: 0;
}
/* line 136, ../sass/StyleSheet2.scss */
.outline.thin .navBox {
  text-indent: -99999px;
  overflow: visible;
}
/* line 139, ../sass/StyleSheet2.scss */
.outline.thin .navBox .nav {
  position: relative;
  background: url("../img/arr01.gif") no-repeat 30px 6px, url("../img/nav_bg.gif") repeat-x;
}
/* line 142, ../sass/StyleSheet2.scss */
.outline.thin .navBox .nav:hover, .outline.thin .navBox .nav.active {
  background: url("../img/arr01-1.gif") no-repeat 30px 6px, url("../img/nav_bg_hover.gif") repeat-x;
}
/* line 145, ../sass/StyleSheet2.scss */
.outline.thin .navBox .nav a {
  padding: 0;
}
/* line 149, ../sass/StyleSheet2.scss */
.outline.thin .navBox .subox {
  position: absolute;
  top: 0;
  left: 41px;
  z-index: 99;
  width: 180px;
  background: #c6dbef;
  border: 1px solid #91bbe3;
  text-indent: 0;
}
/* line 158, ../sass/StyleSheet2.scss */
.outline.thin .navBox .subox .tit {
  display: block;
  position: relative;
  left: -1px;
  padding-left: 6px;
  width: 175px;
  height: 24px;
  background: #c6dbef;
  font-weight: bold;
}
/* line 169, ../sass/StyleSheet2.scss */
.outline.thin .navBox .subox .sub {
  margin: 3px;
  background: #fff;
  border: 1px solid #f0b563;
}
/* line 175, ../sass/StyleSheet2.scss */
.outline.thin .navBox .subox .sub .ss:hover a, .outline.thin .navBox .subox .sub .ss.active a {
  background: url("../img/arr03.gif") no-repeat 11px 9px #e6eef9;
  font-weight: bold;
}
/* line 181, ../sass/StyleSheet2.scss */
.outline.thin .navBox .subox .sub .ss.active a {
  background: url("../img/arr04.gif") no-repeat 11px 9px #fdebd0;
  color: #e47a1b;
}
/* line 188, ../sass/StyleSheet2.scss */
.outline.thin .navBox .subox a {
  margin-left: 0;
  padding-left: 30px;
  border: 0;
}
