/* line 17, C:/Users/nc66/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Users/nc66/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Users/nc66/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Users/nc66/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Users/nc66/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Users/nc66/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Users/nc66/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Users/nc66/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Users/nc66/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/StyleSheet1.scss */
.icon {
  float: left;
  padding: 0 0 0 24px;
  height: 16px;
  background: url("https://ssl-images.newegg.com/WebResource/Themes/2005/Nest/SellerPortal/icon/icon.png") no-repeat;
  line-height: 16px;
}

/* line 13, ../sass/StyleSheet1.scss */
.boxInputA, .boxInputB {
  display: inline;
  float: left;
  width: 300px;
  height: 36px;
  overflow: hidden;
  background: url("https://ssl-images.newegg.com/WebResource/Themes/2005/Nest/SellerPortal/bg/boxInput.png") repeat-x 0 -72px;
}
/* line 20, ../sass/StyleSheet1.scss */
.boxInputA input, .boxInputB input {
  float: left;
  margin-top: 3px;
  padding: 6px 0 0 7px;
  width: 285px;
  height: 24px;
  border: 0;
  font-size: 14px;
}

/* line 30, ../sass/StyleSheet1.scss */
.circleL, .circleR {
  float: left;
  width: 4px;
  overflow: hidden;
  background: url("https://ssl-images.newegg.com/WebResource/Themes/2005/Nest/SellerPortal/bg/boxInput.png") no-repeat;
}

/* line 36, ../sass/StyleSheet1.scss */
.boxInputA .circleL {
  height: 36px;
  background-position: 0 0;
}

/* line 40, ../sass/StyleSheet1.scss */
.boxInputA .circleR {
  float: right;
  height: 36px;
  background-position: 0 -36px;
}

/* line 45, ../sass/StyleSheet1.scss */
a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #95a0aa;
}
/* line 49, ../sass/StyleSheet1.scss */
a:link, a:active {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #95a0aa;
}

/* line 55, ../sass/StyleSheet1.scss */
input, img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/* line 60, ../sass/StyleSheet1.scss */
p {
  line-height: 1.8em;
}

/* line 63, ../sass/StyleSheet1.scss */
strong {
  font-weight: bold;
}

/* line 66, ../sass/StyleSheet1.scss */
.Wrapper {
  margin: 0 auto;
  width: 920px;
}

/* line 70, ../sass/StyleSheet1.scss */
h1 {
  font-size: 1em;
}
/* line 72, ../sass/StyleSheet1.scss */
h1 .logo {
  display: block;
  margin: 45px auto 0 auto;
  width: 283px;
  height: 104px;
  overflow: hidden;
  /*background: url("https://ssl-images.newegg.com/WebResource/Themes/2005/Nest/SellerPortal/logo.png") no-repeat;*/
  background: url("/Themes/Logo/VendorPortal_Logo.gif") no-repeat;
  
  text-indent: -9999em;
}

/* line 82, ../sass/StyleSheet1.scss */
h2 {
  height: 35px;
  color: #CB6000;
  font-size: 1.4em;
}

/* line 87, ../sass/StyleSheet1.scss */
.buttonBar {
  padding: 10px 0;
  height: 36px;
  overflow: hidden;
}

/* line 92, ../sass/StyleSheet1.scss */
.button {
  display: inline;
  float: left;
  margin-right: 15px;
  padding-left: 10px;
  background: url("https://ssl-images.newegg.com/WebResource/Themes/2005/Nest/SellerPortal/button/button.png") no-repeat;
  text-decoration: none;
}
/* line 99, ../sass/StyleSheet1.scss */
.button span {
  float: left;
  padding: 0 18px 0 5px;
  overflow: hidden;
  background: url("https://ssl-images.newegg.com/WebResource/Themes/2005/Nest/SellerPortal/button/button.png") no-repeat;
}

/* line 106, ../sass/StyleSheet1.scss */
.content {
  padding: 20px 0 30px 75px;
  background: url("https://ssl-images.newegg.com/WebResource/Themes/2005/Nest/SellerPortal/bg/line_body.png") no-repeat top center;
}
/* line 109, ../sass/StyleSheet1.scss */
.content .buttonBar {
  height: 70px;
}
/* line 111, ../sass/StyleSheet1.scss */
.content .buttonBar .btnA {
  background-position: left 0;
  font-size: 14px;
}
/* line 114, ../sass/StyleSheet1.scss */
.content .buttonBar .btnA span {
  height: 36px;
  background-position: right -36px;
  line-height: 36px;
}
/* line 121, ../sass/StyleSheet1.scss */
.content .createAccount {
  float: left;
  padding-left: 20px;
  width: 450px;
  display: none;
}
/* line 126, ../sass/StyleSheet1.scss */
.content .createAccount .silverlight {
  padding-top: 10px;
  height: 60px;
  overflow: hidden;
}
/* line 132, ../sass/StyleSheet1.scss */
.content .login {
  /*float:right;*/
  width: 380px;
  margin: 0 auto;
}
/* line 136, ../sass/StyleSheet1.scss */
.content .login .caption {
  height: 24px;
}
/* line 138, ../sass/StyleSheet1.scss */
.content .login .caption .iconID {
  background-position: left -80px;
}
/* line 141, ../sass/StyleSheet1.scss */
.content .login .caption .exampleEmail {
  font-weight: bold;
  font-size: 10px;
  color: #666;
  margin-left: 10px;
}
/* line 147, ../sass/StyleSheet1.scss */
.content .login .caption .iconPassword {
  background-position: left -120px;
}
/* line 151, ../sass/StyleSheet1.scss */
.content .login .form {
  height: 50px;
}
/* line 154, ../sass/StyleSheet1.scss */
.content .login .remember {
  height: 30px;
}
/* line 156, ../sass/StyleSheet1.scss */
.content .login .remember a {
  padding-left: 5px;
  font-size: 0.9em;
}
.content .Help {
  width: 800px;  
}
.content .ResetAccount {
      float: left;
      padding-left: 20px;
      width: 446px;
      margin-right: 20px;
}

/* line 165, ../sass/StyleSheet1.scss */
#Footer {
  padding: 15px 0;
  background: url("https://ssl-images.newegg.com/WebResource/Themes/2005/Nest/SellerPortal/bg/line_part.png") no-repeat top center;
  color: #999;
  font-size: 0.9em;
  text-align: center;
}
